<%- include head %>
  <body>
 
    <%- include navbar %>
	
	<div class="jumbotron">
		<div class="container">
		<h1><%= title %></h1>
		<p>講師：<%= instructor %></p>
		
		<a href="http://www.facebook.com/yohsuke.nakano" target="_blank" type="button" class="btn btn-default btn-lg btn-primary">
				<i class="glyphicon glyphicon-comment"></i>
				Facebook
		</a>
		<a href="https://twitter.com/YOH_NAK" target="_blank" type="button" class="btn btn-default btn-lg btn-info">
				<span class="glyphicon glyphicon-comment"></span>
				Twitter
		</a>
		<!-- Single button -->
		<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-lg btn-danger" data-toggle="dropdown">
		<i class="glyphicon glyphicon-book"></i>旧資料 <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="http://schoolwebapp2012.web.fc2.com/" target="_blank">2012年5月開講Webアプリケーションプログラミング習得科</a></li>
		<li><a href="http://schooldb2012.web.fc2.com/" target="_blank">2011年11月開講WEBデータベースアプリケーション習得科</a></li>
		<li><a href="http://schoolns2012.web.fc2.com/" target="_blank">2011年11月開講ネットショップ運営管理習得科</a></li>
		<li class="divider"></li>
		<li><a href="http://hitkikin.web.fc2.com/" target="_blank">2011年以前の講座</a></li>
		</ul>
		</div>
		</div>
	</div>
	
    <div class="container">
      <div class="row">

        <div class="col-sm-6">

			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">テキストサンプル</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs" style="margin-bottom:15px;">
					<li class="active"><a href="#html5" data-toggle="tab">HTML5</a></li>
					<li><a href="#css3" data-toggle="tab">CSS3</a></li>
					<li><a href="#layout" data-toggle="tab">レイアウト</a></li>
					<li><a href="#jquery" data-toggle="tab">jQuery</a></li>
					<li><a href="#sphone" data-toggle="tab">スマホ</a></li>
					<li><a href="#jqm" data-toggle="tab">JQM</a></li>
					<li><a href="#rwd" data-toggle="tab">RWD</a></li>
					<li><a href="#js" data-toggle="tab">JS</a></li>
					<li><a href="#ajax" data-toggle="tab">Ajax</a></li>
					<li><a href="#develop" data-toggle="tab">開発</a></li>
					<li><a href="#library" data-toggle="tab">ライブラリ</a></li>
					<li><a href="#ss" data-toggle="tab">サーバーサイド</a></li>
					</ul>

					<div class="tab-content">
					<div class="tab-pane active" id="html5">
						<!-- Table -->
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>書籍名</th>
								<th>出版社</th>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://book.mynavi.jp/support/pc/4532/" target="_blank">HTML5スタンダードデザインガイド</a></td>
								<td>マイナビ</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://gihyo.jp/book/2012/978-4-7741-5022-2" target="_blank">HTML5マークアップ入門</a></td>
								<td>技術評論社</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://gihyo.jp/book/2013/978-4-7741-5551-7" target="_blank">速習Webデザイン HTML&CSS</a></td>
								<td>技術評論社</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.shuwasystem.co.jp/products/7980html/3799.html" target="_blank">はじめてのHTML+CSS</a></td>
								<td>秀和システム</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.shuwasystem.co.jp/support/7980html/3445.html" target="_blank">WebデザイナーのためのHTML5入門</a></td>
								<td>秀和システム</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.seshop.com/product/detail/15465" target="_blank">HTML&CSS標準デザイン講座</a></td>
								<td>翔泳社</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://isbn.sbcr.jp/72960/" target="_blank">スラスラわかるHTML&CSSのきほん</a></td>
								<td>Sofbank Creative</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.sbcr.jp/products/4797369571.html" target="_blank">Webサイト制作者のためのHTML5入門</a></td>
								<td>Sofbank Creative</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.socym.co.jp/book/872" target="_blank">HTML5&CSS3レッスンブック</a></td>
								<td>ソシム</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://www.socym.co.jp/book/815" target="_blank">HTML5&CSS3ステップアップブック</a></td>
								<td>ソシム</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.socym.co.jp/book/827" target="_blank">Dreamweaver+HTML5+CSS3レッスンブック</a></td>
								<td>ソシム</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://mdn.co.jp/di/book/6291/" target="_blank">すべての人に知っておいてほしいHTML5&CSS3の基本原則</a></td>
								<td>MDN</td>
							</tr>
						</table>
					
					</div>
					<div class="tab-pane" id="css3">
						<!-- Table -->
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>書籍名</th>
								<th>出版社</th>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://book.mycom.co.jp/support/pc/css3_standard/" target="_blank">CSS3スタンダードデザインガイド</a></td>
								<td>マイナビ</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://book.mynavi.jp/support/pc/4696/" target="_blank">CSS3スタンダードデザインガイド[改訂第２版]</a></td>
								<td>マイナビ</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://book.mycom.co.jp/support/pc/css3pro/" target="_blank">CSS3デザインプロフェッショナルガイド</a></td>
								<td>マイコミ</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.sotechsha.co.jp/sp/930/" target="_blank">CSS3 Design Book</a></td>
								<td>ソーテック社</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.seshop.com/product/detail/13586/" target="_blank">10日でおぼえるCSS/CSS3入門教室</a></td>
								<td>翔泳社</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://www.impressjapan.jp/books/1113101021" target="_blank">Web制作者のためのSassの教科書</a></td>
								<td>インプレスジャパン</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://download.mdn.co.jp/3212203036page2/" target="_blank">現場で役立つCSS3デザインパーツライブラリ</a></td>
								<td>MDN</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.mdn.co.jp/di/book/6253/" target="_blank">CSS3デザインブック</a></td>
								<td>MDN</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.mdn.co.jp/di/book/3213303008/" target="_blank">実践Webデザイン jQuery+CSSフレームワークでサクサクつくる「動き」と「仕掛け」</a></td>
								<td>MDN</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.rutles.net/books/289.html" target="_blank">魅せるスマートフォンサイトを実現！CSS3アニメーション・ブック for iPhone & Android</a></td>
								<td>ラトルズ</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane" id="layout">
<pre>
HTML&CSS3レイアウトブック（ソーテック社）
http://www.sotechsha.co.jp/sp/890/


HTM&スタイルシートレイアウトブック（ソーテック社）
http://www.sotechsha.co.jp/sp/721/


サイトのタイプ別につくるWebデザインテクニックブック（MDN）
http://www.mdn.co.jp/di/book/6302/


HTML+CSSデザイン|基本原則、これだけ。【HTML5 & CSS3対応版】 （MDN）


Webサイトリフォーム実践サンプル（技術評論社）
http://gihyo.jp/book/2013/978-4-7741-5765-8/support
</pre>

					</div>
					<div class="tab-pane" id="jquery">
<pre>
Web制作の現場で使うjQueryデザイン入門（ASCII）
http://go.ascii.jp/?jquery_sample

Web制作の現場で使うjQueryデザイン入門[改定新板]（ASCII）
http://go.ascii.jp/?njq_sample

つくって覚えるjQuery入門（ASCII）
http://books.ascii.jp/9784048708616

やさしくはじめるWebデザイナーのためのjQueryの学校
http://book.mynavi.jp/support/pc/4493/

jQuery+JavaScript実践リファレンス（ソシム）
http://www.socym.co.jp/book/649

JavaScript&jQueryレッスンブック（ソシム）

すべての人に知っておいてほしいjQuery&jQuery Mobileの基本原則（MDN）
http://www.mdn.co.jp/di/book/6298/

現場で役立つjQueryデザインパーツライブラリ（MDN）
http://www.mdn.co.jp/di/book/3212203037/?page=2&direct=1

jQueryデザインブック（MDN）
http://www.mdn.co.jp/di/book/6213/

jQueryプラグイン徹底活用（MDN）
http://www.mdn.co.jp/di/book/6272/

現場で役立つjQueryデザインパーツライブラリ（MDN）

jQuery+CSSフレームワークでサクサクつくる「動き」と「仕掛け」（MDN）

10日でおぼえるjQuery入門教室（翔泳社）
http://books.shoeisha.co.jp/book/b88461.html
</pre>
					</div>
					<div class="tab-pane" id="sphone">

<pre>

スマートフォンサイトのためのHTML5+CSS3（マイナビ）
http://book.mynavi.jp/support/pc/4332/


サンプルで学ぶ魅せるスマートフォンサイト・デザイン（マイナビ）
http://book.mynavi.jp/support/pc/3542/


iPhone+Androidスマートフォンサイト制作入門（ASCII）
http://go.ascii.jp/?smartphone_sample

iPhone+Android スマートフォンサイト制作入門[改訂新版]（ASCII）
http://go.ascii.jp/?nsp_sample

スマートフォンサイト　コーディング＆デザイン（Softbank Creative）
http://www.sbcr.jp/products/4797367959.html

スマートフォンサイト実践デザイン入門（Softbank Creative）
http://www.sbcr.jp/products/4797372427.html

基本から学ぶHTML5+JavaScript iPhone/Android対応アプリの作り方（Softbank Creative）
http://isbn.sbcr.jp/67850/

スマートフォンアプリのためのUI&グラフィックデザイン（秀和システム）
http://www.shuwasystem.co.jp/support/7980html/2976.html

スマートフォンサイト制作ハンドブック（秀和システム）
http://www.shuwasystem.co.jp/support/7980html/3115.html

スマートフォンサイト制作ハンドブック第２版（秀和システム）
http://www.shuwasystem.co.jp/support/7980html/3577.html


現場のプロが教えるスマートフォンサイト制作ガイドブック（翔泳社）
http://www.seshop.com/product/detail/15407/


HTML5+CSS3で作る魅せるiPhoneサイト（Rutles）
http://www.ishowcase.jp/book/


すべての人に知っておいてほしいスマートフォンサイトデザインの基本原則（MDN）
http://www.mdn.co.jp/di/book/6284/


スマートフォンサイトデザインブック（MDN）
http://www.mdn.co.jp/di/book/6273/


iPhone&Android スマートフォンサイト制作の教科書（MDN）
http://www.mdn.co.jp/di/book/6223/
</pre>
					</div>
					<div class="tab-pane" id="jqm">
<pre>
Android/iPhone/Windows Phone対応 jQuery Mobileスマートフォンアプリ開発（Softbank Creative）
http://isbn.sbcr.jp/68734/

jQuery Mobile スマートフォンサイト デザイン入門（ASCII）
http://go.ascii.jp/?jqm_sample

jQuery Mobileパーフェクトガイド 基本からデザインカスタマイズ、パフォーマンスアップまで（インプレスジャパン）  
http://www.impressjapan.jp/books/3266

かんたん7ステップ きほんからわかる jQuery Mobileコーディング  （インプレスジャパン）
http://www.impressjapan.jp/books/3379

よくわかるjQuery Mobileのしくみ（日経BP）
×

jQuery MobileでかんたんスマートフォンむけWebサイト制作（カットシステム）
http://www.cutt.jp/book/jm_287/


jQuery Mobile 本格入門 ~スマートフォンのデザイン・開発の効率化からWebアプリケーション構築まで（技術評論社）
×

jQuery Mobile スマートフォンサイト制作入門コース （秀和システム） 
http://www.shuwasystem.co.jp/products/7980html/3313.html

jQuery Mobile（O'REILLY）
http://www.oreilly.co.jp/books/9784873115269/

実践 jQuery Mobile （O'REILLY）
</pre>	
					</div>
					<div class="tab-pane" id="rwd">
						
<pre>
レスポンシブ・ウェブデザイン標準ガイド（MDN）
http://www.mdn.co.jp/di/book/6266/


レスポンシブWebデザインテクニックブック プロが教えるマルチデバイス対応の手法（MDN）
http://www.mdn.co.jp/di/book/3212303018/ 



レスポンシブWebデザイン　マルチデバイス時代のコンセプトとテクニック（ASCII）
http://go.ascii.jp/?rwd_sample


レスポンシブWebデザイン「超」実践デザイン集中講義（Sofbank Creative）
http://isbn.sbcr.jp/73530/


レスポンシブWebデザイン 制作の実践的ワークフローとテクニック（ソシム）  
http://rwd-book.info/


レスポンシブWebデザイン入門 ~マルチデバイス時代のWebデザイン手法（マイナビ）
http://book.mycom.co.jp/support/bookmook/responsive_web_design/

</pre>
					</div>
					<div class="tab-pane" id="js">
<pre>

JavaScript&jQueryレッスンブック（ソシム）
http://www.socym.co.jp/book/794


JavaScript&Ajaxレッスンブック（ソシム）
http://www.socym.co.jp/book/623

JavaScriptマスターブック（マイコミ）


基礎から学べるJavaScript標準コースウェア（技術評論社）

ゼロからわかるJavaScrpt超入門（技術評論社）

JavaScript中級講座（技術評論社）

パーフェクトJavaScript（技術評論社）

JavaScript本格入門
http://www.wings.msn.to/index.php/-/A-03/978-4-7741-4466-5/

JavaScript①（翔泳社）


JavaScript②（翔泳社）


10日でおぼえるJavaScript入門教室第３版（翔泳社）
http://www.seshop.com/product/detail/14065/


はじめてのJavaScript（秀和システム）

マンガでわかるJavaScript（秀和システム）


オブジェクト指向JavaScript（ASCII）


すべての人に知っておいてほしいJavaScriptの基本原則（MDN）
http://www.mdn.co.jp/di/book/6312/


JavaScript現場で必要なテクニックのすべて（MDN）
http://www.mdn.co.jp/di/book/6091/

はじめてのJavaScript（工学社）

速習JavaScript（工学社）
http://www.kohgakusha.co.jp/support/soku_javascript/index.html


JavaScriptワークブック（カットシステム）

新JavaScriptワークブック（カットシステム）

JavaScriptプログラミング入門（オーム社）

プログラミング問題酒①（Open Knowledge）

プログラミング問題酒②（Open Knowledge）

ゼロからはじめるJavaScript（FOM出版）

JavaScriptによる情報教育入門（大学教育出版）

JavaScript逆引きハンドブック（C&R研究所）

JavaScript: The Good Parts（O'REILLY）

JavaScriptリファレンス（O'REILLY）
</pre>
					</div>
					<div class="tab-pane" id="ajax">

<pre>
10日えおぼえるAjax入門教室（翔泳社）
http://www.seshop.com/product/detail/7772/

JavaScript&Ajax プロが教える"本当の使い方"（MDN）
http://www.mdn.co.jp/di/book/6059/

Ajaxテクニックブック（C&R研究所）

基礎Ajax+JavaScript（インプレスジャパン）

WebクリエイティブのためのDOM Scriptiong（マイナビ）


標準DOMスクリプティング（ソフトバンククリエイティブ）

Google Maps APIプログラミング入門 改訂2版（ASCII）

Google API Expertが解説する Google Maps APIプログラミングガイド（インプレスジャパン）  


Google Chart Toolsスタートガイド―Web上にきれいなグラフをかんたん作成（カットシステム） 


Twitter・Facebook・YouTube・Ustream──　”ソーシャル”なサイト構築のためのWeb API コーディング（MDN）


公開API活用ガイド（工学社）
</pre>

					</div>
					<div class="tab-pane" id="develop">
<pre>

HTML5入門教室（翔泳社）

入門HTML5プログラミング（翔泳社）

詳細解説　HTML5　APIガイドブック　コミュニケーション系API編（秀和システム）
HTML5 Canvas（O'REILLY）
http://www.oreilly.co.jp/books/9784873115276/
http://www.oreilly.com/catalog/9781449393908/

HTML5+JavaScript速攻レッスン（工学社）

つくって覚えるHTML5入門（ASCII）
http://books.ascii.jp/9784048705172/

つくって覚えるJavaScript+HTML5（ASCII）
http://books.ascii.jp/9784048865401/

HTML5&API入門（日経BP）


Windows8プログラミングバイブル Windowsストアアプリ&HTML5/CSS3/JavaScript編（ソシム）
http://www.socym.co.jp/book/842

スマートフォンのためのHTML5アプリケーション開発ガイド（ソシム）
http://www.socym.co.jp/book/728


Firefox OSアプリ開発ガイド（リックテレコム）
http://www.ric.co.jp/book/contents/book_921.html


HTML5とJavaScriptによるiPhone/Android両対応アプリ開発ガイド（翔泳社）


HTML5スマートフォンWebアプリ制作（秀和システム）


iPhoneアプリ制作術（ラトルズ）


Sencha Touchではじめるモバイルアプリ開発
× 


HTML5/JavaScriptとPhonegapで作るiPhoneアプリ開発入門（マイナビ）


Dreamweaverで作るiPhone/Androidアプリ入門（マイナビ）


iPhone/iPadアプリ実践会初ガイド　HTML5/CSS/JavaScriptでつくるネイティブアプリ（MDN）


Androudアプリケーション開発ガイド（O'REILLY）


はじめてつくる人のためのiPhoneウェブアプリケーション　for Windows（ラトルズ）


アプリを作ろうHTML5入門（日経BP）


HTML5によるAndroidアプリ開発入門（日経BP）


AndroidのためのHTML5本格アプリ開発（RIC）


HTML+JavaScriptで作るAndroidアプリ（C&R研究所）


HTML5 CANVAS & CSS3 デザインガイド（技術評論社）
http://gihyo.jp/assets/files/book/2012/978-4-7741-4970-7/allindex.html


HTML5インタラクティブ表現ガイド（技術評論社）
http://gihyo.jp/book/2013/978-4-7741-5766-5/support
ユーザー名：ghhtml5int
パスワード：hc3ccj


HTML5ゲーム開発の極意（日経BP）
http://ec.nikkeibp.co.jp/item/books/P85130.html

ゲームプログラミングのためのHTML5 Canvas入門（日経BP）
http://ec.nikkeibp.co.jp/item/books/P84920.html


ゲームアルゴリズムレシピ（秀和システム）

14歳からはじめるHTML&JavaScrptわくわくゲームプログラミング教室（ラトルズ）

Webゲーム練習帳（工学社）
http://www.kohgakusha.co.jp/support/webgame/index.html

</pre>						
					</div>

					<div class="tab-pane" id="library">

<pre>
WebクリエイターのためのCreateJSスタイルブック ~JavaScript+HTML5で作るアニメーション/インタラクティブコンテンツ~（マイナビ） 


enchant.js開発のレシピ（秀和システム）
×

ゼロからはじめるenchant.js入門（ASCII）
http://jsdo.it/npaka/codes

enchant.jsスマートフォンゲーム開発講座（翔泳社）
http://www.shoeisha.com/book/hp/sgd/

enchant.jsゲーム開発（C&R研究所）
http://www.c-r.com/book/detail/900

Box2Dで始める物理シミュレーション入門 〜JavaScript編〜 （C&R研究所）
http://www.c-r.com/book/detail/917
ユーザー名　bx2dw
パスワード　s2tiu


JavaScriptライブラリ実践活用（技術評論社）
http://gihyo.jp/book/2013/978-4-7741-5611-8/support


BACKBONE.jsガイドブック（Ruttles）
http://www.rutles.net/download/350/index.html

つくって覚えるCoffeeScript入門（ASCII）
http://books.ascii.jp/9784048910774/


はじめてのEdge Animate（ソシム）
http://www.socym.co.jp/book/858

Adobe Edge Animate標準バイドブック（翔泳社）
http://books.shoeisha.co.jp/book/b109506.html

</pre>

					</div>
					<div class="tab-pane" id="ss">
<pre>
Node.jsプログラミングガイド（秀和システム）
×

はじめてのNode.jsサーバーサイドJavaScriptでWebアプリを開発する（Softbank Creative）
http://sourceforge.jp/users/hylom/pf/


サーバーサイドJavaScript Node.js入門（ASCII）
http://books.ascii.jp/9784048703673/

Nodeクックブック（O'REILLY）
http://www.oreilly.co.jp/books/9784873116068/
http://psginc.jp/nodecookbook/

MongoDBイン・アクション（O'REILLY）
http://www.manning.com/banker/
</pre>

					</div>

				</div>
			</div>
      </div>
        </div>
        <div class="col-sm-6">
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">ツール</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs" style="margin-bottom:15px;">
					<li class="active"><a href="#editor" data-toggle="tab">エディタ</a></li>
					<li><a href="#ide" data-toggle="tab">IDE</a></li>
					<li><a href="#ftp" data-toggle="tab">FTP</a></li>
					<li><a href="#util" data-toggle="tab">ツール</a></li>
					<li><a href="#paint" data-toggle="tab">画像編集</a></li>
					<li><a href="#epub" data-toggle="tab">epub</a></li>
					<li><a href="#other" data-toggle="tab">その他</a></li>
					</ul>

					<div class="tab-content">
					<div class="tab-pane active" id="editor">

						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>アプリケーション</th>
								<th>プラットフォーム</th>
								<th>値段</th>
								<th id="emmet"><img src="images/ic-emmet.png" width="16" height="16" alt=""></th>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://hide.maruo.co.jp/software/hidemaru.html" target="_blank">秀丸エディター</a></td>
								<td>Win</td>
								<td>4,200円/寄付</td>
								<td><a href=""><i class="glyphicon glyphicon-ok-sign"></i></a></td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://notepad-plus-plus.org/" target="_blank">notepad++</a></td>
								<td>Win</td>
								<td>無償</td>
								<td><a href=""><i class="glyphicon glyphicon-ok-sign"></i></a></td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></td>
								<td>Win/Mac/Linux</td>
								<td>$70/寄付</td>
								<td><a href=""><i class="glyphicon glyphicon-ok-sign"></i></a></td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://sakura-editor.sourceforge.net/download.html" target="_blank">sakuraエディター</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www5f.biglobe.ne.jp/~t-susumu/library/tpad.html" target="_blank">Tera Pad</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://jp.emeditor.com/" target="_blank">EmEditor</a></td>
								<td>Win</td>
								<td>4,000〜12,000円</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://sn.lowedge.com/" target="_blank">StyleNote</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.haijin-boys.com/wiki/%E3%83%80%E3%82%A6%E3%83%B3%E3%83%AD%E3%83%BC%E3%83%89" target="_blank">Mery</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.activestate.com/komodo-edit" target="_blank">Komodo Edit</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://panic.com/jp/coda/" target="_blank">Coda2</a></td>
								<td>Mac</td>
								<td>8,500円</td>
								<td><a href=""><i class="glyphicon glyphicon-ok-sign"></i></a></td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.mimikaki.net/" target="_blank">mi</a></td>
								<td>Mac</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://sourceforge.jp/projects/coteditor/" target="_blank">Cot Editor</a></td>
								<td>Mac</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://macrabbit.com/espresso/" target="_blank">Espresso</a></td>
								<td>Mac</td>
								<td>$75</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.artman21.com/jp/" target="_blank">Jedit</a></td>
								<td>Mac</td>
								<td>2,800〜3,900円</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://html.adobe.com/jp/edge/code/" target="_blank">Edge Code</a></td>
								<td>Win/Mac</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://download.brackets.io/" target="_blank">Brackets</a></td>
								<td>Win/Mac</td>
								<td>無償</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane" id="ide">
						<h4>IDE（統合開発環境：Integrated Developer Environment）</h4>
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>アプリケーション</th>
								<th>プラットフォーム</th>
								<th>値段</th>
								<th id="emmet"><img src="images/ic-emmet.png" width="16" height="16" alt=""></th>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a></td>
								<td>Win/Mac/Linux</td>
								<td>$49〜$99</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="https://netbeans.org/features/index.html" target="_blank">NetBeans IDE</a></td>
								<td>Win/Mac/Linux</td>
								<td>$49〜$99</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.microsoft.com/visualstudio/jpn/products/visual-studio-express-for-web" target="_blank">Visual Studio Express 2012 for web</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.microsoft.com/japan/web/webmatrix/" target="_blank">WebMatrix</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="https://creative.adobe.com/apps?trial=DRWV&promoid=JZXTK" target="_blank">Dreamweaver</a></td>
								<td>Win/Mac</td>
								<td>Adobe CC</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償〜$699</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://developer.android.com/intl/ja/sdk/installing/studio.html" target="_blank">Android Studio</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償〜$699</td>
							</tr>
						</table>

						<h4>Eclipse系IDE</h4>
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>アプリケーション</th>
								<th>プラットフォーム</th>
								<th>値段</th>
								<th id="emmet"><img src="images/ic-emmet.png" width="16" height="16" alt=""></th>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.eclipse.org/downloads/" target="_blank">eclipse classic</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.aptana.com/" target="_blank">Aptana Studio</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.eclipse.org/webtools/" target="_blank">Eclipse WTP (Web Tools Platform)</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.appcelerator.com/platform/titanium-studio/" target="_blank">Titanium Studio</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://developer.android.com/intl/ja/sdk/index.html" target="_blank">Android ADT（Android Developer Tools）</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
						</table>
						<h4>クラウド系IDE</h4>
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>アプリケーション</th>
								<th>プラットフォーム</th>
								<th>値段</th>
								<th id="emmet"><img src="images/ic-emmet.png" width="16" height="16" alt=""></th>
							</tr>
							<tr>
								<td></td>
								<td><a href="https://c9.io/" target="_blank">Clud9 IDE</a></td>
								<td>ブラウザ</td>
								<td>無償〜月$12</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="https://codenvy.com/" target="_blank">Codenvy</a></td>
								<td>ブラウザ</td>
								<td>無償〜$999</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://monaca.mobi/" target="_blank">Monaca</a></td>
								<td>ブラウザ</td>
								<td>無償〜見積もり</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane" id="ftp">
						<table class="table">
							<tr>
								<th><i class="glyphicon glyphicon-info-sign"></i></th>
								<th>アプリケーション</th>
								<th>プラットフォーム</th>
								<th>値段</th>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://www.forest.impress.co.jp/library/software/ffftp/" target="_blank">FFFTP</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="https://filezilla-project.org/" target="_blank">FileZilla</a></td>
								<td>Win/Mac/Linux</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://winscp.net/eng/docs/lang:jp" target="_blank">WinSCP</a></td>
								<td>Win</td>
								<td>無償</td>
							</tr>
							<tr>
								<td><i class="glyphicon glyphicon-thumbs-up"></i></td>
								<td><a href="http://cyberduck.ch/" target="_blank">Cyberduck</a></td>
								<td>Win/Mac</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://fetch.jp/" target="_blank">Fetch</a></td>
								<td>Mac</td>
								<td>無償</td>
							</tr>
							<tr>
								<td></td>
								<td><a href="http://panic.com/jp/transmit/" target="_blank">Transmit</a></td>
								<td>Mac</td>
								<td>無償</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane" id="util">

<pre>
IETester
http://my-debugbar.com/wiki/IETester/HomePage


ファイル比較

WinMerge日本語版（Win）
http://www.geocities.co.jp/SiliconValley-SanJose/8165/winmerge.html

Compare（Win）
notepad++プラグイン
http://www.crystal-creation.com/software/technical-information/tool/editor/notepad-plus/plug-in/compare/
http://sourceforge.net/projects/npp-plugins/files/ComparePlugin/
</pre>
					</div>
					<div class="tab-pane" id="paint">
<pre>

GIMP（Win/Mac/Linux）／無料
http://www.gimp.org/

Pixia（Win）／無料
http://www.pixia.jp/

PictBear（Win）／無料
http://www.fenrir-inc.com/jp/pictbear/

sumo paint（Online）／無料
http://www.sumopaint.com/www/

InkScape（Win/Mac/Linux）／無料
http://inkscape.org/?lang=ja

Blender（Win/Mac/Linux）／無料
http://blender.jp/

123D Dsign（Win/Mac/iPad/Online）／無料
http://www.123dapp.com/design
</pre>
<pre>
写真素材
=======
http://www.pakutaso.com/
http://www.ashinari.com/
http://www.photo-ac.com/

イラスト素材
===========
http://www.ac-illust.com/

モデル素材
==========
http://www.modelpiece.com/

アイコン素材
===========
http://www.iconsweets.com/
http://www.dezinerfolio.com/freebie/30-free-vector-icons
http://www.glyphish.com/
http://www.tabsicons.com/classic/
http://app-bits.com/free-icons.html
http://blog.twg.ca/2009/09/free-iphone-toolbar-icons/
http://www.pixelpressicons.com/?p=108

画像生成ツール
============
ajax load
http://www.ajaxload.info

ICONJ
http://www.iconj.com/
</pre>
					</div>
					<div class="tab-pane" id="epub">
<pre>

Sigil
https://code.google.com/p/sigil/

Adobe Digital Edition
http://www.adobe.com/jp/products/digital-editions.html

Readiam
https://chrome.google.com/webstore/detail/empty-title/fepbnnnkkadjhjahcafoaglimekefifl?utm_source=chrome-ntp-icon

Kindle for PC
http://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000426311

Kindle for Mac
http://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000464931

Kindle Commic Creator
http://www.amazon.co.jp/gp/feature.html?ie=UTF8&docId=3077699036
</pre>
					</div>
					<div class="tab-pane" id="other">その他</div>
				</div>
			</div>
        </div>
      </div>
    </div>
    
	</div>
    <div id="footer"><%= title %></div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/dtree/dtree.js"></script>
  </body>
</html>