extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | Cookieを使ってサイトを切り替える
                    .panel-body
                        h4 Cookieを使ってサイトを切り替える
                        p
                            a.btn.btn-default(href='../demo/js/excercise12/pc.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p pc.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='jquery.cookie.js')
                                        script
                                            :js
                                                //DOMが構築される前
                                                //クッキーないとき
                                                if(!$.cookie("access")){
                                                    //ユーザーエージェントがスマートフォンならスマートフォンサイトを表示
                                                    if(navigator.userAgent.indexOf("Android") != -1 || navigator.userAgent.indexOf("iPhone") != -1 || navigator.userAgent.indexOf("iPod") != -1){
                                                            window.location.href="mobile.html";
                                                    }
                                                    //それ以外はクッキーにpcを記録
                                                    else{
                                                        $.cookie("access","pc",{expires:30});
                                                    }
                                                }
                                                //クッキーがmobileのときスマートフォンサイトサイトを表示
                                                else if($.cookie("access") == "mobile"){
                                                    window.location.href="mobile.html";
                                                }
                                                //DOMが構築された後
                                                $(function(){
                                                    //ボタンが押されたとき
                                                    $("a").click(function(){
                                                        $.cookie("access","mobile",{expires:30});
                                                        window.location.href="mobile.html";
                                                    });
                                                });
                                        title PCサイト
                                    body
                                        h1 PCサイト
                                        p
                                            a(href='#') スマートフォンサイトへ
                        p mobile.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js')
                                        script(src='jquery.cookie.js')
                                        script
                                        //jQuery Mobileのウィジェットが表示される前
                                        //クッキーがないときPCサイトを表示
                                        if(!$.cookie("access")){
                                            //ユーザーエージェントがスマートフォンでなければPCサイトを表示
                                            if(navigator.userAgent.indexOf("Android") == -1 && navigator.userAgent.indexOf("iPhone") == -1 && navigator.userAgent.indexOf("iPod") == -1){
                                                window.location.href="pc.html";
                                            }
                                            //それ以外はクッキーにmobileを記録
                                            else{
                                                $.cookie("access","mobile",{expires:30});
                                            }
                                        }
                                        //クッキーがpcのときPCサイトを表示
                                        else if($.cookie("access") == "pc"){
                                            window.location.href="pc.html";
                                        }
                                        //jQuery Mobileのウィジェットが表示された後
                                        $(document).on('pageshow','#index',function(){
                                            //ボタンが押されたとき
                                            $("a").click(function(){
                                                $.cookie("access","pc",{expires:30});
                                                window.location.href="pc.html";
                                            });
                                        });
                                        title スマホサイト
                                    body
                                        #index(data-role='page')
                                            div(data-role='header')
                                                h1 スマホサイト
                                            div(data-role='content')
                                                p
                                                    a(href='#', data-role='button') PCサイトへ
                                            div(data-role='footer', data-position='fixed')
                                                h1 フッター