include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;フレックスアイテムの表示順
                        .panel-body
                            .alert.alert-info フレックスアイテムの表示順
                            table.browser-support
                                tr
                                    td.not-support
                                        img(src='../images/ic-apple.png')
                                    td.not-support
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td.not-support
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td.not-support
                                        img(src='../images/ic-ie.png')
                            pre
                                | order: フレックスアイテムの表示順
                            p
                                | フレックスアイテムの表示順・・・整数
                            table.table
                                tr
                                    td 初期値
                                    td 0
                                tr
                                    td 継承
                                    td なし
                                tr
                                    td 適用先
                                    td フレックスアイテム
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Flexible Box Layout
                            p='orderプロパティを利用すると、フレキシブルボックスレイアウトで段組みにしたフレックスアイテムの表示順を指定することができます。'
                            p='たとえば、3段組みにしたサンプルの場合、フレックスアイテムは記述した順番に並べて表示されています。これは、orderプロパティの値が初期値の「0」で処理されるためです。orderプロパティの値を下のようにすると、フレックスアイテムを並べ替えることができます。ここでは、ピンク色、オレンジ色、緑色のフレックスアイテムの順に表示するようにしています。'
                            p
                                a.btn.btn-default(href='../demo/css/sample1/02/082.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | …略…
                                    | #column01 {
                                    |     background-color: orange;
                                    |     width: 200px;
                                    |     -webkit-order: 2;
                                    |     -moz-order: 2;
                                    |     order:2;
                                    | }
                                    | #column02 {
                                    |     background-color: greenyellow;
                                    |     width: 400px;
                                    |     -webkit-order: 3;
                                    |     -moz-order: 3;
                                    |     order:3;
                                    | }
                                    | #column03 {
                                    |     background-color: pink;
                                    |     width: 200px;
                                    |     -webkit-order: 1;
                                    |     -moz-order: 1;
                                    |     order:1;
                                    | }
                                figcaption （CSS）
                            figure
                                pre(class='prettyprint linenums:1')
                                    | …略…
                                    | #column01
                                    |     background-color orange
                                    |     width 200px
                                    |     -webkit-order 2
                                    |     -moz-order 2
                                    |     order 2
                                    | 
                                    | #column02
                                    |     background-color greenyellow
                                    |     width 400px
                                    |     -webkit-order 3
                                    |     -moz-order 3
                                    |     order 3
                                    | 
                                    | #column03
                                    |     background-color pink
                                    |     width 200px
                                    |     -webkit-order 1
                                    |     -moz-order 1
                                    |     order 1
                                figcaption （Stylus）
                            hr
                            h4 主要ブラウザで表示順を指定する
                            p='主要ブラウザでフレックスアイテムの表示順に対応するためには、次のように古い草案のbox-ordinal-gorupプロパティと、flex-orderプロパティの設定も記述しておきます。'
                            p
                                a.btn.btn-default(href='../demo/css/sample1/02/082-compatible.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | …略…
                                    | #column03 {
                                    |     background-color: pink;
                                    |     width: 200px;
                                    |     -webkit-box-ordinal-group: 1;
                                    |     -moz-box-ordinal-group: 1;
                                    |     -ms-flex-order: 1;
                                    |     -webkit-order: 1;
                                    |     -moz-order: 1;
                                    |     order:1;
                                    | }
                                figcaption （CSS）
                            figure
                                pre(class='prettyprint linenums:1')
                                    | …略…
                                    | #column03
                                    |     background-color pink
                                    |     width 200px
                                    |     -webkit-box-ordinal-group 1
                                    |     -moz-box-ordinal-group 1
                                    |     -ms-flex-order 1
                                    |     -webkit-order 1
                                    |     -moz-order 1
                                    |     order 1
                                figcaption （Stylus）
                            table.table
                                tr
                                    th 仕様
                                    th プロパティ
                                    th iOS
                                    th Android
                                    th Firefox
                                    th Safari
                                    th Chrome
                                    th Opera
                                    th IE10
                                tr
                                    td 2009年草案
                                    td box-ordinal-group
                                    td ○
                                    td ○
                                    td ○
                                    td ○
                                    td ○
                                    td ×
                                    td ×
                                tr
                                    td 2012年草案
                                    td flex-order
                                    td ×
                                    td ×
                                    td ×
                                    td ×
                                    td ×
                                    td ×
                                    td ○
                                tr
                                    td 勧告候補
                                    td order
                                    td ×
                                    td ×
                                    td ○
                                    td ×
                                    td ○
                                    td ○
                                    td ×
                            p='※ Opera以外はベンダープレフィックスが必要です。'
                            p='※ Firefoxで勧告候補の仕様を利用するには、about:configで「layout.css.flexbox.enabled」をtrueに設定する必要があります。'
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')