include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ボックスのリサイズ
						.panel-body
							.alert.alert-info ボックスのリサイズ
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							pre
								| resize: リサイズの方向
							p
								| リサイズの方向・・・none ／ both ／ horizontal ／ vertical
							table.table
								tr
									td 初期値
									td none
								tr
									td 継承
									td なし 
								tr
									td 適用先
									td overflowプロパティの値が「visible」以外の要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Basic User Interface
							p='overflowプロパティを利用してインラインフレームの形で表示したボックスは、resizeプロパティによってリサイズを許可することができます。'
							table.table
								tr
									th 値
									th リサイズの方向
								tr
									td none
									td リサイズなし。
								tr
									td both
									td 縦横にリサイズできるようにする。
								tr
									td horizontal
									td 横方向にリサイズできるようにする。
								tr
									td vertical
									td 縦方向にリサイズできるようにする。
							hr
							h4 SAMPLE：ボックスをリサイズできるようにする
							p='下のサンプルはoverflowプロパティの値を「auto」にして、<div>の構成するボックスをインラインフレームの形で表示したものです。このとき、resizeプロパティの値は初期値の「none」で処理されるため、ユーザーはボックスの大きさを変更することはできません。'
							p='resizeプロパティの値を「both」にすると、ボックスの右下にハンドルが表示され、縦横両方向の大きさを変更できるようになります。値を「horizon」にすると横方向の、「vertical」にすると縦方向の変更のみを許可することもできます。'
							p='overflowプロパティの値を「hidden」とし、スクロールバーを非表示に下ボックスの場合にも、resizeプロパティで大きさを変更できるようにすることが可能です。その場合、以下のような形でハンドルが表示されます。'
							p
								a.btn.btn-default(href='../demo/css/sample1/06/332.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;div&gt;
									| &lt;h1&gt;HAM SANDWICHES&lt;/h1&gt;
									| &lt;p&gt;焼きたての手作りパンで新鮮なハム、トマト、…略…&lt;/p&gt;
									| &lt;/div&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| div
									| 	h1 HAM SANDWICHES
									| 	p 焼きたての手作りパンで新鮮なハム、トマト、…略…
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| div {
									|     …略…
									|     overflow: auto;
									|     resize: both;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| div
									| 	…略…
									| 	overflow auto
									| 	resize both
								figcaption （Stylus）
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')