include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;横幅と高さの指定
						.panel-body
							.alert.alert-info 横幅と高さの指定
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| width: 値
							pre
								| height: 値
							p
								| 値・・・数値 ／ 比率 ／ auto
							table.table
								tr
									td 初期値
									td auto
								tr
									td 継承
									td なし
								tr
									td 適用先
									td 全要素（<mark>非置換のインライン要素／テーブルの行、列、グループを構成する要素を除く</mark>）
								tr
									td 比率
									td 親要素の横幅 ／ 高さ
								tr
									td モジュール
									td Basic Box Model
							p='widthとheightプロパティを利用すると、ボックスの横幅と高さを指定することができます。'
							hr
							h4 SAMPLE A：横幅の指定
							p='下のサンプルは<h2>でマークアップした部分に構成されるボックスの背景をオレンジ色にしたものです。デフォルトスタイルシートでは<h2>のwidthプロパティの値は指定されていませんので、初期値の「auto」で処理され、ボックスの横幅はブラウザ画面または親要素に合わせて表示されます。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 HAM SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|      background-color: orange;
									| }
								figcaption （CSS） 
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	background-color orange
								figcaption （Stylus）
							p='widthプロパティの値を「300px」にすると、300ピクセルの横幅で表示することができます。'
							p
								a.btn.btn-default(href='../demo/css/sample1/02/063-A.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     background-color: orange;
									|     width: 300px;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	background-color orange
									| 	width 300px
								figcaption （Stylus）
							hr
							h4 SAMPLE B：高さの指定
							p='<h2>のheightプロパティの値もデフォルトスタイルシートでは指定されていませんので、初期値「auto」で処理されます。そのため、ボックスの高さはマークアップしたコンテンツに合わせて表示されます。ここでは文字の大きさに合わせた高さになります。'
							p
								a.btn.btn-default(href='../demo/css/sample1/02/063-B.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 HAM SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     background-color: orange;
									| }
								figcaption （CSS） 
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	background-color orange
								figcaption （Stylus）
							p='heightプロパティの値を「100px」にすると、ボックスの高さを100ピクセルにすることができます。'
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     background-color: orange;
									|     height: 100px;
									| } 
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	background-color orange
									| 	height 100px
								figcaption （Stylus）
							hr
							h4 SAMPLE C：罫線やパディングを挿入したときの大きさ
							p='widthとheightプロパティが指定するものは、ボックスモデルのコンテンツエリアの横幅と高さで、罫線やパディングの大きさは含みません。たとえば、下のサンプルでは横幅を300px、高さを100pxと指定したボックスに、20pxの罫線とパディングを挿入しています。この場合、罫線とパディングを含んだ横幅は380pxに、高さは180pxになります。'
							p
								a.btn.btn-default(href='../demo/css/sample1/02/063-C.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 HAM SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     background-color: orange;
									|     width: 300px;
									|     height:100px;
									|     padding: 20px;
									|     border: solid 20px pink;
									| }
								figcaption （CSS） 
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	background-color orange
									| 	width 300px
									| 	height 100px
									| 	padding 20px
									| 	border solid 20px pink
								figcaption （Stylus）
							p='CSS3のbox-sizingプロパティを利用すると、widthとheightで指定した横幅と高さに、罫線やパディングの大きさを含めることができます。'
							p='また、「CSS basic box model」のEditor\'s Draftではwidthプロパティの値を「300px border-box」と指定することで罫線やパティングを含める方法も提案されていますが、各ブラウザ未対応です。'
							hr
							h4 ボックスの中身に合わせた大きさで表示する
							p='「CSS basic box model」のEditor\'s Draftでは、widthとheightプロパティで指定できる値が以下のように提案されており、横幅と高さをボックスの中身に合わせた大きさで表示できるようになります。'
							p='現在のところ、FirefoxとChromeがwidthプロパティでの指定に対応しており、ベンダープレフィックスを付けて記述します。また、Safariは「fit-content」に相当する「intrinsic」という値のみをサポートしています。'
							h4 widthプロパティの値を「max-content」にしたときの表示
							p
								a.btn.btn-default(href='../demo/css/sample1/02/064-fit-content.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| div {
									|     width: -webkit-max-content;
									|     width: -moz-max-content;
									| }
								figcaption （CSS） 
							figure
								pre(class='prettyprint linenums:1')
									| div
									| 	width -webkit-max-content
									| 	width -moz-max-content
								figcaption （Stylus）
							h4 widthプロパティの値を「min-content」にしたときの表示
							p
								a.btn.btn-default(href='../demo/css/sample1/02/064-min-content.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| div {
									|     width: -webkit-min-content;
									|     width: -moz-min-content;
									| }
								figcaption （CSS） 
							figure
								pre(class='prettyprint linenums:1')
									| div
									| 	width -webkit-min-content
									| 	width -moz-min-content
								figcaption （Stylus）
							table.table
								tr
									th 値
									th 表示
								tr
									td available
									td 画面または親要素に合わせた大きさで表示。
								tr
									td max-content
									td 自動改行しない場合に最大となる中身の大きさを採用。
								tr
									td min-content
									td 可能なところすべてで自動改行を行った際に、最大となる中身の大きさを採用。
								tr
									td fit-content
									td 画面または親要素に合わせた大きさで表示。ただし、max-content以上、min-content以下の大きさにはなりません。
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')