include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;背景画像の表示位置の基点
                        .panel-body
                            .alert.alert-info 背景画像の表示位置の基点
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            p IE8以前は部分対応。
                            pre
                                | background-origin: 基点
                            p
                                | 基点・・・border-box ／ padding-box ／ content-box
                            table.table
                                tr
                                    td 初期値
                                    td padding-box
                                tr
                                    td 継承
                                    td なし
                                tr
                                    td 適用先
                                    td 全要素
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Backgrounds and Borders
                            p='background-positonプロパティで背景画像の表示位置を指定するとき、基点となるエリアを変更したい場合はbackground-originプロパティを利用します。'
                            table.table
                                tr
                                    th 値
                                    th 表示エリア
                                tr
                                    td border-box
                                    td ボーダーボックス
                                tr
                                    td padding-box
                                    td パディングボックス
                                tr
                                    td content-box
                                    td コンテンツボックス
                            p='複数の背景画像を表示する場合には、各画像の基点となるエリアをカンマで区切って指定することもできます。'
                            pre
                                | background-origin: 1枚目の基点, 2枚目の基点, ...
                            hr
                            h4 SAMPLE A：基本
                            p='下のサンプルでは、<h2>の構成するボックスの太さを30ピクセルの半透明なオレンジ色の罫線で囲み、罫線の内側に30ピクセルのパディングを挿入したものです。このボックスに背景画像を表示すると、background-originプロパティの値が初期値の「padding-box」で処理され、パディングボックスが基点となります。このとき、background-positionプロパティの値は初期値の「0% 0%」で処理されるため、背景画像はパディン部ボックスの左上に揃えて表示されます。'
                            p='background-originプロパティの値を「border-box」にするとボーダーボックスが、「content-box」にするとコンテンツボックスが基点となり、下のように背景画像の位置が変わります。'
                            p='<h2>の構成するボックスに背景画像を表示したもの。background-originプロパティの値は初期値の「padding-box」で処理されます。'
                            p
                                a.btn.btn-default(href='../demo/css/sample1/03/134-01.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            p='background-originプロパティの値を「border-box」にしたときの表示。'
                            p
                                a.btn.btn-default(href='../demo/css/sample1/03/134-02.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | h2 {
                                    |     border: solid 30px rgba(255,164,255,0.5);
                                    |     padding: 30px;
                                    |     background-image: url(flower.png);
                                    |     background-repeat: no-repeat;
                                    |     background-origin: border-box;
                                    | }
                                figcaption （CSS）
                            figure
                                pre(class='prettyprint linenums:1')
                                    | h2
                                    |     border solid 30px rgba(255,164,255,0.5)
                                    |     padding 30px
                                    |     background-image url(flower.png)
                                    |     background-repeat no-repeat
                                    |     background-origin border-box
                                figcaption （stylus）
                            p='background-originプロパティの値を「content-box」にしたときの表示。'
                            p
                                a.btn.btn-default(href='../demo/css/sample1/03/134-03.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | h2 {
                                    |     border: solid 30px rgba(255,164,255,0.5);
                                    |     padding: 30px;
                                    |     background-image: url(flower.png);
                                    |     background-repeat: no-repeat;
                                    |     background-origin: content-box;
                                    | }
                                figcaption （CSS）
                            figure
                                pre(class='prettyprint linenums:1')
                                    | h2
                                    |     border solid 30px rgba(255,164,255,0.5)
                                    |     padding 30px
                                    |     background-image url(flower.png)
                                    |     background-repeat no-repeat
                                    |     background-origin content-box
                                figcaption （stylus）
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')