include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;文字の色
						.panel-body
							.alert.alert-info 文字の色
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| color: 文字の色
							p='文字の色・・・色の値'
							table.table
								tr
									td 初期値
									td 閲覧環境の設定に依存
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Color
							p='colorプロパティを利用すると文字の色を指定することができます。文字の色は背景色（background color）に対して前景色（foreground color）とも呼ばれています。'
							hr
							h4 SAMPLE A: 基本
							p
								a.btn.btn-default(href='../demo/css/sample1/03/118-A.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h1&gt;
								figcaption 118-A.html
							figure
								pre(class='prettyprint linenums:1')
									| h2 HAM SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     font-family: 'Arial Black';
									|     color: #ffa500;
									| }
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	font-family 'Arial Black'
									| 	color #ffa500
								figcaption （stylus）
							p='colorプロパティの初期値は閲覧環境の設定で決まることになっていますので、文字を表示すると一般的なブラウザの設定に従って黒色で表示されます。'
							p='これをオレンジ色で表示するためには、下のようにcolorプロパティの値を「#ffa500」にします。なお、「orange」や「rgb(255, 165, 0)」と指定しても同じオレンジ色で表示することができます。'
							hr
							h4 SAMPLE B: 文字を半透明にする
							p
								a.btn.btn-default(href='../demo/css/sample1/03/118-B.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h1&gt;
								figcaption 118-B.html
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     font-family: 'Arial Black';
									|     background-image: url(wood.jpg);
									|     color: rgba(255,255,255,0.7);
									| }
							p='文字を半透明にする場合は、アルファチャンネルの設定が可能なrgba()またはhsla()で色を指定します。下のサンプルでは木目の画像（wood.jpg）の上に文字を重ねて表示したものです。colorプロパティの値を「rgba(255,255,255,0.7)」にすると、文字を半透明の白色で表示することができます。なお、IE8以前はrgba()の指定に未対応です。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')