include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;斜体
						.panel-body
							.alert.alert-info 斜体
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| font-style: 斜体
							p
								| 斜体のスタイル・・・normal ／ italic ／ oblique
							table.table
								tr
									td 初期値
									td normal
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Fonts
							p='文字を斜体で表示する場合はfont-styleプロパティを利用します。文字を傾けずに正体で表示するときは「normal」、文字を傾けて斜体で表示するときは「italic」または「oblique」と指定します。'
							table.table
								tr
									th font-styleの値
									th 斜体のスタイル
								tr
									td normal
									td 正体（ローマン体）のフォントで表示。
								tr
									td italic
									td イタリック体のフォントで表示。
								tr
									td oblique
									td オブリーク体のフォントで表示。
							p='<mark>「italic」と「oblique」は欧文フォントのイタリック体とオブリーク体を指定するもので、前者は斜めに傾けたときにきれいに見えるデザインしたものを指し、後者は正体を斜めに傾けたものを指し、欧文フォントの多くはこうした斜体のフォントデータを持っています。イタリック体がない場合はオブリーク体で、オブリーク体もない場合は、ブラウザが正体のフォントを斜めにして表示を行うことになっています。</mark>'
							p='日本語のフォントの多くは斜体のフォントデータを持っていませんので、ブラウザが正体を斜めにして表示します。なお、Windows環境のメイリオは斜体のフォントデータを持っていますが、斜体となっているのはアルファベットのみで、日本語は正体でデザインされています。そのため、font-styleを適用しても日本語の文字は斜体とはなりませんので注意が必要です。'
							hr
							h4 SAMPLE：標準で斜体になる文字を正体で表示する
							p='<em>でマークアップした部分は斜体で表示されます。これは、デフォルトスタイルシートの設定で<em>のfont-styleプロパティの値が「italic」になるためです。これを正体で表示するためには、font-styleプロパティの値を「normal」にします。'
							p
								a.btn.btn-default(href='../demo/css/sample1/03/176.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;&lt;em&gt;HAM&lt;/em&gt; SANDWICHES&lt;/p&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| p
									| 	em HAM
									| 	| SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| p {
									|     font-family: Verdana;
									| }
									| em {
									|     font-style: normal;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| p
									| 	font-family Verdana
									| em
									| 	font-style normal
								figcaption （Stylus）
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')