include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;フォントの指定
						.panel-body
							.alert.alert-info フォントの指定
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| font-family: フォント名または系統名
							p
								| フォント名・・・メイリオ／Hiragino Kaku Gothic Proなど<br>
								| 系統名・・・serf／sans-serif／cursive／fantasy／monospace
							table.table
								tr
									td 初期値
									td ブラウザの標準フォント
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Fonts
							p='font-familyプロパティではフォント名または系統名でフォントを指定します。ただし、フォントは閲覧環境にインストールされている必要がありますので、主要な閲覧環境であるWindowsやMac OS X環境に標準でインストールされたフォントを指定するようにします。このとき、複数のフォントの候補をカンマで区切って指定しておくと、ブラウザは指定されたフォントの中から閲覧環境で利用できるものを使って表示を行います。この場合、最初に記述したフォントほど優先順位が高くなります。'
							pre
								| font-family: 第1候補のフォント, 第2候補のフォント, …, 系統名
							p='系統名は「セリフ」や「サンセリフ」といったフォントの種類を示すもので、閲覧環境で利用できるフォントの中からブラウザが最適なものを選んで表示を行います。複数の候補を指定する場合、最後に系統名を指定しておくことにより、指定したフォントがすべて利用できない環境でも同系統のフォントで表示することができます。'
							table.table
								tr
									th 系統名の値
									th フォントの系統
								tr
									td serif
									td セリフ
								tr
									td sans-serif
									td サンセリフ
								tr
									td monospace
									td 等幅
								tr
									td cursive
									td 筆記体
								tr
									td fantasy
									td 装飾
							hr
							h4 SAMPLE A：基本
							p='<h2>でアークアップした英語の文字を「Verdana（ヴァーダナ）」またはサンセリフのフォントで表示するように指定しています。「Verdana」はWindowsとMac OS Xの両方の環境に標準でインストールされてますので、他のフォント候補は指定していません。'
							p='<p>でマークアップした日本語の文字はゴシック体のフォントで表示するため、Windows環境の「メイリオ」とMac OS X環境の「Hiragino Kaku Gothic Pro（ヒラギノ角ゴ）」で表示するように指定し、系統を「sans-serif」と指定しています。なお、半角スペースや日本語を含むフォント名は「\'」や「"」で囲んで記述します。'
							p
								a.btn.btn-default(href='../demo/css/sample1/03/180.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;Ham Sandwiches&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 Ham Sandwiches
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     font-family: Verdana, sans-serif
									| }
									| p {
									|     font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	font-family Verdana, sans-serif
									| p
									| 	font-family 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif
								figcaption （Stylus）
							hr
							h4 SAMPLE B：標準でインストールされている主な日本語フォント
							p='WidnowsおよびMac OS X環境には標準で下のような日本語フォントがインストールされています。各環境に共通したフォントはありませんので、指定する場合はSAMPLE Aのように複数の同系統のフォントを指定するようにします。'
							table.table
								tr
									th フォント名
									th Win
									th Mac
									th 系統
								tr
									td メイリオ
									td ○
									td 
									td(rowspan='3') ゴシック体
								tr
									td MS Pゴシック
									td ○
									td 
								tr
									td Hiragino Kaku Gothic Pro<br>（ヒラギノ角ゴ Pro）
									td 
									td ○
								tr
									td MS P明朝
									td ○
									td 
									td(rowspna='2') 明朝体
								tr
									td Hiragino Mincho Pro<br>（ヒラギノ明朝 Pro）
									td 
									td ○
								tr
									td MS ゴシック
									td ○
									td 
									td(rowspna='2') 等幅
								tr
									td Osaka-mono
									td 
									td ○
							p='古いOS X環境のSafariではフォント名を日本語で指定すると正しく表示することができなかったため、OS X環境用のフォントは英語名で指定するか、英語名と日本語名の両方を指定するのが一般的となっています。'
							p='iOSの場合、4.xではゴシック体のみでしたが、5.x以上ではゴシック体と明朝体のフォントが用意されています。Androidの場合、利用できる日本語フォントはゴシック体のみとなっています。'
							p!='<mark>iOS6ではデフォルトの日本語フォントが変更され、CSSで「font-family」の指定がない場合、明朝体がデフォルトになりました。</mark>'
							table.table
								tr
									th モバイル環境
									th フォント名
								tr
									td iOS
									td Hiragino Kaku Gothic ProN W3
								tr
									td iOS
									td Hiragino Kaku Gothic ProN W6
								tr
									td iOS
									td Hiragino Mincho ProN W3
								tr
									td iOS
									td Hiragino Mincho ProN W6
								tr
									td Android 2.x系
									td Droid Sans Japanese
								tr
									td Android 4.x系
									td モトヤLシーダ３等幅
							p!='<mark>HTML文書を、<html lang="ja">賭した場合、日本語のテキスト表示は「font-family」の指定によって変わります。</mark>'
							p!='<mark>これまでに制作したサイトの日本語の部分がiOS6で明朝体になってしまう場合は、font-familyに「sans-serif」を指定しましょう。また、HTML要素に「lang="ja"」の指定がない場合、日本語はゴシック体、欧文・数字などはセリフ体と、混合のようになってしまうので、font-familyは必ず指定しましょう。</mark>'
							p!='<mark>Androidでは、機種のメーカーごとに独自のフォントをインストールしてデフォルト設定していることもあるので、端末によってデフォルトのフォントが違うケースがあります。また、ユーザーが好みのフォントをインストールすることも可能です。</mark>'
							p!='<mark>Androidでは、先述のiOSと違い、デフォルトでは明朝体のフォントがインストールされていません。また、上記の標準の日本語フォントにおいても、太字（bold）が用意されていないので、この点は注意してください。</mark>'
							p='このようにAndroidの日本語フォントでは、明朝体と太字がないなど、制限がいくつかあります。これに対処するためにも、スマートフォン用のサイトのデザインではゴシック体を使用するようにします。明朝体をどうしても使いたい時は、「iOSでは表示できるがAndroidでは表示できない」という旨を理解しておく必要があります。'
							pre
								| font-family: sans-serif
							p='が一番安全な指定である、と言えます。'
							p
								| iOS5: Font list
								br
								a(href='http://support.apple.com/kb/HT4980',target='_blank') http://support.apple.com/kb/HT4980
							p
								| iOS6: Font list
								br
								a(href='http://support.apple.com/kb/HT5484',target='_blank') http://support.apple.com/kb/HT5484
							hr
							h4 SAMPLE C：標準でインストールされている主な欧文フォント
							p='欧文フォントの場合、Windows、Mac OS X、iOS環境には下のように共通したフォントが多くインストールされており、フォントのデザインを揃えて表示することができます。'
							table.table
								tr
									th フォント名
									th Win
									th Mac
									th iOS
									th Android
								tr
									td Arial
									td ○
									td ○
									td ○
									td SS
								tr
									td Arial Black
									td ○
									td ○
									td -
									td SS
								tr
									td Comic Sans MS
									td ○
									td ○
									td -
									td SS
								tr
									td Courier
									td ○
									td ○
									td ○
									td M
								tr
									td Courier New
									td ○
									td ○
									td ○
									td M
								tr
									td Georgia
									td ○
									td ○
									td ○
									td S
								
Impact○○-SSTimes New Roman○○○STahoma○○-SSTrebouchet MS○○○SSVerdana○○○SSAmerican Typewriter-○○SSAppleGothic-○○SSHelvetica※1○○SSHelvetica Neue-○○SSMaker Felt-○○SSZapfino-○○SSRoboto---○
						//
							p='font-variantプロパティの値を「small-caps」にすると、欧文をスモールキャップス（スモールキャピタル）の字形で表示することができます。フォントがスモールキャップスのデータを持たない場合、アルファベットの小文字を大文字に変換し、小文字の比率を維持したまま表示を行います。'
							table.table
								tr
									th font-variantの値
									th 字形
								tr
									td normal
									td 通常の表示（字形の変更なし）。
								tr
									td small-caps
									td スモールキャプスで表示。
							hr
							h4 SAMPLE：基本
							p='下のサンプルは<h2>のfont-variantプロパティの値を「small-caps」にして、スモールキャップスで表示したものです。小文字で記述した部分が大文字に変換され、小文字の比率を維持したままで表示されていることが分かります。なお、日本語の文字に適用しても表示は変化しません。'
							p
								a.btn.btn-default(href='../demo/css/sample1/03/177.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;Ham Sandwiches&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 Ham Sandwiches
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     font-family: Verdana;
									|     font-variant: small-caps;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	font-family Verdana
									| 	font-variant small-caps
								figcaption （Stylus）
							hr
							h4 文字の幅を指定する：font-stretch
							p='CSS3のfont-stretchプロパティを利用すると、幅を広げてデザインしたExpandedや、縮めてデザインしたCondensedの文字で表示することができます。指定できる値は下のようになっています。'
							table.table
								tr
									th font-stretchの値
									th 幅の目安
								tr
									td ultra-condensed
									td 幅が狭い
								tr
									td extra-condensed
									td ▲
								tr
									td condensed
									td ▲
								tr
									td semi-condensed
									td ▲
								tr
									td normal
									td 標準の幅
								tr
									td semi-expanded
									td ▼
								tr
									td expanded
									td ▼
								tr
									td extra-expanded
									td ▼
								tr
									td ultra-expanded
									td 幅が広い
							p='現在のところ、各ブラウザは未対応です。ただし、@font-faceのfont-stretchディスクリプタでWebフォントの幅を定義すると、FirefoxとIE9以上ではfont-stretchプロパティで幅を指定してWebフォントを使い分けることができるようになります。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')