include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;文字の太さ
						.panel-body
							.alert.alert-info 文字の太さ
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| font-weight: 文字の太さ
							p
								| 文字の太さ・・・normal ／ bold ／ bolder ／ lighter ／ 100 ／ 200 ／ 300 ／ 400 ／ 500 ／ 600 ／ 700 ／ 800 ／ 900
							table.table
								tr
									td 初期値
									td normal
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Fonts
							p='文字の太さはfont-wightプロパティで指定します。通常の太さで表示するときは「normal」、太く表示するときは「bold」と指定します。'
							p!='<mark>太さは100〜900の9段階で指定することもできますが、WindowsやMac OS X環境に標準でインストールされたフォントの多くは2段階の太さのデータしかもっていません。そのため、下の日本語フォントのように100〜500が「normal」と同じ、600〜900が「bold」と同じ太さでの表示となります。ただし、フォントをArialにしてIE9以上で表示した場合や、HelveticaにしてSafariで表示した場合は、下のように3段階で太さが変わります。また、Webフォントには100〜900の段階別に太さが用意されているものもあります。</mark>'
							p='なお、「bolder」や「lighter」と指定すると、ひとまわり太くしたり、細くしたりすることができますが、フォントが持つデータ以上に太さを変えることはできません。'
							table.table
								tr
									th 相対的な太さの指定
									th 太さ
								tr
									td bolder
									td ひとまわり太くする
								tr
									td lighter
									td ひとまわり細くする
							hr
							h4 SAMPLE：標準で太く表示される文字を細くする
							p='<h1>〜<h6>でマークアップした部分は太い文字で表示されます。これは、デフォルトスタイルシートの設定にょり、<h1>のfont-weightプロパティの値が「bold」になるためです。そのため、font-weightプロパティの値を「normal」にすると、文字を細くすることができます。'
							p='下のサンプルでは<h2>でマークアップした部分を細い文字で表示するようにしています。なお、ここではフォントをVerdanaにして表示しています。'
							p
								a.btn.btn-default(href='../demo/css/sample1/03/175.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;HAM SANDWICHES&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 HAM SANDWICHES
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|     font-family: Verdana;
									|     font-weight: normal;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	font-family Verdana
									| 	font-weight normal
								figcaption （Stylus）
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')