include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;CSS資料
						.panel-body
							.alert.alert-info バリデータ
							p
								| CSS Validation Service<br>
								a(href='http://jigsaw.w3.org/css-validator/', target='_blank') http://jigsaw.w3.org/css-validator/ 
							hr
							.alert.alert-info CSS3対応チェック
							p
								| Can I use...<br>
								a(href='http://caniuse.com', target='_blank') http://caniuse.com
							p
								| The HTML5 Test<br>
								a(href='http://html5test.com', target='_blank') http://html5test.com
							p
								| The CSS3 Test<br>
								a(href='http://css3test.com', target='_blank') http://css3test.com
							p
								| findmaybeIP<br>
								a(href='http://fmbip.com/', target='_blank') http://fmbip.com/
							hr
							.alert.alert-info CSSリセット
							p
								| HTML5Doctor HTML5 Reset Stylesheet
								br
								a(href='http://html5doctor.com/html-5-reset-stylesheet/',target='_blank') http://html5doctor.com/html-5-reset-stylesheet/
							p
								| Eric Meyer CSS tools:Reset CSS
								br
								a(href='http://meyerweb.com/eric/tools/css/reset/',target='_blank') http://meyerweb.com/eric/tools/css/reset/
							p
								| YUI CSS Reset
								br
								a(href='http://yuilibrary.com/yui/docs/cssreset/',target='_blank') http://yuilibrary.com/yui/docs/cssreset/
							p
								| normalize.css
								br
								a(href='https://github.com/necolas/normalize.css',target='_blank') https://github.com/necolas/normalize.css
							.alert.alert-info IE対策
							h4 クロスブラウザ
							p='全てのブラウザで同じ表示、同じ挙動をさせるという概念を「クロスブラウザ」と呼びます。'
							h4 プログレッシブエンハンスメント
							p='2009年ころ、国内でも少しずつHTML5やCSS3が利用され始めました。当時はHTML5やCSS3に対応している環境が少なかったため、新しい技術を利用する際には、Internet Explorer 6などの一般的な環境には普通の体験を提供し、当時のSafariなどの高機能な環境にはHTML5やCSS3などをフルに活かしたよりいい体験を提供するといったポリシーが多く見受けられました。この「一般的環境を基準にし、進んだ環境をも視野に入れる」という考え方を「Progressive Enhancement（プログレッシブ エンハンスメント）」といいます。'
							h4 グレイスフルデグラレーション	
							p='一方、最近ではChromeやSafariなどのWebkit系ブラウザーのみでなく、Internet Explorer 9、Firefox4、Opera11.10でもHTML5やCSS3など新しい機能への対応の足並みが揃いつつあります。つまり、Progressive Enhancementという言葉が生まれたころよりも、HTML5やCSS3を利用する基準が上がってきていることを意味します。'
							p='この流れにより、「限られた古い環境を基準にする」よりも、「最近の環境を基準にし、古い環境にはレベルを落とす」といった手法が流行ることが予感させられます。このような考え方を「Graceful Degradation（グレイスフル デグラデーション）」といいます。'
							h4 ポリフィル
							p='mathMedia.jsのように、ブラウザ未対応の機能を補完し、対応ブラウザ同等の処理を可能にするためのライブラリを「Polyfill（ポリフィル）」と呼びます。'
							p='一般商用向けのWeb制作においてGraceful Degradationを採用した表現手法をとることは、まだ時期が早いと感じる人もいるのではないでしょうか。しかし、そういった場合でもHTML5やCSS3を積極的に利用する手段はあります。古い環境を新しい環境に近づけてあげればいいのです。'
							p='幸い、古い環境の代表であるInternet Explorer 6や7には過去の遺産である様々な独自実装があり、これらを活かして一部のHTML5やCSS3と同等の機能をエミュレートすることができます。このように「新しい環境を基準にし、古い環境を新しい環境に近づけて差をなくす」という手段を「Polyfill（ポリフィル）」といいます。'
							p
								| HTML5 Cross Browser Polyfill
								br
								a(href='https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills',target='_blank') https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills
							hr
							.alert.alert-info IE8でCSS3のセレクターを有効にする
							p
								| IE7.js / IE8.js / IE9.js
								br
								a(href='https://code.google.com/p/ie7-js/',target='_blank') https://code.google.com/p/ie7-js/
							h4 IE7.js
							pre(class='prettyprint linenums:1')
								| &lt;!--[if lt IE 7]&gt;
								| &lt;script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"&gt;&lt;/script&gt;
								| &lt;![endif]--&gt;
							h4 IE8.js
							p='IE8.jsを読み込んだ場合はIE7.jsは必要ありません。'
							pre(class='prettyprint linenums:1')
								| &lt;!--[if lt IE 8]&gt;
								| &lt;script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"&gt;&lt;/script&gt;
								| &lt;![endif]--&gt;
							h4 IE9.js
							p='IE9.jsを読み込んだ場合はIE7.js、IE8.jsは必要ありません。'
							pre(class='prettyprint linenums:1')
								| &lt;!--[if lt IE 9]&gt;
								| &lt;script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"&gt;&lt;/script&gt;
								| &lt;![endif]--&gt;
							p='IE9.jsを使った場合以下のような報告があります。'
							ul
								li CSSハックが一部使えなくなる。
								li 重くなる。
								li :before、:afterが乱れる
								li 動的に生成された要素にHTML5のタグあると乱れる。
							hr
							p
								| Selectivizr
								br
								a(href='http://selectivizr.com/',target='_blank') http://selectivizr.com/
							p jQuery、dojo、prototype、YUI、DOMAssistant、MooTools、NWMatcherのいずれかのライブラリに依存します。
							p 各ライブラリで使用可能になるセレクタは公式サイトを参照してください。
							.alert.alert-info CSSジェネレーター
							p
								| CSS3 Button Generator<br>
								a(href='http://css3button.net/', target='_blank') http://css3button.net/
							p
								| border-image-generator<br>
								a(href='http://border-image.com/', target='_blank') http://border-image.com/
							p
								| CSS3 Generator<br>
								a(href='http://css3generator.com', target='_blank') http://css3generator.com
							p
								| Grad3<br>
								a(href='http://grad3.ecoloniq.jp', target='_blank') http://grad3.ecoloniq.jp
							p
								| Color Schemer Online<br>
								a(href='http://www.colorschemer.com/online.html', target='_blank') http://www.colorschemer.com/online.html
							p
								| Ultimate CSS Gradient Generator<br>
								a(href='http://www.colorzilla.com/gradient-editor/', target='_blank') http://www.colorzilla.com/gradient-editor/
							p
								| CSS3 ButtonMaker<br>
								a(href='http://css-tricks.com/examples/ButtonMaker/', target='_blank') http://css-tricks.com/examples/ButtonMaker/
							p
								| CSS3.0 MAKER<br>
								a(href='http://www.css3maker.com', target='_blank') http://www.css3maker.com
							p
								| CSS3 PIE<br>
								a(href='http://css3pie.com/', target='_blank') http://css3pie.com/
							p
								| Uicode Range Generator<br>
								a(href='http://zenoplex.jp/tools/unicoderange_generator.html', target='_blank') http://zenoplex.jp/tools/unicoderange_generator.html
							p
								| cssarrowplease<br>
								a(href='http://cssarrowplease.com', target='_blank') http://cssarrowplease.com
							p
								| Yellowpipe Internet Services<br>
								a(href='http://www.yellowpipe.com/yis/tools/hex-to-rgb/color-converter.php', target='_blank') http://www.yellowpipe.com/yis/tools/hex-to-rgb/color-converter.php
							p
								| border-radius<br>
								a(href='http://border-radius.com', target='_blank') http://border-radius.com
							p
								| tools &amp; resources for web professionals<br>
								a(href='http://westciv.com', target='_blank') http://westciv.com
							p
								| SVG Gradient Background Maker<br>
								a(href='http://ie.microsoft.com/testdrive/Graphics/SVGGradientBackgroundMaker/Default.html', target='_blank') http://ie.microsoft.com/testdrive/Graphics/SVGGradientBackgroundMaker/Default.html
							p
								| CSS Hat（Photoshopプラグイン）<br>
								a(href='http://csshat.com/', target='_blank') http://csshat.com/
							p
								| Sencha Animator（有料）<br>
								a(href='http://www.sencha.com/products/animator', target='_blank') http://www.sencha.com/products/animator
							hr
							.alert.alert-info ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_css', target='_blank') CSS入門
							p
								a(href='http://dotinstall.com/lessons/basic_css3', target='_blank') CSS3入門
							p
								a(href='http://dotinstall.com/lessons/website_html', target='_blank') 実践！Webサイトを作ろう
							p
								a(href='http://dotinstall.com/lessons/responsive_html', target='_blank') レスポンシブなウエブサイトを作ろう
							//
								.alert.alert-info  HTML5
								p
									| HTML5公式ドキュメント
									br
									a(href='http://www.w3.org/TR/html5/',target='_blank')
										| http://www.w3.org/TR/html5/
								p W3Cがリリースしている規格です。W3Cの規格策定の手順に従って標準化の作業が進められており、2012年12月17日に勧告候補がリリースされました。これにより、新しい機能が追加されることはなくなり、安定した規格として実装が進められていくことになります。
								p ※HTML5の勧告候補では一部の要素が「リスクのある機能」としてリストアップされており、最終的な勧告からは除外される可能性があります。
								.alert.alert-info  HTML5.1
								p
									| HTML5.1公式ドキュメント
									br
									a(href='http://www.w3.org/TR/html51/',target='_blank')
										| http://www.w3.org/TR/html51/
									br
									a(href='http://dev.w3.org/html5/spec/Overview.html')
										| http://dev.w3.org/html5/spec/Overview.html
								p HTML5の次のバージョンとしてW3Cがリリースしている規格です。現在のところ、草案（Working Draft）とNightly（Editor's Draft）がリリースされています。
								.alert.alert-info  HTML Living Standard
								p
									| HTML5.1公式ドキュメント
									br
									a(href='http://whatwg.org/html',target='_blank')
										| http://whatwg.org/html
								p WHATWG（ワットダブルジー）がリリースしている規格です。最新の機能や提案をよりスピーディに規格に反映していくことを目指しており、頻繁に更新が行われています。なお、WHATWG（Web Hypertext Application Technology Working Group）は、AppleやMozilla、Operaによって設立されたグループです。
								table.table
									tr
										td 1989
										td WWWシステムの提案
									tr
										td 1990
										td 最初のWebサイトが登場
									tr
										td 1993
										td HTMLの草案リリース
									tr
										td 1995
										td HTML2.0 リリース
									tr
										td 1996
										td CSS1.0 リリース
									tr
										td 1997
										td
											| HTML3.2 リリース
											br
											| HTML4.0 リリース
									tr
										td 1998
										td CSS2.0 リリース
									tr
										td 1999
										td HTML4.01 リリース
									tr
										td 2000
										td XHTML1.0 リリース
									tr
										td 2002
										td XHTML1.0 (Second Edition) リリース
									tr
										td 2005
										td CSS3関連の草案 リリース
									tr
										td 2008
										td HTML5草案 リリース
									tr
										td 2011
										td CSS2.1 勧告リリース
									tr
										td 2012
										td HTML5 勧告候補リリース
								hr
								.alert.alert-info  レンダリングエンジン
								table.table
									tr
										td IE
										td Chrome
										td Firefox
										td Safari
										td Opera
									tr
										td
											| Trident
										td
											| Webkit
											br
											| Blink
										td
											| Gecko
											br
											| Servo
										td
											| Webkit
										td
											| Presto
											br
											| Webkit
											br
											| Blink
								hr
								.alert.alert-info HTML5情報サイト
								p
									| HTML5.jp
									br
									a(href='http://www.html5.jp/',target='_blank') http://www.html5.jp/
								p
									| Can I use...
									br
									a(href='http://caniuse.com/',target='_blank') http://caniuse.com/
								p
									| finemebyIP
									br
									a(href='http://fmbip.com/litmus/#html5',target='_blank') http://fmbip.com/litmus/#html5	
								hr
								.alert.alert-info HTMLバリデータ
								p
									| W3C Markup Validation Service
									br
									a(href='http://validator.w3.org/',target='_blank') http://validator.w3.org/
								p
									| Validator.nu (X)HTML5 Validator (Living Validator)
									br
									a(href='http://html5.validator.nu/',target='_blank') http://html5.validator.nu/
								p
									| Google構造化データテストツール
									br
									a(href='http://www.google.com/webmasters/tools/richsnippets?hl=ja',target='_blank')
										| http://www.google.com/webmasters/tools/richsnippets?hl=ja
								p
									| Bingマークアップバリデータ
									br
									a(href='http://www.bing.com/toolbox/markup-validator',target='_blank')
										| http://www.bing.com/toolbox/markup-validator
								hr
								.alert.alert-info アウトライン
								p
									| HTML5 Outliner
									br
									a(href='http://gsnedders.html5.org/outliner/',target='_blank')
										| http://gsnedders.html5.org/outliner/
								p
									| HTML5 OUtliner（Chromeアプリ）
									br
									a(href='https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo?utm_source=chrome-ntp-icon',target='_blank')
										| https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo?utm_source=chrome-ntp-icon
								hr
								.alert.alert-info URLエンコード／デコード
								p
									| URLエンコード・デコードフォーム
									br
									a(href='http://www.tagindex.com/tool/url.html',target='_blank')
										| http://www.tagindex.com/tool/url.html
								hr
								.alert.alert-info Flashプレイヤーの無効化（プラグインの設定画面）
								p
									| Google Chrome
									br
									a(href='chrome://plugins/',target='_blank') chrome://plugins/
								p
									| Firefox
									br
									a(href='about:plugins',target='_blank') about:plugins
								hr
								.alert.alert-info 試験運用設定画面
								p
									| Google Chrome
									br
									a(href='chrome://flags',target='_blank') chrome://flags
								p
									| Firefox
									br
									a(href='about:config',target='_blank') about:config
								.alert.alert-info FlashをCanvasに変換
								p
									| Google Swiffy
									br
									a(href='https://www.google.com/doubleclick/studio/swiffy/',target='_blank') https://www.google.com/doubleclick/studio/swiffy/
								p
									| SWF Animation Converter
									br
									a(href='http://mdlab.jp/app/sac/index.html',target='_blank') http://mdlab.jp/app/sac/index.html
								p
									| Sothink SWF Decompiler
									br
									a(href='http://www.sothink.com/product/flashdecompiler/',target='_blank') http://www.sothink.com/product/flashdecompiler/
								.alert.alert-info 軽量マークアップ言語
								p
									| Markdown
									br
									a(href='http://daringfireball.net/projects/markdown/',target='_blank')
										| http://daringfireball.net/projects/markdown/
								p
									| Jade
									br
									a(href='http://jade-lang.com/',target='_blank')
										| http://jade-lang.com/
								p
									| Haml
									br
									a(href='http://haml.info/',target='_blank')
										| http://haml.info/
								p
									| Slim
									br
									a(href='http://slim-lang.com/',target='_blank')
										| http://slim-lang.com/
								h4 ドットインストール
								p
									a(href='http://dotinstall.com/lessons/basic_haml', target='_blank') Haml入門 
								p
									a(href='http://dotinstall.com/lessons/basic_markdown', target='_blank') Markdown機能入門 
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')