include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;字形の変換
						.panel-body
							.alert.alert-info 字形の変換
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| text-transform: 字形
							p
								| 字形・・・none ／ capitalize ／ uppercase ／ lowercase
							table.table
								tr
									td 初期値
									td none 
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Fonts
							p='text-transformプロパティを利用すると、アルファベットを大文字や小文字に変換することができます。'
							table.table
								tr
									th 値
									th 字形
								tr
									td none
									td 変換なし
								tr
									td capitalize
									td 英単語の1文字目を大文字に変換
								tr
									td uppercase
									td すべて大文字に変換
								tr
									td lowercase
									td すべて小文字に変換
							hr
							h4 SAMPLE A：1文字目を大文字に変換
							p='text-transformプロパティの値を「capitalize」にすると、各単語の1文字目を大文字に変換します。'
							p
								a.btn.btn-default(href='../demo/css/sample1/04/196-A.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h2&gt;Ham Sandwiches&lt;/h2&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h2 Ham Sandwiches
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|    text-transform: capitalize; 
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	text-transform capitalize
								figcaption （Stylus）
							hr
							h4 SAMPLE B：すべて大文字に変換
							p='text-transformプロパティの値を「uppercase」にすると、すべて大文字に変換します。'
							p
								a.btn.btn-default(href='../demo/css/sample1/04/196-B.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|    text-transform: uppercase; 
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	text-transform uppercase
								figcaption （Stylus）
							hr
							h4 SAMPLE C：すべて小文字に変換
							p='text-transformプロパティの値を「lowercase」にすると、すべて小文字に変換します。'
							p
								a.btn.btn-default(href='../demo/css/sample1/04/196-C.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| h2 {
									|    text-transform: lowercase; 
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h2
									| 	text-transform lowercase
								figcaption （Stylus）
							hr
							h4 日本語の字形の変換
							p='CSS3では日本語の字形を変換する方法も提案されています。現在のところ各ブラウザは未対応です。'
							table.table
								tr
									th 値
									th 字形
								tr
									td fullwidth
									td 全角に変換
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')