include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;スタイルシートの利用
						.panel-body
							.alert.alert-info スタイルシートの利用
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							p ※ IE7以前は部分対応
							p="外部スタイルシート"
							pre='<link rel="stylesheet" href="CSSファイル">'
							pre='@import url("CSSファイル")'
							p='内部スタイルシート'
							pre='<style> 設定 </style>'
							p='インラインスタイルシート'
							pre='<ELEMENT style="設定">'
							p
								| CSSファイル・・・外部スタイルシートファイル（〜.css）のURL<br>
								| 設定・・・スタイルシートの設定
							table.table
								tr
									td 初期値
									td -
								tr
									td 継承
									td -
								tr
									td 適用先
									td -
								tr
									td 比率
									td -
								tr
									td モジュール
									td Syntax
							p='スタイルシートを利用すると、Webページのデザインやレイアウトを調節することができます。利用するためには、スタイルシートの設定を外部スタイルシート、内部スタイルシート、インラインスタイルシートのいずれかの形で用意し、Webページに適用します。'
							p='IE7以前のバージョンは@importに未対応です。'
							hr
							h4 外部スタイルシート
							p='スタイルシートの設定を外部スタイルシートファイルに記述し、<link>で読み込んでWebページに適用する方法です。外部スタイルシートファイルには「.css」という拡張子をつけて保存します。たとえば、「style.css」という外部スタイルシートファイルを利用するためには下のように指定します。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;!DOCTYPE html&gt;
									| &lt;html lang="ja"&gt;
									| &lt;head&gt;
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;link rel="stylesheet" href="style.css"&gt;
									| …略...
									| &lt;/head&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| !!!
									| html(lang='ja')
									| 	head
									| 		title SAMPLE
									| 		link(rel='stylesheet', href='style.css')
									| 	    | …略...
								figcaption （Jade）
							p='外部スタイルシートを利用すると、スタイルシートの設定をHTMLファイルとは別に管理し、複数のページで同じ設定を共有できるというメリットがあります。'
							p='また、スタイルシートの設定の中に他の外部スタイルシートの設定を読み込む場合、@improtを利用することができます。'
							figure
								pre(class='prettyprint linenums:1')
									| @import url("style.css");
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| @import url(reset.css)
								figcaption （stylus）
							hr
							h4 内部スタイルシート
							p='スタイルシートの設定をHTMLソースの<style>〜</style>の中に記述する方法です。設定は記述したページのみに適用され、HTMLソースと同一ファイルで管理できるというわかりやすさがあります。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;head&gt;
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;style&gt;
									| h1 {color: red;}
									| &lt;/style&gt;
									| …略…
									| &lt;/head&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| head
									| 	title SAMPLE
									| 		style.
									| 			h1 {
									| 				color: red;
									| 			}
								figcaption （Jade）
							hr
							h4 インラインスタイルシート
							p='インラインスタイルシートは、スタイルシートの設定をHTMLのstyle属性で指定する方法です。直感的に利用することはできますが、多用するとスタイルシートの管理が煩雑になるという問題があります。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h1 style="color:red;"&gt;
									| サンドイッチ
									| &lt;/h1&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h1(style='color: red;') サンドイッチ
								figcaption （Jade）
							hr
							.alert.alert-info type属性でスタイルシートの種類を明示する
							p='HTML4.01/XHTML1.0の<link>と<style>では、利用するスタイルシートの種類がCSSであることを明示するため、「type="text/css"」と指定しておく必要があります。これに対し、HTML5ではCSSを利用するものとして処理されますので、type属性を省略することができます。'
							figure
								pre(class='prettyprint linenums:1')='<link rel="stylesheet" href="style.css" type="text/css">'
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| link(rel='stylesheet', href='style.css', type='text/css')
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| &lt;style type="text/css"&gt;
									| h1 {color: red;}
									| &lt;/style&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| style(type='text/css').
									| 	h1 {
									| 		color: red;
									| 	}
							.alert.alert-info media属性でメディアクエリを指定する
							p='<link>と<style>では、media属性でメディアクエリを指定し、出力デバイスに応じてスタイルシートを適用することができます。たとえば、ブラウザ画面の横幅が500ピクセル以下の場合に適用するためには、下のように指定します。'
							figure
								pre(class='prettyprint linenums:1')='<link rel="stylesheet" media="all and (max-width: 500px)">'
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| link(rel='stylesheet', media='all and (max-width: 500px)')
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									| &lt;style media="all and (max-width: 500px)"&gt;
									| ...
									| &lt;/style&gt;
							figure
								pre(class='prettyprint linenums:1')
									| style(media='all and (max-width: 500px)').
									|     ...
							p='また、@importでも下のような形でメディアクエリを指定することができます。'
							figure
								pre(class='prettyprint linenums:1')
									| @import url("style.css") all and (max-width: 500px);
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| @media all and (max-width: 500px){
									| 	@import url(style.css)
									| }
								figcaption （stylus）
							.alert.alert-info エンコードの種類
							p='外部スタイルシートは適用先のHTMLファイルと同じエンコードとして扱われます。しかし、エンコードが異なる場合などには@charsetでエンコードの種類を明示することができます。たとえば、UTF-8であることを示すためには、下のように指定します。'
							figure
								pre(class='prettyprint linenums:1')
									| @charset "UTF-8";
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| @charset "UTF-8"
								figcaption （stylus）
							.alert.alert-info スタイルシートの優先順位
							p='外部スタイルシート、内部スタイルシート、インラインスタイルシートには優先順位があり、基本的には後から記述した設定の優先順位が高くなります。'
							p='たとえば、下のサンプルは<h1>でマークアップした見出しの背景色をbackground-colorプロパティで指定したものです。外部スタイルシートではピンク色に、内部スタイルシートでは緑色に、インラインスタイルシートでは黄色に指定してあります。'
							p='このとき、<link>よりも<style>を後に記述していますので、外部スタイルシートよりも内部スタイルシートの優先順位が高くなります。しかし、その後に記述したインラインスタイルシートの設定が最も優先されますので、<h1>の背景は黄色で表示されます。'
							figure
								pre(class='prettyprint linenums:1')
									| h1 {
									| 	background-color: pink;
									| 	font-family: 'Arial Black', sans-serif;
									| }
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| h1
									| 	background-color pink
									| 	font-family 'Arial Black', sans-serif
								figcaption （stylus）
							figure
								pre(class='prettyprint linenums:1')
									| &lt;head&gt;
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;link rel="stylesheet" media="all" href="style.css"&gt;
									| &lt;style media="all"&gt;
									| h1 {
									|     background-color: green yellow;
									| }
									| &lt;/style&gt;
									| &lt;/head&gt;
									| &lt;body&gt;
									|     &lt;h1 style="background-color:yellow;"&gt;
									|     HAM SANDWICHES
									|     &lt;/h1&gt;
									| &lt;/body&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| head
									| 	title SAMPLE
									| 	link(rel='stylesheet', media='all', href='style.css')
									| 	style(media='all').
									| 		h1 {
									| 			background-color: green yellow;
									| 		}
									| body
									| 	h1(style='background-color: yellow;')
									| 		| HAM SANDWICHES
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')