include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;スタイルシートの利用
						.panel-body
							.alert.alert-info スタイルシートの利用
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							p ※ IE7以前は部分対応
							p="外部スタイルシート"
							pre='<link rel="stylesheet" href="CSSファイル">'
							pre='@import url("CSSファイル")'
							p='内部スタイルシート'
							pre='<style> 設定 </style>'
							p='インラインスタイルシート'
							pre='<ELEMENT style="設定">'
							p
								| CSSファイル・・・外部スタイルシートファイル（〜.css）のURL<br>
								| 設定・・・スタイルシートの設定
							table.table
								tr
									td 初期値
									td -
								tr
									td 継承
									td -
								tr
									td 適用先
									td -
								tr
									td 比率
									td -
								tr
									td モジュール
									td Syntax
							p='スタイルシートを利用すると、Webページのデザインやレイアウトを調節することができます。利用するためには、スタイルシートの設定を外部スタイルシート、内部スタイルシート、インラインスタイルシートのいずれかの形で用意し、Webページに適用します。'
							p='IE7以前のバージョンは@importに未対応です。'
							hr
							h4 外部スタイルシート
							p='スタイルシートの設定を外部スタイルシートファイルに記述し、<link>で読み込んでWebページに適用する方法です。外部スタイルシートファイルには「.css」という拡張子をつけて保存します。たとえば、「style.css」という外部スタイルシートファイルを利用するためには下のように指定します。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;!DOCTYPE html&gt;
									| &lt;html lang="ja"&gt;
									| &lt;head&gt;
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;link rel="stylesheet" href="style.css"&gt;
									| …略...
									| &lt;/head&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| !!!
									| html(lang='ja')
									| 	head
									| 		title SAMPLE
									| 		link(rel='stylesheet', href='style.css')
									| 	    | …略...
								figcaption （Jade）
							p='外部スタイルシートを利用すると、スタイルシートの設定をHTMLファイルとは別に管理し、複数のページで同じ設定を共有できるというメリットがあります。'
							p='また、スタイルシートの設定の中に他の外部スタイルシートの設定を読み込む場合、@improtを利用することができます。'
							figure
								pre(class='prettyprint linenums:1')
									| @import url("style.css");
								figcaption （CSS）
							figure
								pre(class='prettyprint linenums:1')
									| @import url(reset.css)
								figcaption （stylus）
							hr
							h4 内部スタイルシート
							p='スタイルシートの設定をHTMLソースの<style>〜</style>の中に記述する方法です。設定は記述したページのみに適用され、HTMLソースと同一ファイルで管理できるというわかりやすさがあります。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;head&gt;
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;style&gt;
									| h1 {color: red;}
									| &lt;/style&gt;
									| …略…
									| &lt;/head&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| head
									| 	title SAMPLE
									| 		style.
									| 			h1 {
									| 				color: red;
									| 			}
								figcaption （Jade）
							hr
							h4 インラインスタイルシート
							p='インラインスタイルシートは、スタイルシートの設定をHTMLのstyle属性で指定する方法です。直感的に利用することはできますが、多用するとスタイルシートの管理が煩雑になるという問題があります。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h1 style="color:red;"&gt;
									| サンドイッチ
									| &lt;/h1&gt;
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| h1(style='color: red;') サンドイッチ
								figcaption （Jade）
							hr
							.alert.alert-info type属性でスタイルシートの種類を明示する
							p='HTML4.01/XHTML1.0の<link>と<style>では、利用するスタイルシートの種類がCSSであることを明示するため、「type="text/css"」と指定しておく必要があります。これに対し、HTML5ではCSSを利用するものとして処理されますので、type属性を省略することができます。'
							figure
								pre(class='prettyprint linenums:1')='<link rel="stylesheet" href="style.css" type="text/css">'
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									| &lt;style type="text/css"&gt;
									| h1 {color: red;}
									| &lt;/style&gt;
								figcaption （HTML）

							.alert.alert-info media属性でメディアクエリを指定する
							.alert.alert-info エンコードの種類
							.alert.alert-info スタイルシートの優先順位
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')