include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;子要素の3Dトランスフォーム
						.panel-body
							.alert.alert-info 子要素の3Dトランスフォーム
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							p Android2.3.x/IE9以前は未対応。
							pre
								| transform-style: 子要素への適用
							p
								| 子要素への適用・・・flat ／ preserve-3d
							table.table
								tr
									td 初期値
									td flat
								tr
									td 継承
									td なし
								tr
									td 適用先
									td transformプロパティと同じ
								tr
									td 比率
									td -
								tr
									td モジュール
									td Transforms
							p='transform-styleプロパティでは、親要素に対する3次元の変形処理を子要素にも適用するかどうか指定します。たとえば、下のサンプルは親要素<div id="container">の中に子要素<div id="sand">を表示し、それぞれ緑色とオレンジ色の罫線で囲んで表示したものです。子要素<div id="sand">にはtransformとtransform-originプロパティを指定し、左辺を軸に30度回転するようにしています。'
							p='このとき、親要素<div id="container">にtransformとtransform-originプロパティを指定して、下辺を軸に45度回転すると、子要素の処理結果が親要素に投影された上で回転処理が行われ、下のような表示になります。これは、transform-styleプロパティの値が初期値の「flat」で処理されるためです。'
							p='Internet Explorerはtransform-styleプロパティに未対応ですが、「flat」に相当する処理が行われます。'
							p='transform-styleプロパティの値を「preserve-3d」と指定すると、子要素の処理結果による親要素と子要素の位置関係を維持したまま、親要素の回転が行われ、下のような表示になります。'
							p='Webkit系のブラウザにも対応する場合、transform、transform-origin、transform-styleプロパティにベンダープレフィックス（-webkit-）をつけた設定も記述します。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')