include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;アニメーションの再生・一時停止
                        .panel-body
                            .alert.alert-info アニメーションの再生・一時停止
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            p IE9以前は未対応。
                            pre
                                | animation-play-state: 再生状態
                            p
                                | 再生状態・・・running ／ paused
                            table.table
                                tr
                                    td 初期値
                                    td running
                                tr
                                    td 継承
                                    td なし
                                tr
                                    td 適用先
                                    td 全要素／::before、::after疑似要素
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Animations
                            p='animation-play-stateプロパティを利用すると、アニメーションの再生と一時停止（ポーズ）を指定することができます。'
                            table.table
                                tr
                                    th 値
                                    th 再生状態
                                tr
                                    td running
                                    td 再生
                                tr
                                    td paused
                                    td 一時停止（ポーズ）
                            hr
                            h4 SAMPLE：再生とポーズ
                            p='下のサンプルは、<h1>のanimationプロパティの値を「myanim 5s linear infinite」にして、背景色が水色、ピンク色、黄色とアニメーションで変化するようにしたものです。ただし、ページを読み込んだ段階ではアニメーションの始点の位置で一時停止した状態で表示し、カーソルを重ねると再生するように設定してあります。'
                            p='まず、一時停止の状態で表示するためには、<h1>のanimation-play-stateプロパティの値を「paused」にします。次に、カーソルを重ねたときにアニメーションを再生するため、h1:hover{〜}でanimation-play-stateプロパティの値を「running」にします。これにより、カーソルを外すと再生の途中で一時停止の状態になります。再びカーソルを重ねると、一時停止した箇所から再生が行われます。'
                            p='草案ではanimation-play-stateの設定もanimationプロパティに含めて記述できるようになっています。ただし、各ブラウザは未対応です。'
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')