include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;子要素の透視投影
                        .panel-body
                            .alert.alert-info 子要素の透視投影
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td.not-support
                                        img(src='../images/ic-opera.png')
                                    td.not-support
                                        img(src='../images/ic-ie.png')
                            p Android2.3.x/IE9以前は未対応。
                            pre
                                | perspective: 投影中心までの距離
                            p
                                | 投影中心までの距離・・・数値 ／ none
                            table.table
                                tr
                                    td 初期値
                                    td none
                                tr
                                    td 継承
                                    td なし
                                tr
                                    td 適用先
                                    td transformプロパティと同じ
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Transforms
                            p='3Dトランスフォームの透視投影の処理は、transformプロパティのperspective()関数だけでなく、perspectiveプロパティで指定することもできます。ただし、perspectiveプロパティの指定は子要素に対してのみ有効です。たとえば、下のサンプルは<span>でマークアップした語句と<img>で挿入した画像を横に並べ、全体を<div id="container">でマークアップしたものです。<div id="container">が構成するボックスは緑色の罫線で囲んで表示しています。'
                            p='transformプロパティで<span>をy軸まわりに60度、<img>をy軸まわりにマイナス60度回転すると、下のように平行投影で表示されます。'
                            p='次に、親要素<div id="container">のperspectiveプロパティの値を「500px」にすると、子要素の<span>と<img>が透視投影で表示されます。'
                            p='このとき、投影中心のx軸・y軸方向の位置は<div id="conteainer">が構成するボックスの中心にセットされます。これは、perspective-originプロパティの値が初期値の「50% 50%」で処理されるためです。'
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')