include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;投影中心のx軸・y軸方向の位置
						.panel-body
							.alert.alert-info 投影中心のx軸・y軸方向の位置
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							p Android2.3.x/IE9以前は未対応。
							pre
								| perspective:-origin x軸方向の位置 y軸方向の位置
							p
								| x軸方向の位置・・・数値 ／ 比率 ／ left ／ center ／ right<br>
								| y軸方向の位置・・・数値 ／ 比率 ／ top ／ center ／ bottom
							table.table
								tr
									td 初期値
									td 50% 50%
								tr
									td 継承
									td なし
								tr
									td 適用先
									td transformプロパティと同じ
								tr
									td 比率
									td ボックスの横幅と高さに対する比率
								tr
									td モジュール
									td Transforms
							p='perspective-originプロパティを利用すると、perspectiveプロパティで透視投影を行うときの投影中心のx軸・y軸方向の位置を指定することができます。'
							p='たとえば、透視投影で表示したサンプルの場合、perspective-originプロパティの値は初期値の「50% 50%」で処理されます。この場合、投影中心のx軸・y軸方向の位置は<div id="container">の構成するボックスの左辺から50%、上辺から50%の位置になります。'
							p='たとえば、perspective-originプロパティの値を「0% 50%」にすると、投影中心のx軸・y軸方向の位置をボックスの左辺の中央にセットすることができます。'
							p='なお、特定の比率は下のキーワードに置き換えて指定することができます。また、ピクセルなどの数値で指定することも可能です。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')