include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;裏面の表示
						.panel-body
							.alert.alert-info 裏面の表示
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							p Android2.3.x/IE9以前は未対応。
							pre
								| backface-visibility: 裏面の表示
							p
								| 裏面の表示・・・visible／hidden
							table.table
								tr
									td 初期値
									td visible
								tr
									td 継承
									td なし
								tr
									td 適用先
									td transformプロパティと同じ
								tr
									td 比率
									td -
								tr
									td モジュール
									td Transforms
							p='backface-visibilityプロパティを利用すると、3Dトランスフォームの処理でボックスが裏返ったときに、裏面を表示するかどうかを指定することができます。'
							p='たとえば、下のサンプルは<div>でマークアップした語句の背景に画像を表示したものです。'
							p='<div>の構成するボックスをtransformプロパティでy軸まわりに180度か移転して裏返すと、下のようにボックスの裏面が表示されます。これは、backface-visibilityプロパティの値が初期値「visible」で処理されるためです。'
							p='<div>のbackface-visibilityプロパティの値を「hidden」にすると、ボックスの裏面は表示されなくなり、透明なものとして扱われます。'
							h4 裏表で絵柄の異なるカードを裏返すアニメーション
							p='裏表で絵柄の異なるカードを裏返すアニメーションを作成する場合、backface-visibilityプロパティの機能が必要になります。たとえば、表にサンドイッチの画像を、裏に青空の画像を表示したカードが、カーソルを重ねるとy軸まわりに180度回転し、裏返るように設定していきます。'
							p='まず、<div id="front">でサンドイッチの画像を、<div id="back">で青空の画像を表示し、全体を<div id="container">でマークアップします。'
							p='さらに、サンドイッチと青空の画像に対しては、アニメーションの始点におけるtransformプロパティの値を指定しておきます。サンドイッチの画像は回転していない状態で表示するため、値を「rotateY(0deg)」にします。青空の画像はカードの裏面として裏返した状態で表示するため、値を「rotateY(180deg)」にしておきます。'
							p='positionプロパティを利用して2枚の画像を重ねて表示します。このとき、サンドイッチの画像を手前にするため、z-indexプロパティの値を<div id="front">は「2」に、<div id="back">は「1」にしています。'
							p='<div id="container">の範囲にカーソルを重ねると、<div id="front">と<div id="back">がy軸まわりに回転し、画像が裏返るように指定します。しかし、backface-visibilityプロパティの値が初期値「visible」で処理されるため、手前のサンドイッチ画像の裏面が表示されてしまいます。'
							p='この問題を回避するためには、<div id="front">のbackface-visibilityプロパティの値を「hidden」にします。これで、カーソルを重ねると青空の画像が表示されるようになります。'
							p='カーソルを重ねていない状態（始点）から重ねた状態（終点）の間がアニメーションで変化するように設定します。そこで、<div id="front">と<div id="back">のtransitionプロパティを「0.5s」にして、0.5秒で変化するようにします。'
							p='また、透視投影で表示するため、<div id="container">のperspectiveプロパティの値を「1000px」にしています。'
							p='※ Webkit系のブラウザにも対応する場合、transform、backface-visibility、perspective、transitionプロパティにベンダプレフィックス（-webkit-）をつけた設定も記述します。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')