include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 画像
						div.panel-body
							.alert.alert-info 画像
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;img&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／エンベッディッドコンテンツ／インタラクティブコンテンツ（usemap属性を指定した場合）／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| エンベッディッドコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td - （置換要素として扱われることが期待される）
								tr
									td 属性
									td alt／arc／crossorigin／usemap／ismap／width／height／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p ※ 置換要素の構成するボックスはインラインブロックボックスと同じように扱われます。
							p='<img>は画像を示す要素です。src属性で画像ファイルのURLを、alt属性で代替テキストを示します。代替テキストは画像の内容を語句や文章で表したもので、画像から直接内容を抽出することができないソフトウェアや、画像表示をオフにした閲覧環境などで使用されます。そのため、画像を代替テキストに置き換えてもページの内容が変わらないようにすることが求められます。'
							p='たとえば、サンプルではサイト名をロゴ画像で、メインコンテンツをお茶とケーキの写真で、Twitterなどへのリンクをアイコン画像で表示し、alt属性で代替テキストを示しています。'
							p='代替テキストは必ず用意することが求められていますが、画像が補足的なもので、前後に関連した内容を記述している場合や、画像が装飾的なものであることを示したい場合には、alt属性を空の値にすることができます。'
							p='たとえば、下のサンプルではサイト名をロゴ画像と文字の組み合わせで表示しています。この場合、ロゴ画像と文字の両方が「SUN DIARY」というサイト名を表していますので、ロゴ画像は補足的なものとしてalt属性の値を空にしています。また、本文中の写真は装飾目的で表示したものなため、こちらもalt属性の値を空にしています。'
							table.table
								tr
									th='<img>の属性'
									th 機能
								tr
									td alt
									td 代替テキストを指定。
								tr
									td src
									td 画像のURLを指定。
								tr
									td crossorigin
									td CORSに関する設定を指定。
								tr
									td usemap
									td イメージマップの設定を指定。
								tr
									td ismap
									td サーバーサイドイメージマップとして利用。
								tr
									td width
									td 画像の横幅を指定（単位：ピクセル）。
								tr
									td height
									td 画像の高さを指定（単位：ピクセル）。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')