include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;microdata（マイクロデータ）
						.panel-body
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							.alert.alert-info microdataとは
							p='microdataは、itemid、itemprop、itemref、itemscope、itemtype属性を利用して情報を付加していく規格です。これらの属性はHTML5のグローバル属性としてすべての要素で利用できるように定義されています。規格の策定については、WHATWGの「HTML Living Standard」およびW3Cの「HTML Microfata」で行われています。'
							p
								| HTML Living Standard
								br
								a(href='http://www.whatwg.org/specs/web-apps/current-work/multipage/microdata.html',target='_blank') http://www.whatwg.org/specs/web-apps/current-work/multipage/microdata.html
							p
								| HTML Microdata
								br
								a(href='http://www.w3.org/TR/microdata/',target='_blank') http://www.w3.org/TR/microdata/
							.alert.alert-info microdataで利用できるボキャブラリー
							p='microdataはHTML5で登場した規格のため、現在のところschema.orgのボキャブラリーを利用するのが一般的となっています。schema.orgは検索エンジン大手のGoogle、Microsoft（Bing）、Yandex、Yahoo!が共同でボキャブラリーを管理するために立ち上げたもので、それぞれの検索エンジンでの対応も進められています。'
							p
								| schema.org
								br
								a(href='http://schema.org/',target='_blank') http://schema.org/
							.alert.alert-warning NOTES: 
							p='schema.orgのボキャブラリーはmicrodataで利用するために構築されたものですが、他の規格で利用できることも考えられています。たとえば、RDFa 1.1 Liteではschema.orgのボキャブラリーを利用することができます。'
							.alert.alert-warning NOTES: 
							p='WHATWGのHTML Living Standardでは、microformatsのボキャブラリーであるhCardやhCalendarをmicrodataでも利用する方法が提案されています。'
							.alert.alert-info microdataを利用した情報の付加
							p
								a.btn.btn-default(href='../demo/html/sample1/04/112.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article itemscope itemtype="http://schema.org/Article"&gt;
								| &lt;header&gt;
								| &lt;h1 itemprop="name"&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time itemprop="datePublished" datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img itemprop="image" src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p itemprop="description"&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。...&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。...温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| ...
								| 
								| &lt;/article&gt;
							figure
								table.table
									tr
										th 記事のタイトル
										td Short Tea Breaks
									tr
										th 記事の投稿日
										td 2013-01-15
									tr
										th 記事の画像
										td http://sun.web/img/tea.jpg
									tr
										th 記事の概要
										td 世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。
								figcaption microdataによって明示したコンテンツの内容
							p='microdataを利用して情報を付加する方法を確認していきます。ここでは、ボキャブラリーとしてmicrodataで一般的なschema.orgを利用し、<article>でマークアップした部分が「記事」であることを明示します。また、<article>内の各パーツが記事のタイトル、投稿日、画像、概要であることも明示しています。'
							p='まず、microdataで情報を付加するためには、HTMLタグでマークアップした箇所にitemscope属性を追加し、「アイテム」として扱うように設定します。さらに、itemtype属性でアイテムタイプを指定し、コンテンツの内容を明示します。'
							p='サンプルの場合、<article>でマークアップした箇所が「記事」であることを明示するため、itemscopeとitemtype属性を追加し、アイテムタイプを「Article」と指定しています。「Article」はschema.orgのボキャブラリーにおいて「記事」を示すアイテムタイプで、itemtype属性の値を「http://schema.org/Article」と指定して明示します。'
							p='次に、アイテム内の個々の要素にはitemprop属性を追加し、プロパティ名を指定することによって内容を明示します。サンプルの場合、<h1>でマークアップした見出しが記事のタイトルであることを明示するため、<h1>にitemprop属性を追加し、プロパティ名を「name」と指定しています。同様に、記事の投稿日、画像、概要を示すため、それぞれをマークアップした<time>、<img>、<p>にitemprop属性を追加し、プロパティ名を「datePublished」、「image」、「description」と指定しています。'
							.alert.alert-info アイテムタイプ

							.alert.alert-info プロパティ名

							.alert.alert-info ExpectedType（予期される形式）

							.alert.alert-warning NOTES: Google構造化データテストツールによる抽出結果
							
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')