include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| リンク
						div.panel-body
							div.alert.alert-info リンク
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;a&gt;...&lt;/a&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／インタラクティブコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| トランスペアレント
										br
										| ※インタラクティブコンテンツを除く
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td href／target／rel／media／hreflang／type／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p='&lt;a>はリンクを設定する要素です。リンク先のURLはhrefo属性で指定します。&lt;a>のコンテンツ・モデルは「トランスペアレント」なため、親要素の間にある要素を自由にマークアップすることができます。そこで、サンプルではナビゲーション・メニューや各記事の概要を&lt;a>でマークアップし、リンクを設定しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/178.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html"&gt;COLUMNS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| &lt;/div&gt;
								| &lt;/header&gt;
								| 
								| &lt;div id="main"&gt;
								| 
								| &lt;section id="content"&gt;
								| &lt;h1&gt;COLUMNS&lt;/h1&gt;
								| 
								| &lt;article&gt;
								| &lt;a href="teatime.html"&gt;
								| &lt;img src="img/teapot.jpg" alt=""&gt;
								| &lt;h1&gt;ちょっとしたお茶の時間&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。…&lt;/p&gt;
								| &lt;/a&gt;
								| &lt;/article&gt;
								| 
								| &lt;article&gt;
								| &lt;a href="secret.html"&gt;
								| &lt;img src="img/teacup.jpg" alt=""&gt;
								| &lt;h1&gt;紅茶の秘密&lt;/h1&gt;
								| &lt;time datetime="2013-01-10"&gt;January 10, 2013&lt;/time&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名で…&lt;/p&gt;
								| &lt;/a&gt;
								| &lt;/article&gt;
								| 
								| &lt;article&gt;
								| &lt;a href="sweet.html"&gt;
								| &lt;img src="img/cake.jpg" alt=""&gt;
								| &lt;h1&gt;ほんのり甘い…&lt;/h1&gt;
								| &lt;time datetime="2013-01-06"&gt;January 06, 2013&lt;/time&gt;
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし…&lt;/p&gt;
								| &lt;/a&gt;
								| &lt;/article&gt;
							.alert.alert-info 表示中のページヘのリンクを無効にする
							p ナビゲーションメニューのように複数ページで共用しているメニューの場合、表示中のページヘのリンクはhref属性を削除して無効にすることができます。これにより、ユーザーが表示中のページヘのリンクをクリックし、同じページが表示されるのを防ぐ事が可能です。
							p サンプルの場合、表示中の「COLUMNS」ページヘのリンクを無効化し、わかりやすいようにオレンジ色の下線をつけて表示しています。
							p
								a.btn.btn-default(href='demo/html/sample1/07/179-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a&gt;COLUMNS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
							pre(class='prettyprint linenums:1')
								| body > header li a
								| 	{border-bottom: solid 4px #ffaa00;}
								| 
								| body > header li a[href]
								| 	{border-bottom-color: transparent;}
								| 
								| body > header li a:hover
								| 	{border-bottom: solid 4px red;}
							div.alert.alert-warning NOTES:
							p='表示中のページヘのリンクを無効にするケース以外にも、JavaScriptなどでリンクを設定するようなケースではhref属性を省略し、&lt;a>のみでマークアップすることが認められています。'
							p='なお、href属性を省略した場合、target / rel / media / hreflang / type属性を指定できなくなります。また、itemprop属性を指定した場合はhref属性を省略することはできませんので注意が必要です。'
							.alert.alert-info ページ内リンクを設定する
							p ページ内へのコンテンツへのリンクを設定する場合、href属性ではリンク先のIDを指定します。たとえば、&lt;section id="tea">でマークアップした「紅茶」のセクションへのリンクを設定するには、href属性を「#tea」と指定します。
							p
								a.btn.btn-default(href='demo/html/sample1/07/179-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;ul id="jump"&gt;
								| &lt;li&gt;&lt;a href="#tea"&gt;紅茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="#oolong"&gt;ウーロン茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="#green"&gt;緑茶&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section id="tea"&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section id="oolong"&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section id="green"&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
							.alert.alert-success DIFFERENCES:
							p='HTML4.01やXHTML1.0では、リンク先のコンテンツを&lt;a name="〜">でマークアップし、name属性の値に対してリンクを指定できるようになっていましたが、HTML5ではname属性は廃止されていますので注意が必要です。'
							.alert.alert-info ブラウジング・コンテキストを指定する
							p target属性を利用すると、ブラウジング・コンテキストを指定することができます。ブラウジング・コンテキストはブラウザによって解釈され、それに応じてリンク先を表示する際の処理が変わります。
							p たとえば、サンプルのようにtarget='_blank'と指定したリンクをくりくすると、新しいウィンドウやタブが開いてリンク先のページが表示されます。
							p なお、target属性で指定できる値は下のようになっています。
							table.table
								tr
									th target属性の値
									th ブラウジング・コンテキスト
								tr
									td _blank
									td 新しいウィンドウ（タブ）
								tr
									td _self
									td 現在のウィンドウ（タブまたはフレーム）
								tr
									td _parent
									td 親のウィンドウ（タブまたはフレーム）
								tr
									td _top
									td 最上位階層のウィンドウ（タブ）
								tr
									td 名前
									td
										| 指定したブラウジング・コンテキスト名のウィンドウ（タブまたはフレーム）
										br
										| ※存在しない場合は指定した名前のウィンドウ（タブ）を新規に作成。
							p
								a.btn.btn-default(href='demo/html/sample1/07/180.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;a href="tea.html" target="_blank"&gt;
								| &lt;img src="img/teapot.jpg" alt=""&gt;
								| &lt;h1&gt;ちょっとしたお茶の時間&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。…&lt;/p&gt;
								| &lt;/a&gt;
								| &lt;/article&gt;
							.alert.alert-info リンク先に関する補助的な情報を記述する
							p media, hreflang, type属性を利用するとリンク先に関する情報を記述することができます。ただし、これらの属性で示した情報は補助的なものであり、ソフトウェアにはリンク先のページから得られる情報を利用することが求められています。
							p たとえば、下のように指定すると、リンク先がスクリーン（PCやスマートフォンなど）での表示に合わせてデザインされた、日本語のHTMLページであることを示すことができます。なお、これらの属性を指定しても、画面表示には影響しません。
							table.table
								tr
									th 属性
									th 明示できる情報
									th 指定できる値
								tr
									td media
									td リンク先を表示するのに最適なメディア
									td メディアクエリ
								tr
									td hreflang
									td リンク先の言語の種類
									td ja, en, fr, deなど
								tr
									td type
									td リンク先のMIMEタイプ
									td text/htmlなど
							pre(class='prettyprint linenums:1')
								| &lt;a href="〜.html" media="screen" hreflang="ja" type="text/html"&gt;...&lt;/a&gt;
							.alert.alert-warning NOTES:
							p グローバル属性のlangはマークアップした中身の言語を示すもので、リンク先の言語を示すためにはhreflangを利用する必要があります。
							.alert.alert-success DIFFERENCES:
							p HTML4.01やXHTML1.0では、charset属性でリンク先のエンコードの種類を指定することができましたが、HTML5では廃止されています。
							.alert.alert-info リンクタイプを明示する
							p rel属性を利用すると、リンクタイプを明示することができます。現在のところ、指定できる値は以下のようになっています。
							div.row
								div.col-sm-6
									table.table
										tr
											th rel属性の値
											th リンクタイプ
										tr
											td alternate
											td フィードまたはだいたい文章
										tr
											td author
											td 著者情報
										tr
											td bookmark
											td コンテンツのパーマリンク
										tr
											td help
											td ヘルプ情報
										tr
											td license
											td ライセンス情報
										tr
											td next
											td 次のページ
								div.col-sm-6
									table.table
										tr
											th rel属性の値
											th リンクタイプ
										tr
											td nofollow
											td 非推奨
										tr
											td noreferrer
											td リファラー情報の送信を禁止
										tr
											td prefetch
											td 先読みキャッシュ
										tr
											td prev
											td 前のページヘリンク
										tr
											td search
											td 検索関連の情報
										tr
											td tag
											td ページに付加したタグ
							.alert.alert-success DIFFERENCES:
							p HTML4.01やXHTML1.0ではrelとrevの2つの属性が用意され、rel属性は現在のページから見たリンク先のページとの関係を、rev属性はリンク先から見た現在のページとの関係を示すものと定義されていました。しかし、rev属性が実際に活用されることはほとんどなく、HTML5では廃止されています。
							h4 フィードまたは代替文書へのリンク
							p rel属性を「alternate」と指定した場合、他の属性によって示す内容が変わります。
							p まず、type属性を「application/rss+xml」または「application/atom+xml」と指定した場合、RSSまたはAtomフィードへのリンクであることを示すことができます。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;a href="feed.xml" rel="alternate" type="application/rss+xml"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;
								figcaption フィードへのリンクであることを明示したもの。
							p フィード以外で、media、hreflang、type属性を指定すると、現在のページの代替文書であることを示すことができます。たとえば、下のようにhreflang属性を「en」と指定した場合、現在のページの英語版ページヘのリンクであることを示します。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;a href="tea-en.html" rel="alternate" hreflang="en"&gt;English Version&lt;/a&gt;
								figcaption 現在のページの英語版ページヘのリンク。
							p また、type属性を「application/pdf」と指定した場合には、PDF版へのリンクであることを示すことができます。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;a href="tea.pdf" rel="alternate" type="application/pdf"&gt;PDF版はこちら&lt;/a&gt;
								figcaption 現在のページのPDF版ページへのリンク。
							h4 著作情報へのリンク
							p rel属性を「author」と指定した場合、著者情報へのリンクであることを示します。この情報は、Googleの構造化データテストツールでは「作成者」情報として取得されます。
							p
								| 構造化データテストツール
								br
								a(href='https://www.google.com/webmasters/tools/richsnippets',target='_blank') https://www.google.com/webmasters/tools/richsnippets
							p
								a.btn.btn-default(href='demo/html/sample1/07/182-author.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| Posted by &lt;a href="hanako.html" rel="author"&gt;Hanako&lt;/a&gt;
								figcaption 著作情報へのリンクであることを明示したもの。
							h4 コンテンツのパーマリンク
							p='rel属性を「bookmark」と指定してパーマリンクを指定したリンクは、&lt;a>でマークアップしたキーワードだけでなく、&lt;a>を含む&lt;article>ないしはセクション全体（親要素）が示すリンクと解釈されます。'
							p パーマリンクとは、各記事に割り振られる固有のURLのことです。もともとWebページは固有のURLを持つものですが、ブログやCMSのようにデータベースからデータを読み込んでページを生成するシステムでは、更新作業の繰り返しなどによって記事のURLが変わり、デッドリンクが増えていくという問題が発生していました。そこで、記事ごとに変わることのない恒久的なURLとして「パーマリンク（permalink／permanent link）」を設定する仕組みが生まれ、リンクやブクマークするときにはパーマリンクを使うことが推奨されるようになっています。
							p そして、ソフトウェアにパーマリンクを認識させるために導入されたのがrel="bookmark"です。ブログ専用の検索エンジンなどに効率よくデータを取得してもらうためには欠かすことのできない設定とされ、WordPressなど、多くのブログで利用されています。
							p
								a.btn.btn-default(href='demo/html/sample1/07/182-bookmark.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;img src="img/teapot.jpg" alt=""&gt;
								| &lt;h1&gt;&lt;a href="http://sun.web/teatime.html" rel="bookmark"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。…&lt;/p&gt;
								| &lt;/article&gt;
								| 
								| &lt;article&gt;
								| &lt;img src="img/teacup.jpg" alt=""&gt;
								| &lt;h1&gt;&lt;a href="http://sun.web/secret.html" rel="bookmark"&gt;紅茶の秘密&lt;/a&gt;&lt;/h1&gt;
								| &lt;time datetime="2013-01-10"&gt;January 10, 2013&lt;/time&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名で…&lt;/p&gt;
								| &lt;/article&gt;
								| 
								| &lt;article&gt;
								| &lt;img src="img/cake.jpg" alt=""&gt;
								| &lt;h1&gt;&lt;a href="http://sun.web/sweet.html" rel="bookmark"&gt;ほんのり甘い…&lt;/a&gt;&lt;/h1&gt;
								| &lt;time datetime="2013-01-06"&gt;January 06, 2013&lt;/time&gt;
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし…&lt;/p&gt;
								| &lt;/article&gt;
							.alert.alert-warning NOTES:
							p ブログツールであるWordPressでは、「設定&lt;パーマリンク設定」でパーマリンクの設定を行うことができます。これにより、標準では「http://www.www.www/?p=123」といったURLで生成される記事のページに、「http://www.www.www/tea/」のようにわかりやすいURLでアクセスできるようになります。
							.alert.alert-success DIFFERENCES:
							p HTML4.01やXHTML1.0では、rel="bookmark"は「ドキュメントのキーとなる入り口へのリンクを示す」と定義されていました。
							h4 ヘルプ情報へのリンク
							p 親要素に関するヘルプ情報へのリンクであることを示す場合、rel属性を「help」と指定します。
							p='たとえば、下のフォームの場合、ユーザーIDの入力項目の部分に、ユーザーIDについての説明へのリンクを用意しています。このとき、リンクにrel="help"と指定することにより、親要素&lt;label>でブックマークした入力項目に関するヘルプであることを明示しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/183-help.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;&lt;label&gt;ユーザーID： &lt;a href="help.html#userid" rel="help"&gt;ユーザーIDとは&lt;/a&gt;
								| &lt;input type="text" name="uid" size="40"&gt;
								| &lt;/label&gt;&lt;/p&gt;
							h4 ライセンス情報へのリンク
							p ページ内のメインコンテンツが属するライセンス情報へのリンクは、rel属性を「license」と指定して明示することができます。
							p たとえば、下のサンプルではクリエイティブ・コモンズのライセンスへのリンクを表示し、rel="license"と指定しています。これにより、メインコンテンツである写真がライセンスに属していることを示しています。
							p
								a.btn.btn-default(href='demo/html/sample1/07/184-license.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Pick Up Photo&lt;/h1&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;&lt;a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.ja"&gt;&lt;img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /&gt;&lt;/a&gt;&lt;br /&gt;この 作品 は &lt;a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.ja"&gt;クリエイティブ・コモンズ 表示 - 非営利 - 改変禁止 3.0 非移植 ライセンスの下に提供されています。&lt;/a&gt;&lt;/p&gt;
							.alert.alert-warning NOTES:
							p クリエイティブ・コモンズのライセンスへのリンクは、以下のサイトで作成することができます。作成したリンクには「rel="license"」が記されており、コピーしてそのまま使用することができます。
							p
								| クリエイティブ・コモンズ
								br
								a(href='http://creativecommons.org/choose/',target='_blank') http://creativecommons.org/choose/
							h4 前後のページヘのリンク
							p 一連の関連したドキュメントにおいて、rel属性を「next」、「prev」と指定すると、前後のページのリンクを示すことができます。
							p
								a.btn.btn-default(href='demo/html/sample1/07/184-nextprev.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;nav&gt;
								| &lt;a href="hot.html" rel="prev"&gt;&laquo; PREV: 紅茶の秘密&lt;/a&gt;
								| &lt;a href="movie.html" rel="next"&gt;NEXT: 映画に出てくるお茶 &raquo;&lt;/a&gt;
								| &lt;/nav&gt;
							h4 推奨していないリンク
							p rel属性を「nofollow」と指定すると、現在のページの著者が推奨したリンクではないことを示します。現在のところ、検索エンジンのクローラーは「nofollow」と指定したリンク先をクロールしないことになっており、コメントに含まれるリンクのようにリンク先の確認が困難な場合には「nofollow」をつけるサイトが多くなっています。
							pre(class='prettyprint linenums:1')
								| Commented by
								| &lt;a href="http://www.www.www/xxx.html" rel="nofollow"&gt;匿名希望&lt;/a&gt;
							h4 リファラー情報の送信を禁止したリンク
							pre(class='prettyprint linenums:1')
								| Commented by
								| &lt;a href="http://www.www.www/xxx.html" rel="noreferrer"&gt;匿名希望&lt;/a&gt;
							p ユーザーがリンクをクリックしてリンク先のページにアクセスすると、リンク先のサーバーにはHTTPヘッダーとしてアクセス元のURL（リファラー情報）が送信されます。これにより、リンク先のサーバー管理者はユーザーがどこのリンクからアクセスしてきたのかを知ることができます。
							p しかし、rel属性を「noreferrer」と指定した場合、リファラーの送信情報の送信を禁止することが可能です。現在のところ、このきのうにはiOS4以上、Android2.3.x以上、Safari、Chromeが対応しています。
							.alert.alert-warning NOTES: 複数の値を指定する
							p rel属性では複数の値を半角スペースで区切って指定することもできます。たとえば、「nofollow」と「noreferrer」を指定する場合には、下のように記述します。
							pre(class='prettyprint linenums:1')
								| Commented by
								| &lt;a href="http://www.www.www/xxx.html" rel=""nofollow noreferrer&gt;匿名希望&lt;/a&gt;
							h4 先読みキャッシュを指定したリンク
							p rel属性を「prefetch」と指定すると、リンク先のデータを先読みしてキャッシュします。ただし、現在のところ各ブラウザでは未対応となっています。
							.alert.alert-warning NOTES:
							p Firefoxは&lt;link rel="prefetch"&gt;の指定には対応しています。
							h4 検索関連の情報へのリンク
							p リンク先がページ内で使用している検索エンジンやそのWebインターフェースについての情報であることを示す場合には、rel属性を「search」と指定します。
							.alert.alert-warning NOTES:
							p &lt;link ref="search"&gt;を利用するとOpenSearch description documentを指定することができます。
							h4 ページに付加したタグへのリンク
							p rel属性を「tag」と指定すると、ページに付加したタグのリンクであることを示します。たとえば、付加したタグの一覧を表示する場合、下のように記述することができます。
							p また、「tag」で示したタグを表示した形で複数の記事をリストアップした場合、すべてのタグがそのページに付加されたものとして扱われます。
							p
								a.btn.btn-default(href='demo/html/sample1/07/185-tag.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;ul id="tag"&gt;
								| &lt;li&gt;&lt;a href="tag/tea/" rel="tag"&gt;お茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="tag/cake/" rel="tag"&gt;ケーキ&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="tag/cafe/" rel="tag"&gt;カフェ&gt;/a&gt;&gt;/li&gt;
								| &gt;/ul&gt;
							.alert.alert-warning NOTES:
							.alert.alert-success DIFFERENCES:
							.alert.alert-warning NOTES:
							.alert.alert-warning NOTES:
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')