include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;データの入力・送信
						.panel-body
							.alert.alert-info データの入力・送信
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
										| （※）
									td
										img(src='images/ic-android.png')
										| （※）
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
										| （※）
									td
										img(src='images/ic-chrome.png')
										| （※）
									td
										img(src='images/ic-opera.png')
										| （※）
									td
										img(src='images/ic-ie.png')
										| （※）
							p ※ 一部非対応
							pre
								| &lt;input&gt;
							table.table
								tr
									td(style='width:150px;') カテゴリー
									td
										| フローコンテンツ／ フレージングコンテンツ／ リスティッド要素／ サブミッタブル要素／ リセッタブル要素／ フォームアソシエイティッド要素
										br
										| 
										br
										| type属性の値が「hidden」以外の場合は上記に加えて以下のカテゴリーにも属する：
										br
										| インタラクティブコンテンツ／ラベラブル要素／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| 空
								tr
									td 構成するボックス
									td - （インラインブロックボックスを構成することが期待される）
								tr
									td 属性
									td accept／ alt／ autocomplete／ autofocus／ checked／ dirname／ disabled／ form／ formaction／ formenctype／ formmethod／ formnovalidate／ formtarget／ height／ list／ max／ maxlength／ min／ multiple／ name／ pattern／ placeholder／ readonly／ required／ size／ src／ step／ type／ value／ width／ グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p
								a.btn.btn-default(href='demo/html/sample1/09/244.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;&lt;input type="submit" value="送信"&gt;&lt;/p&gt;
								| &lt;/form&gt;
							p='<input>はtype属性によってデータの種類を指定し、さまざまなデータの入力や送信を可能にするコントロールを作成します。'
							p='たとえば、サンプルではメールアドレスを入力するためのテキストフィールドと送信ボタンを作成しています。'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンはHTML5で追加されたtype属性の値に未対応で、type="text"と指定したときと同じ形で扱われます。'
							.row
								.col-sm-6
									table.table
										tr
											th type属性の値
											th データの種類
										tr
											td text
											td テキスト
										tr
											td search
											td 検索
										tr
											td url
											td URL
										tr
											td tel
											td 電話番号
										tr
											td email
											td メールアドレス
										tr
											td password
											td パスワード
										tr
											td datetime
											td 日時（UTC）
										tr
											td datetime-local
											td 日時（ローカル）
										tr
											td date
											td 年月日
										tr
											td month
											td 年月
										tr
											td week
											td 週
										tr
											td time
											td 時刻
								.col-sm-6
									table.table
										tr
											th type属性の値
											th データの種類
										tr
											td number
											td 数値
										tr
											td range
											td 大まかな数値
										tr
											td color
											td カラーピッカー
										tr
											td checkbox
											td チェックボックス
										tr
											td radio
											td ラジオボタン
										tr
											td file
											td 選択したファイルのリスト
										tr
											td hidden
											td 隠しフィールド
										tr
											td submit
											td 送信ボタン
										tr
											td image
											td 画像ボタン
										tr
											td reset
											td リセットボタン
										tr
											td button
											td ボタン
							p='<input>にはたくさんの属性が用意されていますが、使用できる属性はtype属性の値によって変わります。ただし、下の属性についてはtype属性の値と関係なく指定することができます。'
							p='また、type属性が「hidden」以外の場合はautofocus属性を指定することが可能です。'
							table.table
								tr
									th type属性の値と関係なく指定できる属性
									th 機能
								tr
									td disabled
									td コントロールの無効化
								tr
									td form
									td='<form>との関連付け'
								tr
									td name
									td コントロール名の指定
								tr
									td value
									td 初期値の指定
							table.table
								tr
									th type属性の値が「hidden」以外のときに指定できる属性
									th 機能
								tr
									td autofocus
									td ページロード時にコントロールを選択
							h4 コントロールの無効化
							p
								a.btn.btn-default(href='demo/html/sample1/09/245-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email" disabled&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='disabled属性を指定すると、コントロールを無効化し、ユーザが入力・編集できないようにすることができます。また、このコントロールのデータはサーバーにも送信されません。なお、<fieldset>のdisalbled属性を利用すると、グループ内のコントロールをまとめて無効にすることができます。'
							h4 初期値の指定
							p
								a.btn.btn-default(href='demo/html/sample1/09/245-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email" value="hanako@web.mail"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='value属性を利用すると、コントロールの初期値を指定することができます。ユーザーが値を変更しなかった場合、サーバーには初期値が送信されます。'
							h4 オートフォーカス
							p
								a.btn.btn-default(href='demo/html/sample1/09/245-3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email" autofocus&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='autofocus属性を指定すると、ページをロードした段階でコントロールが選択され、すぎにデータを入力できる状態になります。'
							.alert.alert-success IE NOTES: 
							p IE9以前のバージョンはautofocus属性に未対応です。
							
							//<input type="text">
							.alert.alert-info テキスト
							p
								a.btn.btn-default(href='demo/html/sample1/09/246-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;名前：
								| &lt;input type="text" name="name"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='type属性を指定すると、<input>で扱うデータの種類が「改行なしのテキスト」であることを示すことができます。コントロールは1行分のテキストボックスの形で表示され、以下の属性を指定できるようになります。'
							.row
								.col-sm-6
									table.table
										tr
											th='<input type="text">で指定できる属性'
											th 機能
										tr
											td autocomplete
											td オートコンプリート
										tr
											td dirname
											td 書字方向の情報を送信
										tr
											td list
											td 入力候補の指定
										tr
											td maxlength
											td 入力できる文字数の指定
										tr
											td pattern
											td データ形式の指定
								.col-sm-6
									table.table
										tr
											th='<input type="text">で指定できる属性'
											th 機能
										tr
											td placeholder
											td プレースホルダの指定
										tr
											td readonly
											td 表示専用にする
										tr
											td required
											td 入力を必須にする
										tr
											td size
											td 表示する文字数の指定
							h4 書字方向の情報を送信
							p
								a.btn.btn-default(href='demo/html/sample1/09/246-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;名前：
								| &lt;input type="text" name="name" dirname="namedir"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='dirname属性を指定すると、コントロールに入力されたデータといっしょに書字方向の情報をサーバーに送信することができます。'
							p='dirname属性では情報を区別するための名前を指定します。たとえば、「namedir」と指定しておくと、「namedir = ltr」というデータが送信されるようになります。「ltr」は書字方向が左から右であることを示す値です。右から左の場合は「rtl」という値が送信されます。'
							.alert.alert-warning NOTES: 
							p='iOS5.x以前やAndroid、Firefox、Internet Explorer 10はdirname属性に未対応です。'
							h4 入力できる文字数の指定
							p
								a.btn.btn-default(href='demo/html/sample1/09/247-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;会員番号（８桁）：
								| &lt;input type="text" name="name" maxlength="8"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='maxlenght属性では、入力できる文字数を指定します。たとえば、値を「8」と指定すると、8文字までしか入力できなくなります。'
							h4 データ形式の指定
							p
								a.btn.btn-default(href='demo/html/sample1/09/247-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								&lt;p&gt;
								&lt;label&gt;会員番号：
								&lt;input type="text" name="name" pattern="[a-z]+" title="すべて小文字のアルファベットで入力してください"&gt;
								&lt;/label&gt;
								&lt;/p&gt;
							p='pattern属性を利用すると、入力を許可するデータの形式をJavaScriptの正規表現で指定することができます。たとえば、ここでは値を「[a-z]+」と指定し、小文字のアルファベットの入力のみを許可しています。'
							p='送信時には入力データの検証が行われ、誤りがある場合にはエラーメッセージが表示され、送信が停止されます。そのため、謝った内容のままデータが送信されるのを防ぐことができます。'
							p='また、pattern属性を指定した場合には、入力形式についての説明をtitle属性で記述しておくことが推奨されています。この説明はエラーメッセージといっしょに表示されます。'
							.alert.alert-warning NOTES: 
							p='各ブラウザは、入力されたデータが指定形式で正しく記述されているかどうか検証する機能を備えており、誤りがある場合にはエラーメッセージを表示し、送信を停止するようになっています。'
							p='ただし、iOSやAndroid、Safariの場合、内部的に検証は行いますが、エラーメッセージの表示や送信の停止は行いません。検証結果を表示に反映させるには、JavaScriptのvalidity.validやCSSの:valid、:invalidセレクタを利用して処理を設定します。'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンはpattern属性や入力データの検証に未対応です。'
							h4 プレースホルダーの指定
							p
								a.btn.btn-default(href='demo/html/sample1/09/248-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;会員番号：
								| &lt;input type="text" name="name" maxlength="8" placeholder="８桁の会員番号"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='placeholder属性を利用すると、入力に関する簡単なヒントを示すことができます。これは「プレースホルダ」と呼ばれ、データが未入力の場合にのみ、上のように薄いグレーの文字で表示されます。'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンはplaceholder属性に未対応です。'
							h4 表示専用にする
							p
								a.btn.btn-default(href='demo/html/sample1/09/248-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;会員番号：
								| &lt;input type="text" name="name" value="ABCDEFGH" readonly&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='readonly属性を指定すると、コントロールを表示専用にすることができます。過去に入力された変更不可なデータをフォームで扱う必要がある場合等に利用することができます。'
							p='ここでは、value属性で会員番号を入力済みの状態で表示し、readonly属性で編集できないように設定しています。ただし、入力済みの値を選択し、コピーすることは可能です。また、入力済みの値はサーバーに送信されます。'
							.alert.alert-warning NOTES: 
							p='disabled属性で無効化したコントロールの場合、値の編集もコピーもできなくなります。また、サーバへの送信も行われません。'
							h4 入力を必須にする
							p
								a.btn.btn-default(href='demo/html/sample1/09/248-3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;会員番号：
								| &lt;input type="text" name="name" required&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='required属性を指定すると、入力が必須であることを示します。送信時には入力データの検証が行われ、未入力の場合はエラーメッセージが表示されます。'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンはrequired属性に未対応です。'
							h4 表示する文字数の指定
							p
								a.btn.btn-default(href='demo/html/sample1/09/249.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;会員番号：
								| &lt;input type="text" name="name" size="45"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='size属性ではコントロールの横幅を何文字分表示できる大きさにするかを指定します。ここでは、30文字分を表示するように設定しています。'
							p='size属性を省略した場合、標準では20文字分の内容が表示されます。'
							.alert.alert-warning NOTES: 
							p='コントロールの横幅はスタイルシートのwidthプロパティでも変更することができます。このとき、size属性よりもwidthプロパティの指定が優先されます。'
							.alert.alert-warning NOTES: inputmode属性による入力モードの指定
							p='WHATWGのHTML Living StandardとW3CのHTML5.1では、データの入力モードを指定するinputmode属性が提案されており、type属性の値を「text」または「search」と指定したときに利用できることになっています。'
							p='たとえば、inputmode属性を「katakana」と指定した場合、コントロールを選択したときにキーボードの入力モードが自動的にカタカナに切り替わるようになります。'
							p='下のような値を指定できることになっていますが、現在のところ各ブラウザは未対応です。'
							table.table
								tr
									th inputmode属性の値
									th 入力モード
								tr
									td latin
									td アルファベットの入力に最適なモード。
								tr
									td latin-name
									td アルファベットの人名の入力に最適なモード。
								tr
									td kana
									td ひらがなの入力に最適なモード。
								tr
									td katakana
									td カタカナの入力に最適なモード。

							//<input type="search">
							.alert.alert-info 検索
							p
								a.btn.btn-default(href='demo/html/sample1/09/250-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;検索：
								| &lt;input type="search" name="keyword"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='type属性を「search」と指定した場合、<input>で扱うデータの種類は「改行なしのテキスト」となり、セマンティクスの上では<input type="text">と同じ扱いになります。指定できる属性も<input tyoe="text">の場合と同じです。'
							p='「search」と「text」の違いはコントロールの表示です。検索フィールドを通常のテキストフィールドと視覚的に区別して表示する環境では、「srarch」と指定されたコントロールを検索フィールド用のデザインで表示することが認められています。たとえば、iOSやOS X環境では「search」と指定したコントロールが角の丸いデザインで表示されます。'
							.alert.alert-warning NOTES: 
							p='WindowsやAndroidの環境ではどちらも四角いデザインで表示されます。'

							//<input type="url">
							.alert.alert-info URL
							p
								a.btn.btn-default(href='demo/html/sample1/09/250-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;URL：
								| &lt;input type="url" name="homepage"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='type属性の値を「url」と指定すると、<input>え扱うデータの種類がURLであることを示します。送信時には入力データの検証が行われます。'
							p='指定できる属性は、<input type="text">の属性からdirname属性を除いたものとなっています。'
							.row
								.col-sm-6
									table.table
										tr
											th='<input type="url">で指定できる属性'
											th 機能
										tr
											td autocomplete
											td オートコンプリート
										tr
											td list
											td 入力候補の指定
										tr
											td maxlength
											td 最大文字数の指定
										tr
											td pattern
											td データ形式の指定
								.col-sm-6
									table.table
										tr
											th='<input type="url">で指定できる属性'
											th 機能
										tr
											td placeholder
											td プレースホルダの指定
										tr
											td readonly
											td 表示専用にする
										tr
											td required
											td 入力を必須にする
										tr
											td size
											td 表示文字数の指定
							//<input type="tel">
							.alert.alert-info 電話番号
							p
								a.btn.btn-default(href='demo/html/sample1/09/251-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;電話番号：
								| &lt;input type="tel" name="telnum"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							p='type属性の値を「tel」と指定した場合、<input>で扱うデータの種類が電話番号であることを示します。入力データの検証は行われません。'
							p='また、<nput type="url">と同じ属性を指定することが可能です。'
							.alert.alert-warning NOTES: 
							p='iOSやAndroidで電話番号のコントロールを選択すると、数字の入力キーが表示されるようになります'

							//<input type="email">
							.alert.alert-info メールアドレス
							p
								a.btn.btn-default(href='demo/html/sample1/09/251-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
							h4 複数のメールアドレスを入力する
							p='<input>で扱うデータの種類がメールアドレスであることを示すためには、type属性の値を「email」と指定します。送信時には入力データの検証が行われます。'
							p='指定できる属性は、<input type="text">かの属性からdirname属性を除き、multiple属性を加えたものとなっています。'
							.row
								.col-sm-6
									table.table
										tr
											th='<input type="email">で指定できる属性'
											th 機能
										tr
											td autocomplete
											td オートコンプリート機能
										tr
											td list
											td 入力候補の指定
										tr
											td maxlength
											td 最大文字数の指定
										tr
											td multiple
											td 複数の値の指定
										tr
											td pattern
											td データ形式の指定
								.col-sm-6
									table.table
										tr
											th='<input type="email">で指定できる属性'
											th 機能
										tr
											td placeholder
											td プレースホルダの指定
										tr
											td readonly
											td 表示専用にする
										tr
											td required
											td 入力を必須にする
										tr
											td size
											td 表示文字数の指定

							//<input type="passowrd">
							.alert.alert-info パスワード
							.alert.alert-info 日時
							h4 年月日の入力
							h4 年月の入力
							h4 週の入力
							h4 時刻の入力
							h4 日時の入力（タイムゾーンの情報なし）
							h4 日時の入力（タイムゾーンの情報あり）
							h4 日時関連のコントロールで指定できる属性
							.alert.alert-info 数値
							.alert.alert-info 大まかな数値
							.alert.alert-info カラーピッカー
							.alert.alert-info チェックボックス
							.alert.alert-info ラジオボタン
							.alert.alert-info ファイルの選択とアップロード
							h4 ファイルの種類を指定する
							.alert.alert-info 隠し情報
							.alert.alert-info 送信ボタン
							h4 フォームの設定を変更する
							.alert.alert-info 画像ボタン
							.alert.alert-info リセットボタン
							.alert.alert-info ボタン
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')