include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;コンピュータ関連
						.panel-body
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							.alert.alert-info コンピュータコード
							pre
								| &lt;code&gt;…&lt;/code&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info 変数
							pre
								| &lt;var&gt;…&lt;/var&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| var {
											| 	font-style: italic;
											| }
							.alert.alert-info コンピュータからの出力内容
							pre
								| &lt;samp&gt;…&lt;/samp&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info コンピュータからの入力内容
							pre
								| &lt;kbd&gt;…&lt;/kbd&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info コンピュータコード
							p
								a.btn.btn-default(href='../demo/html/sample1/07/193.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;jQueryの&lt;code&gt;slideToggle()&lt;/code&gt;メソッドを利用すると、要素の表示・非表示を切り替えるスライドアニメーションを設定することができます。
								| 
								| &lt;pre&gt;&lt;code&gt;$(function(){
								|     $('h1').click(function() {
								| 		$(this).next().slideToggle();
								| 	}).next().hide();
								| });
								| &lt;/code&gt;&lt;/pre&gt;
							p='<code>は、コンピュータ・コードを示す要素です。サンプルでは本文中で言及したalideToggle()や、<pre>でマークアップしたコンテンツがコンピュータ・コードであることを示しています。'
							p なお、コードの種類を示したい場合には、「language-*」という形のクラス名で明示する方法が提案されています。たとえば、JavaScriptであることを示すには、下のように「language-javascript」と記述します。
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;jQueryの&lt;code class="language-javascript"&gt;slideToggle()&lt;/code&gt;メソッドを利用すると、要素の表示・非表示を切り替えるスライドアニメーションを設定することができます。
								| 
								| &lt;pre&gt;&lt;code class="language-javascript"&gt;$(function(){
								|     $('h1').click(function() {
								|           $(this).next().slideToggle();
								|      }).next().hide();
								| });
								| &lt;/code&gt;&lt;/pre&gt;
							.alert.alert-info 変数
							p='<var>は、コンピュータ・コードや数学における変数を示す要素です。たとえば、サンプルでは「a」、「b」、「c」の3つの変数をマークアップしています。'
							p='なお、デフォルトスタイルシートにより、<var>でマークアップした部分はイタリック体で表示されます。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/194-1.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Question&lt;/h1&gt;
								| 
								| &lt;p&gt;&lt;var&gt;a&lt;/var&gt;個の赤玉、&lt;var&gt;b&lt;/var&gt;個の青玉、&lt;var&gt;c&lt;/var&gt;個の白玉が入っている箱がある。この箱から１個の玉を取り出したとき、赤玉である確率を求めよ。&lt;/p&gt;
							pre(class='prettyprint linenums:1')
								| var	{color: red;
								| 	font-size: larger;
								| 	padding: 0 5px;}
							.alert.alert-info コンピュータからの出力内容
							p='コンピュータからの出力内容であることを示す場合は<samp>を利用します。ここでは、Internet Explorerで表示されることのあるメッセージをマークアップしています。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/194-2.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
								| 
								| &lt;p&gt;Internet Explorerでページを開くと、&lt;samp&gt;セキュリティで保護された接続から保護されていない接続へ変更しようとしています&lt;/samp&gt; とメッセージが表示されることがあります。&lt;/p&gt;
							pre(class='prettyprint linenums:1')
								| samp	{color: red;}
							.alert.alert-info コンピュータへの入力内容
							p='<kbd>はコンピュータへの入力内容を示す要素です。通常はキーボードでの入力内容を示しますが、音声入力の内容なども示すことが可能です。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/195-1.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
								| 
								| &lt;p&gt;必要事項を入力したら、最後に&lt;kbd&gt;Enter&lt;/kbd&gt;キーを押してください。&lt;/p&gt;
							h4 同時に入力するキー
							p='<kbd>を入れ子にすると、同時に入力するキーを示すことができます。たとえば、Ctrlキーを押しながらPキーを入力する場合、下のように記述します。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/195-2.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;印刷のショートカットは&lt;kbd&gt;&lt;kbd&gt;Ctrl&lt;/kbd&gt;+&lt;kbd&gt;P&lt;/kbd&gt;&lt;/kbd&gt;となっています。&lt;/p&gt;
							h4 選択するメニューの項目
							p='アプリケーションメニューから選択する項目も<kbd>で示すことができます。また、メニューの項目はコンピュータが出力したものであるため、下のように<samp>でもマークアップします。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/195-3.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;印刷するにはメニューから&lt;kbd&gt;&lt;kbd&gt;&lt;samp&gt;ファイル&lt;/samp&gt;&lt;/kbd&gt; ＞ &lt;kbd&gt;&lt;samp&gt;印刷&lt;/samp&gt;&lt;/kbd&gt;&lt;/kbd&gt;を選択します。&lt;/p&gt;
							h4 コマンドラインの表示
							p='コマンドラインの表示は、コンピュータからの出力として全体を<samp>でマークアップすることができます。このうち、入力内容が表示された部分は<kbd>でマークアップすることが可能です。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/195-4.html',target='_blank')
									i.glyphicon.glyphicon-play
										| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;PHPのバージョンを調べると次のようになります。&lt;/p&gt;
								| 
								| &lt;pre&gt;&lt;samp&gt;&lt;span class="prompt"&gt;[hanako@localhost ~]$&lt;/span&gt; &lt;kbd&gt;php -v&lt;/kbd&gt;
								| PHP 5.3.6 (built: Apr 10 2011 02:09:55)
								| Copyright (c) 1997-2011 The PHP Group
								| Zend Engine v2.3.0, Copyright (c) 1998-2011 Zend Technologies
								| &lt;/samp&gt;&lt;/pre&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')