include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;付加的な情報
						.panel-body
							.alert.alert-info 付加的な情報
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td.not-support
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							p ※ iOS5.x以前／Android3.x以前は未対応。
							pre
								| &lt;details&gt;
								| 	&lt;summary&gt;…&lt;/summary&gt;
								| 	...
								| &lt;/details&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングルート／インタラクティブコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 1つの&lt;summary&gt;とそれに続くフローコンテンツ
								tr
									td 構成するボックス
									td -（ブロックボックスを構成することが期待される）
								tr
									td 属性
									td open／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							pre
								| &lt;summary&gt;…&lt;/summary&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;details&gt;内の1つ目の子要素として記述可能
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| summary {
											| 	display: block;
											| }
							p
								a.btn.btn-default(href='../demo/html/sample1/10/290.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;hgroup&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;h2&gt;ちょっとしたお茶の時間&lt;/h2&gt;
								| &lt;/hgroup&gt;
								| 
								| &lt;img src="img/tea.jpg" alt="テーブルに紅茶とケーキのセットをサーブしました。ケーキはパウンドケーキにチーズケーキ、チョコレートケーキにアイスクリームを添えて、紅茶は白いティーポットに入れてお出ししています。"&gt;
								| 
								| &lt;details&gt;
								| &lt;summary&gt;フォトデータ&lt;/summary&gt;
								| &lt;dl&gt;
								| &lt;dt&gt;ファイル名：&lt;/dt&gt;
								| &lt;dd&gt;tea.jpg&lt;/dd&gt;
								| &lt;dt&gt;大きさ：&lt;/dt&gt;
								| &lt;dd&gt;960×490ピクセル&lt;/dd&gt;
								| &lt;dt&gt;ファイルサイズ：&lt;/dt&gt;
								| &lt;dd&gt;489KB&lt;/dd&gt;
								| &lt;/dl&gt;
								| &lt;/details&gt;
								| 
								| &lt;/article&gt;
							p='<details>ではユーザーが付加的に得ることのできる情報を示し、開閉式のウィジェトの形で表示を行う要素です。ウィジェットは標準で閉じた状態となり、<details>の中身は表示されません。ただし、<summary>で示した概要のみは常に表示され、概要部分をクリックすることでウィジェットを開閉できるようになっています。'
							p='たとえば、サンプルでは写真画像についての付加情報を<details>でマークアップし、「フォトデータ」という概要をクリックして開閉できるようにしています。'
							p='なお、<summary>で概要を明示しなかった場合、概要部分にはブラウザが適切な語句を表示することになっており、ChromeやSafari、iOSでは「詳細」、Androidでは「Details」と表示されます。'
							.alert.alert-info ウィジェットを開いた状態で表示する
							p
								a.btn.btn-default(href='../demo/html/sample1/10/291.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| ...
								| &lt;img src="img/tea.jpg" alt="テーブルに紅茶とケーキのセットをサーブしました。ケーキはパウンドケーキにチーズケーキ、チョコレートケーキにアイスクリームを添えて、紅茶は白いティーポットに入れてお出ししています。"&gt;
								| 
								| &lt;details open&gt;
								| &lt;summary&gt;フォトデータ&lt;/summary&gt;
								| &lt;dl&gt;
								| &lt;dt&gt;ファイル名：&lt;/dt&gt;
								| &lt;dd&gt;tea.jpg&lt;/dd&gt;
								| &lt;dt&gt;大きさ：&lt;/dt&gt;
								| &lt;dd&gt;960×490ピクセル&lt;/dd&gt;
								| &lt;dt&gt;ファイルサイズ：&lt;/dt&gt;
								| &lt;dd&gt;489KB&lt;/dd&gt;
								| &lt;/dl&gt;
								| &lt;/details&gt;
								| 
								| &lt;/article&gt;
							p='<details>にopen属性を指定すると、ウィジェットを開いた状態で表示することができます。'
							.alert.alert-warning NOTES: 
							p='<details>と<summary>に未対応のブラウザでは、<details>の内容がそのまま表示されます。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')