include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;進捗状況
						.panel-body
							.alert.alert-info 進捗状況
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td.
										img(src='../images/ic-ie.png')
							pre
								| &lt;progress&gt;...&lt;/progress&gt;
							table.table
								tr
									td カテゴリー
									td
										| フローコンテンツ／フレージングコンテンツ／ラベラブル要素／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ（&lt;progress&gt;を除く）
								tr
									td 構成するボックス
									td - （インラインブロックボックスを構成することが期待される）
								tr
									td 属性
									td value／max／グローバル
								tr
									td 標準的なスタイル
									td
										| -
							p
								a.btn.btn-default(href='../demo/html/sample1/09/285-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h1&gt;Task Progress&lt;/h1&gt;
									| 
									| &lt;p&gt;&lt;progress id="mytask"&gt;&lt;/progress&gt;&lt;/p&gt;
								figcaption　進捗状況を示していない時の表示
							p
								a.btn.btn-default(href='../demo/html/sample1/09/285-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;h1&gt;Task Progress&lt;/h1&gt;
									| 
									| &lt;p&gt;&lt;progress id="mytask" value="0.3"&gt;&lt;/progress&gt;&lt;/p&gt;
								figcaption　value属性で進捗状況を示した時の表示
							p='<progress>は処理の進捗状況を示す要素で、プログレスバーの形で表示されます。value属性を利用し、0〜1.0の範囲でどれくらい進捗しているかを示します。'
							p='たとえば、サンプルのようにvalue属性を「0.3」と指定すると、全体の30%の処理が終わったことを示すことができます。なお、進捗状況をリアルタイムで示すためには、JavaScriptを利用してvalue属性の値を更新するように設定します。'
							p='また、max属性を利用すると全体の処理量を示すことができます。標準では「1.0」となっていますが、次のように指定すると「100」に設定することが可能です。この場合、value属性では「0〜100」の値を指定できるようになります。'
							pre(class='prettyprint linenums:1')='<p><progress id="mytask" value="30" max="100"></progress></p>'
							.alert.alert-warning NOTES: 
							p='<progress>の中には、未対応なブラウザに表示するコンテンツを記述することができます。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;progress id="mytask" value="0.3"&gt;
									| 処理を実行しています。しばらくお待ちください。
									| &lt;/progress&gt;
								figcaption='<pregress>に未対応なブラウザでの表示'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンは<progress>に未対応です。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')