include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 外部コンテンツの組み込みポイント
						.panel-body
							.alert.alert-info 外部コンテンツの組み込みポイント
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;embed&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／エンベッディッドコンテンツ／インタラクティブコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| エンベッディッドコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td - （置換要素として扱われることが期待される）
								tr
									td 属性
									td src／type／width／height／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p='<embed>は、プラグインで表示を行う外部コンテンツの組み込みポイントを示す要素です。指定できる属性は下のようになっており、src属性で外部コンテンツのURLを、type属性でMIME TYPEを指定します。サンプルではFLASHファイル（sun.swf）を指定し、Flash Playerプラグインで表示するようにしています。'
							p
								a.btn.btn-default(href='demo/html/sample1/05/143.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;h1&gt;About SUN DIARY&lt;/h1&gt;
								| 
								| &lt;embed src="sun.swf" type="application/x-shockwave-flash" width="640" height="360"&gt;
								| 
								| &lt;/article&gt;
							table.table
								tr
									th='<embed>の属性'
									th 機能
								tr
									td src
									td コンテンツのURLを指定。
								tr
									td type
									td コンテンツのMIME TYPEを指定。
								tr
									td width
									td 横幅を指定。
								tr
									td height
									td 高さを指定。
							p='HTML5で正式採用された要素ですが、もともとは<object>に未対応なブラウザが<embed>に対応していたことから、<embed>の設定も記述しておくのが一般的な利用方法となっています。'
							p='なお、<embed>を<object>や<video>、<audio>の下位互換コンテンツとして記述し、下位互換コンテンツが表示されない場合、<embed>によるプラグインの起動は行われず、セマンティクス上でも何も明示しないものとして扱われます。'
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;h1&gt;About SUN DIARY&lt;/h1&gt;
								| 
								| &lt;object data="sun.swf" type="application/x-shockwave-flash" width="640" height="360"&gt;
								|      &lt;param name="bgcolor" value="#efb151"&gt;
								|      &lt;param name="quality" value="high"&gt;
								|      &lt;embed src="sun.swf" type="application/x-shockwave-flash" width="640" height="360" bgcolor="#efb151" quality="high"&gt;
								| &lt;/object&gt;
								| 
								| &lt;/article&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')