include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 変更・更新した情報
						.panel-body
							.alert.alert-info 変更・更新した情報
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;s&gt;...&lt;/s&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| s {
											| 	text-decoration: line-through;
											| }
							p='以前の情報から新しい情報に変更・更新した場合に、以前の情報を<s>でマークアップすることができます。これは編集したという意味ではなく、過去のある時点で正しかった情報が、現時点では変更・更新され、正しくなったことを示しています。'
							p='ここでは、特別価格で提供するようになった商品の元の定価を<s>でマークアップしています。デフォルトのスタイルシートにより、<s>でマークアップした情報には取り消し線が表示されます。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/200.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;article&gt;
								| &lt;img src="img/teacup.jpg" alt=""&gt;
								| &lt;h1&gt;お茶セット&lt;/h1&gt;
								| &lt;p class="price"&gt;&lt;s&gt;定価： 1200円&lt;/s&gt;&lt;/p&gt;
								| &lt;p class="price"&gt;特別価格： 800円&lt;/p&gt;
								| &lt;p&gt;紅茶やウーロンなど、おすすめのお茶をセットにした商品です。&lt;/p&gt;
								| &lt;/article&gt;
							pre(class='prettyprint linenums:1')
								| article .price	{margin: 0 0 5px 170px;
								| 	border: solid 1px #aaa;
								| 	padding: 3px 5px;}
							p='なお、誤った情報などの削除を示す場合には、<del>を利用することが求められています。'
							.alert.alert-success DIFFERENCES:
							p='HTML4.01やXHTML1.0における<s>は取り消し線を表示するためのものでした。HTML5で視覚的に取り消し線を表示したいだけの場合にはスタイルシートを利用します。'
							p='また、<s>と同じように取り消し線を表示する<strike>はHTML5では廃止されています。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')