include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ラベル
						.panel-body
							.alert.alert-info ラベル
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;label&gt;...&lt;/label&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／インタラクティブコンテンツ／フォームアソシエイティッドコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| フレージングコンテンツ（&lt;label&gt;および&lt;label&gt;によってラベルを付けたコントロールを除く）
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td form／for／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p
								a.btn.btn-default(href='../demo/html/sample1/09/241-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;
									| &lt;label&gt;名前：
									| &lt;input type="text" name="name" size="40"&gt;
									| &lt;/label&gt;
									| &lt;/p&gt;
									| 
									| &lt;p&gt;
									| &lt;label&gt;メールアドレス：
									| &lt;input type="email" name="email" size="40"&gt;
									| &lt;/label&gt;
									| &lt;/p&gt;
									| 
									| &lt;p&gt;
									| &lt;label&gt;コメント：
									| &lt;textarea name="comment" rows="8"&gt;&lt;/textarea&gt;
									| &lt;/label&gt;
									| &lt;/p&gt;
									| ...
								figcaption='コントロールとラベルを<label>でマークアップし、相互関係を明示したもの。'
							p
								a.btn.btn-default(href='../demo/html/sample1/09/241-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;
									| &lt;label for="name"&gt;名前：&lt;/label&gt;
									| &lt;input type="text" id="name" name="name" size="40"&gt;
									| &lt;/p&gt;
									| 
									| &lt;p&gt;
									| &lt;label for="email"&gt;メールアドレス：&lt;/label&gt;
									| &lt;input type="email" id="email" name="email" size="40"&gt;
									| &lt;/p&gt;
									| 
									| &lt;p&gt;
									| &lt;label for="comment"&gt;コメント：&lt;/label&gt;
									| &lt;textarea id="comment" name="comment" rows="8"&gt;&lt;/textarea&gt;
									| &lt;/p&gt;
									| ...
								figure='<label>のfor属性で相互関係を明示したもの。'
							p='コントロール項目名（ラベル）をつける際に、相互の関係を明示するために<label>でマークアップします。また、ラベルのみを<label>でマークアップし、for属性でコントロールのIDを指定することでも相互の関係を明示することが可能です。'
							p='サンプルの場合、どちらの形で記述しても画面表示には影響しません。'
							.alert.alert-warning NOTES: 
							p='ラベルをクリックすると、<label>で相互関係を明示したコントロールが選択されます。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')