include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 行のグループ
						.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							.alert.alert-info 行のグループ
							pre
								| &lt;thead&gt;...&lt;/thead&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;の後、&lt;tbody&gt;、&lt;tfoot&gt;、&lt;tr&gt;の前に記述可能
										| ※ &lt;thead&gt;は&lt;table&gt;内に1つのみ記述可
								tr
									td コンテンツモデル
									td
										| ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-header-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| thead {
											| 	display: table-header-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
							.alert.alert-info メインデータ
							pre
								| &lt;tbody&gt;...&lt;/tbody&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;の後に記述可能
										br
										| ※ &lt;table&gt;内の子要素に&lt;tr&gt;がない場合のみ記述可能
								tr
									td コンテンツモデル
									td ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-row-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| tbody {
											| 	display: table-row-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
							.alert.alert-info フッター
							pre
								| &lt;tfoot&gt;...&lt;/tfoot&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| 以下のいずれか
										br
										| ・&lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;の後、&lt;tbody&gt;、&lt;tr&gt;の前に記述可能
										br
										| ・&lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;、&lt;tbody&gt;、&lt;tr&gt;の後に記述可能
										br
										| ※ いずれの場合も&lt;tfoot&gt;は&lt;table&gt;内に1つのみ記述可
								tr
									td コンテンツモデル
									td ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-footer-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| tfoot {
											| 	display: table-footer-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
							p
								a.btn.btn-default(href='demo/html/sample1/08/231.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;table&gt;
								| &lt;thead&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;銘柄&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;/thead&gt;
								| &lt;tbody&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ダージリン&lt;/th&gt;
								|     &lt;td&gt;インド&lt;/td&gt;
								|     &lt;td&gt;1200円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ジャワ&lt;/th&gt;
								|     &lt;td&gt;インドネシア&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/tbody&gt;
								| &lt;tbody&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;煎茶&lt;/th&gt;
								|     &lt;td&gt;静岡&lt;/td&gt;
								|     &lt;td&gt;1000円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ほうじ茶&lt;/th&gt;
								|     &lt;td&gt;鹿児島&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/tbody&gt;
								| &lt;tfoot&gt;
								| &lt;tr&gt;
								|     &lt;th colspan="2"&gt;合計&lt;/th&gt;
								|     &lt;td&gt;3800円&lt;/td&gt;
								| &lt;/tr&gt;
								| 
								| &lt;/tfoot&gt;
								| &lt;/table&gt;
							pre(class='prettyprint linenums:1')
								| thead	{background: black;
								| 	color: white;}
								| 
								| tbody	{background: #f2eeb0;}
								| tbody + tbody	{border-top: double 4px black;}
								| 
								| tfoot	{border-top: solid 4px red;
								| 	background: #ffc8b2;}
								| ...
							p='<thead>、<tbody>、<tfoot>は行のグループを示す要素です。それぞれが構成するグループは、テーブルのヘッダー、メインデータ、フッターとして扱われます。'
							p='<thead>、<tbody>、<tfoot>の順に記述しますが、<tbdody>のみ複数記述することも可能です。'
							p='たとえば、さんぷるでは１行目にヘッダー、６行目にフッターとして<thead>と<tfoot>でマークアップしています。また、紅茶の情報を記述した２行目と３行目、緑茶の情報を記述した４行目と５行目はメインデータとしてそれぞれ<tbody>でマークアップしています。'
							p='スタイルシートではヘッダーを黒色で、メインデータを黄色で、フッターを赤色の背景で表示するようにしています。さらに、２つのメインデータの間は２重線で、メインデータとフッターの間は赤色の罫線で区切るように指定しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/08/232.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;table&gt;
								| &lt;thead&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;銘柄&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;/thead&gt;
								| &lt;tfoot&gt;
								| &lt;tr&gt;
								|     &lt;th colspan="2"&gt;合計&lt;/th&gt;
								|     &lt;td&gt;3800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/tfoot&gt;
								| &lt;tbody&gt;…&lt;/tbody&gt;
								| &lt;tbody&gt;…&lt;/tbody&gt;
								| &lt;/table&gt;
							p='なお、<tfoot>を<thead>と<tbody>の間に記述し、<thead>、<tfoot>、<tbody>の順に記述することも可能です。この場合も、ブラウザ画面ではテーブルの一番下にフッターが表示されます。'
							.alert.alert-success DIFFERENCES: 
							p='HTML4.01やXHTML1.0における<tfoot>は<thead>と<tfoot>の間に記述するものと定義されていました。'
							.alert.alert-warning NOTES: 
							p
								a.btn.btn-default(href='demo/html/sample1/08/233-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;thead&gt;
								| &lt;tr&gt;&lt;th&gt;銘柄&lt;/th&gt;…&lt;/tr&gt;
								| &lt;/thead&gt;
								| &lt;tbody&gt;
								| &lt;tr&gt;&lt;th&gt;ダージリン&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ジャワ&lt;/th&gt;…&lt;/tr&gt;
								| &lt;/tbody&gt;
								| &lt;tbody&gt;
								| &lt;tr&gt;&lt;th&gt;煎茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ほうじ茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;/tbody&gt;
								| &lt;/table&gt;
							p='<thead>、<tbody>、<tfoot>をセットで使う必要はありません。たとえば、フッターに相当する行がない場合、<thead>と<tbody>でグループを示します。'
							p
								a.btn.btn-default(href='demo/html/sample1/08/233-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;thead&gt;
								| &lt;tr&gt;&lt;th&gt;銘柄&lt;/th&gt;…&lt;tr&gt;
								| &lt;/thead&gt;
								| &lt;tr&gt;&lt;th&gt;ダージリン&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ジャワ&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;煎茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ほうじ茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;/table&gt;
							p='また、<tbody>は開始タグと終了タグの記述を省略できることになっています。そのため、上のように<thead>のみでグループを示した場合でも、ヘッダー以外の行は<tbody>でマークアップしたものとして処理されます。tbodyセレクタで指定したスタイルシートも適用されるため、ここでは背景が黄色で表示されます。'
							p='<thead>、<tbody>、<tfoot>をセットで使う必要はありません。たとえば、フッターに相当する行がない場合、<thead>と<tbody>でグループを示します。'
							p
								a.btn.btn-default(href='demo/html/sample1/08/233-3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;tr&gt;&lt;th&gt;銘柄&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ダージリン&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ジャワ&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;煎茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;tr&gt;&lt;th&gt;ほうじ茶&lt;/th&gt;…&lt;/tr&gt;
								| &lt;/table&gt;
							p='<thead>、<tbody>、<tfoot>を使用せず行のグループを示さなかった場合、すべての行が<tbody>でマークアップされているものとして処理されます。'
							.alert.alert-warning NOTES: レイアウト目的のテーブル
							p='テーブルの機能は、歴史的にページのレイアウトをコントロールする目的で使用されてきた経緯があります。そのため、主要ブラウザでテーブルを表示すると、標準ではセルを区切る罫線が表示されず、わかりにくい表示になってしまいます。'
							p='これに対し、HTML5ではテーブルの機能をレイアウト目的で使用することが明確に禁止され、ブラウザには標準で罫線を表示するなどして、わかりやすい表示を行うことを求めています。'
							p='ただし、下位互換の必要性がでてくることから、ブラウザにはレイアウト目的のテーブルかどうかを自動的に判別する機能を開発することも求めています。この際に、下のような情報を利用することで判別できるのではないかとの提案も行われています。'
							table.table
								tr
									th(rowspan='3') レイアウト目的のテーブルの可能性があるケース
									td role属性の値が「presentation」。
								tr
									td HTML5で廃止されたborder属性の値が「0」。
								tr
									td HTML5で廃止されたcellspacingとcellpadding属性の値が「0」。
								tr
									th(rowspan='4') レイアウト目的のテーブルの可能性が無いケース
									td='<caption>、<thead>、<th>を使用。'
								tr
									td headersとscope属性を使用。
								tr
									td HTML5で廃止されたborder属性の値が「0」以外。
								tr
									td CSSでセルを区切る罫線を表示。
								tr
									th 参考にならない情報
									td='summary属性の値。<br>※ 歴史的に、レイアウト目的のテーブルとそうでないテーブルの両方で使用されてきたため。'

		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')