include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| リスト
						.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
										| （※）
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
										| （※）
									td
										img(src='images/ic-ie.png')
										| （※）
							p ※一部非対応
							.alert.alert-info リスト（順序あり）
							pre
								| &lt;ol&gt;
								| &lt;li&gt;...&lt;/li&gt;
								| &lt;/ol&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ（子要素に&lt;li&gt;を含む場合）
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td ゼロまたは1つ以上の&lt;li&gt;
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td reversed／start／type／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| ol {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	margin-top: 1em;
											| 	margin-bottom: 1em;
											| 	padding-left: 40px;
											| 	list-style-type: decimal;
											| }
							.alert.alert-info リスト（順不同）
							pre
								| &lt;ul&gt;
								| &lt;li&gt;...&lt;/li&gt;
								| &lt;/ul&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ（子要素に&lt;li&gt;を含む場合）
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td ゼロまたは1つ以上の&lt;li&gt;
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| ul {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	margin-top: 1em;
											| 	margin-bottom: 1em;
											| 	padding-left: 40px;
											| 	list-style-type: disk;
											| }
							pre
								| &lt;li&gt;...&lt;/li&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;ul&gt;、&lt;ol&gt;、&lt;menu&gt;の中
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td list-item
								tr
									td 属性
									td value（&lt;ol&gt;の子要素の場合のみ）／グローバル  
								tr
									td 標準的なスタイル
									td
										pre
											| li {
											| 	display: list-item;
											|  	unicode-bidi: isolate;
											| }
							p
								a.btn.btn-default(href='demo/html/sample1/06/169-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;ACCESS RANKING&lt;/h1&gt;
								| &lt;ol&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
								| &lt;/ol&gt;
							p
								a.btn.btn-default(href='demo/html/sample1/06/169-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;RECENT POSTS&lt;/h1&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ほんのり甘い…&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;年越しにぴったりなお菓子&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;あったか飲み物&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
							p='複数の項目を書き並べてリストアップする場合、各項目を<li>で、全体を<ol>または<ul>でマークアップし、リストであることを示します。このとき、各項目の順序が重要な意味を持つ場合は番号が割り振られる<ol>を、順序が重要でない場合はリスト表示を行うだけの<ul>を使用します。そこで、サンプルでは順序が変わると意味が変わってしまうアクセスランキングの記事を<ol>で、順序が変わっても問題のない記事一覧を<ul>でマークアップしています。'
							p='<ol>でマークアップした場合、セマンティクス上でも各項目に1, 2, 3...と昇順で番号が割り振られていることに注意する必要があります。'
							.alert.alert-info 割り振られる番号
							p='各項目に割り振られる番号のタイプは、type属性を利用して変更することができます。たとえば、a, b, c, ...に変更する場合には以下のように<ol>にtype属性を追加し、値を「a」と指定します。'
							p='番号の表記だけであれば従来通りスタイルシートで変更することも可能ですが、セマンティクスまでは変更できない点には注意が必要です。'
							table.table
								tr
									th 値
									th タイプ
									th 例
								tr
									td 1
									td 数字
									td 1, 2, 3, ...
								tr
									td a
									td 小文字のアルファベット
									td a, b, c, ...
								tr
									td A
									td 大文字のアルファベット
									td A, B, C, ...
								tr
									td ⅰ
									td 小文字のローマ数字
									td ⅰ, ⅱ, ⅲ
								tr
									td Ⅰ
									td 大文字のローマ数字
									td Ⅰ, Ⅱ, Ⅲ
							p
								a.btn.btn-default(href='demo/html/sample1/06/170.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;ol type="a"&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
									| &lt;/ol&gt;
								figcaption type属性で番号のタイプをa,b,cに変更したもの。
							p なお、タイプ以外にも、下の属性を利用して開始番号などを変更することが可能です。
							table.table
								tr
									th 要素
									th 属性
									th 機能
								tr
									td(rowspan='3') ol
									td type
									td 番号のタイプを指定。
								tr
									td start
									td 開始番号を指定。
								tr
									td reversed
									td 番号を降順で割り当てる。
								tr
									td li
									td value
									td 項目に割り当てる番号を指定。
							p
								a.btn.btn-default(href='demo/html/sample1/06/171-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;ol start="10"&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
									| &lt;/ol&gt;
								figcaption start属性では開始番号を変更することができます。
							p
								a.btn.btn-default(href='demo/html/sample1/06/171-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;ol reversed&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
									| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
									| &lt;/ol&gt;
								figcaption reversed属性を指定すると、番号を降順で割り当てることができます。
							p
								a.btn.btn-default(href='demo/html/sample1/06/171-3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;ol&gt;
									| &lt;li value="5"&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
									| &lt;li value="4"&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
									| &lt;li value="3"&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
									| &lt;li value="2"&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
									| &lt;li value="1"&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
									| &lt;/ol&gt;
								figcaption value属性では各項目に割り当てる番号を変更することができます。上のように指定した場合、セマンティクスはreversed属性を指定したときと同じになります。
							.alert.alert-warning NOTES:
							p='現在のところ、reversed属性にはiOS6、Safari 6、Chromeが対応しています。reversed属性に未対応なブラウザでも画面上の番号を降順で表示するためには、<li>のvalue属性を利用して上のように記述するか、下のようなスタイルシートを適用します。'
							pre(class='prettyprint linenums:1')
								| ol{
								| 	counter-reset: mycount 6;
								| 	list-style-type: none;
								| }
								| ol li::before{
								| 	content: counter(mycount)'. ';
								| }
								| ol li{
								| 	counter-increment: mycount -1;
								| }
							.alert.alert-success DIFFERENCES:
							p='HTML4.01やXHTML1.0における<ol>と<ul>のcompact属性や、<ul>と<li>のtype属性はHTML5では廃止されています。これらはリストの表示をカスタマイズするための属性で、スタイルシートに置き換えることが可能です。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')