include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 強調・強勢
						.panel-body
							.alert.alert-info 強調・強勢
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;em&gt;...&lt;/em&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| em {
											| 	font-style: italic;
											| }
							p='<em>は会話などにおいてアクセントをつけ、強調・強勢する語句を示す要素です。アクセントをつける語句によって文章のニュアンスが変わる場合に使います。'
							p='たとえば、以下のサンプルでは「Can you come to my party on Friday?（あなたは金曜の私のパーティにこれますか？）」という文章の中で強勢する語句を示しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/199.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;太郎：I'm so busy until the end of this week.&lt;/p&gt;
									| &lt;p&gt;花子：Can you come to my party on &lt;em&gt;Friday&lt;/em&gt;?&lt;/p&gt;
								figcaption 「週末まで忙しい」と言われたため、「Friday（金曜の）」を強調して発言したもの。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;太郎：Everyone looks so busy.&lt;/p&gt;
									| &lt;p&gt;花子：Can &lt;em&gt;you&lt;/em&gt; com to my party on Friday?&lt;/p&gt;
								figcaption 「みんな忙しそう」と言われたため、「you（あなたは）」を強調して発言したもの。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;p&gt;太郎：I don't really enjoy partying.&lt;/p&gt;
									| &lt;p&gt;花子：Can you come to &lt;em&gt;my party&lt;/em&gt; on Friday?&lt;/p&gt;
								figcaption 「パーティは好きじゃない」と言われたため、「my party（私のパーティ）」を強調して発言したもの。
							p='<strong>と同じように、<em>を入れ子にすると強勢の度合いを示すこともできます。たとえば、下の記述では「my party」をより強く発言したことを示しています。'
							p なお、日本語については使いどころが難しい要素です。
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;太郎：I don't really enjoy &lt;em&gt;partying&lt;/em&gt;.&lt;/p&gt;
								| &lt;p&gt;花子：Can you come to &lt;em&gt;&lt;em&gt;my party&lt;/em&gt;&lt;/em&gt; on Friday?&lt;/p&gt;
							.alert.alert-success DIFFERENCES:
							p='HTML4.01やXHTML1.0では<em>が「強調」、<strong>が「より強い強調」を示すものと定義されており、使い分けがあいまいでした。HTML5における<em>は、<strong>のように重要性を示すことはありませんので注意が必要です。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')