include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;略語
						.panel-body
							.alert.alert-info 略語
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;abbr&gt;...&lt;/abbr&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル／（特別なセマンティクスを持つ属性：title）
								tr
									td 標準的なスタイル
									td
										pre
											| abbr[title] {
											| 	text-decoration: dotted underline;
											| }
							p='<abbr>では略語や頭文字を示す要素で、title属性を利用して元の語句を示します。'
							p='略語のデザインをカスタマイズすることが目的の場合にはtitle属性を省略することが可能です。また、元の語句を明示する必要がなく、デザインのカスタマイズも行わない場合には、<abbr>でマークアップしなくても問題ありません。'
							p='サンプルでは略語を<abbr>でマークアップし、「W3C」についてはtitle属性で元の語句を明示しています。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/187-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
								| 
								| &lt;p&gt;
								| &lt;abbr title="World Wide Web Consortium"&gt;W3C&lt;/abbr&gt;では&lt;abbr&gt;HTML&lt;/abbr&gt;や&lt;abbr&gt;CSS&lt;/abbr&gt;の標準規格の策定が行われています。
								| &lt;/p&gt;
							pre(class='prettyprint linenums:1')
								| abbr	{color: red;}
							.alert.alert-warning NOTES: FirefoxとOperaでの表示
							p='HTML5で提案されているデフォルトスタイルシートでは、title属性を持つ<abbr>でマークアップした略語には点線で下線を表示することになっています。FirefoxとOperaではこれに従い、下線が表示されます。'
							.alert.alert-warning NOTES: 元の語句を表示する
							p='スタイルシートを利用すると、<abbr>のtitle属性で指定した元の語句を画面に表示することができます。下のサンプルの場合、title属性を持つ<abbr>に対してcontentプロパティを適用し、略語の後にtitle属性の値を【】で囲んで挿入するように指定しています。'
							p
								a.btn.btn-default(href='../demo/html/sample1/07/187-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| abbr[title]::after	{content: ' 【'attr(title)'】 ';}
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')