include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 選択肢
						.panel-body
							.alert.alert-info 選択肢
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;select&gt;
								| &lt;option&gt;…&lt;/option&gt;
								| &lt;/select&gt;
							table.table
								tr
									td カテゴリー
									td
										| フローコンテンツ／フレージングコンテンツ／インタラクティブコンテンツ／リステッド要素／ラベラブル要素／サブミッタブル要素／リセッタブル要素／フォームアソシエイティッド要素／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| ゼロまたは1つ以上の<option>または<optgroup>
								tr
									td 構成するボックス
									td - （インラインブロックボックスを構成することが期待される）
								tr
									td 属性
									td autofocus／disabled／form／multiple／name／required／size／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							pre
								| &lt;option&gt;…&lt;/option&gt;
							table.table
								tr
									td カテゴリー
									td
										| なし
								tr
									td 記述可能な場所
									td
										| &lt;select&gt;、&lt;datalist&gt;、&lt;optgorup&gt;の子要素として記述可能
								tr
									td コンテンツモデル
									td
										| テキスト
								tr
									td 構成するボックス
									td なし
								tr
									td 属性
									td disabled／label／selected／value／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							pre
								| &lt;optgroup&gt;…&lt;/optgroup&gt;
							table.table
								tr
									td カテゴリー
									td
										| なし
								tr
									td 記述可能な場所
									td
										| &lt;select&gt;の子要素として記述可能
								tr
									td コンテンツモデル
									td
										| ゼロまたは1つ以上の&lt;option&gt;
								tr
									td 構成するボックス
									td なし
								tr
									td 属性
									td disabled／label／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p
								a.btn.btn-default(href='demo/html/sample1/09/272.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;TEA SELECTION&lt;/h1&gt;
								| 
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;好きなお茶を選択してください：
								| &lt;select name="tea"&gt;
								| &lt;option&gt;ダージリン&lt;/option&gt;
								| &lt;option&gt;アッサム&lt;/option&gt;
								| &lt;option&gt;ニルギリ&lt;/option&gt;
								| &lt;option&gt;東方美人&lt;/option&gt;
								| &lt;option&gt;凍頂烏龍茶&lt;/option&gt;
								| &lt;option&gt;煎茶&lt;/option&gt;
								| &lt;option&gt;ほうじ茶&lt;/option&gt;
								| &lt;/select&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;&lt;input type="submit" value="送信"&gt;&lt;/p&gt;
								| &lt;/form&gt;
							p='<select>は<option>で記述した選択肢のセットを示す要素です。コントロールはドロップダウンボックスの形で表示され、選択肢の中から1つを選択することができます。サーバーには<select>のname属性で指定した名前と、<option>でマークアップしたコンテンツのうち、選択したものが送信されます。'
							figure
								pre
									| tea = ダージリン
								figcaption 送信されるデータ。
							p='<selet>と<option>で指定できる属性は次のようになっています。'
							.row
								.col-sm-6
									table.table
										tr
											th='<select>で指定できる属性'
											th 機能
										tr
											td autofocus
											td ページロード時にコントロールを選択
										tr
											td disabled
											td コントロールの無効化
										tr
											td form
											td='<form>との関連付け'
										tr
											td multiple
											td 複数選択を可能にする
										tr
											td name
											td コントロール名の指定
										tr
											td required
											td 入力を必須にする
										tr
											td size
											td 表示する選択肢の数

								.col-sm-6
									table.table
										tr
											th='<select>で指定できる属性'
											th 機能
										tr
											td disabled
											td コントロールの無効化
										tr
											td label
											td 画面に表示するラベルの指定
										tr
											td selected
											td 選択済みの選択肢の指定
										tr
											td value
											td サーバーに送信する値の指定

		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')