include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;MathML
						.panel-body
							.alert.alert-info MathML
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p iOS4.xは未対応
							pre
								| &lt;math&gt;...&lt;/math&gt;
							p='MathML（Mathmatical Markup Language）は数式を表すために作成された、XMLをベースとした言語です。文法などについては以下の勧告で規定されています。'
							p
								| Mathmatical Markup Language（MathML）
								br
								a(href='http://www.w3.org/TR/MathML3/',target='_blank') http://www.w3.org/TR/MathML3/
							p='HTML5ではMathMLの設定<math>〜</math>をHTMLソースの中に記述できるようになっています。たとえば、サンプルでは簡単な関係式や3×3のマトリクスを記述するため、次のような要素を使用しています。'
							table.table
								tr
									th 要素
									th 機能
								tr
									td='<mi>'
									td 数式のまとまりを示す。
								tr
									td='<mn>'
									td 記号を示す。
								tr
									td='<mn>'
									td 数字を示す。
								tr
									td='<mo>'
									td 演算子を示す。
								tr
									td='<msup>'
									td='<msup>内の2つ目の要素が上付き文字を示す。'
								tr
									td='<mtable>/<mtr>/<mtd>'
									td 行列を示す。
							p
								a.btn.btn-default(href='demo/html/sample1/05/157.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;アインシュタインのエネルギーと質量の関係式：
								| &lt;math&gt;
								|      &lt;mrow&gt;
								|           &lt;mi&gt;E&lt;/mi&gt;
								|           &lt;mo&gt;=&lt;/mo&gt;
								|           &lt;mrow&gt;
								|                &lt;mi&gt;m&lt;/mi&gt;
								|                &lt;mo&gt;&#x2062;&lt;/mo&gt;
								|                &lt;msup&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/msup&gt;
								|           &lt;/mrow&gt;
								|      &lt;/mrow&gt;
								| &lt;/math&gt;
								| 
								| &lt;/p&gt;
								| 
								| &lt;p&gt;2Dトランスフォームの変換マトリクス：
								| &lt;math&gt;
								|      &lt;mrow&gt;
								|      &lt;mo&gt; [ &lt;/mo&gt;
								|      &lt;mtable&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mi&gt;a&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;e&lt;/mi&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mi&gt;b&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;d&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;f&lt;/mi&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mn&gt;0&lt;/mn&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mn&gt;0&lt;/mn&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mn&gt;1&lt;/mn&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|      &lt;/mtable&gt;
								|      &lt;mo&gt; ] &lt;/mo&gt;
								|      &lt;/mrow&gt;
								| &lt;/math&gt;
								| &lt;/p&gt;
							.alert.alert-warning NOTES: 非表示の乗算記号
							p
								| 「E=mc<sup>2</sup>」のサンプルでは、「m」と「c」の間に「&amp;lt;」を記述してあります。
								| 「&amp;lt;」は非表示の乗算器号（Invisible Times）を示すもので、
								| MathMLに対応したブラウザでも、iOSやChrome24では文字化けが発生します。
							.alert.alert-warning NOTES: &lt;svg&gt;と&lt;math&gt;の属するカテゴリー
							p='SVGやMathMLの設定をHTMLソースの中に記述した場合、<svg>と<math>はHTML5の「フロー・コンテンツ」、「フレージング・コンテンツ」、「エンベッディッド・コンテンツ」カテゴリーに属すものとして扱われるものになっています。'
							.alert.alert-warning NOTES: SVGを利用するメリット
							p='ベクタ形式のSVGを利用すると、スマートフォンなどでページを拡大しても画像が劣化しないというメリットが有ります。たとえば、ロゴ画像をPNG形式の画像で表示したものとインラインSVGで表示したものをiOSで比較してみると、SVG形式の方は拡大してもきれいに表示されることがわかります。'
		#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')