include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;文字参照
						.panel-body
							.alert.alert-info 文字参照
							p='文字参照は特殊な文字や記号の記述を行うものです。名前文字参照では、文字を示すキーワードを「&キーワード;」という形で指定します。このとき、大文字と小文字は区別されますので注意が必要です。'
							p='数値文字参照では、文字を示すUnicodeの番号を「&#10進数の番号;」または「&#16進数の番号;」という形で指定します。このとき、大文字と小文字は区別されますので注意が必要です。大文字と小文字の区別はありません。'
							p='なお、名前文字参照で指定できるキーワードについてはHTML5の以下のページを参照してください。'
							p
								| Named character references
								br
								a(href='http://www.w3.org/TR/html5/syntax.html#named-character-references',target='_blank') http://www.w3.org/TR/html5/syntax.html#named-character-references
							table.table
								tr
									th 表示
									th 名前文字参照
									th 数値文字参照（10進数）
									th 数値文字参照（16進数）
								tr
									td='&'
									td='&amp;'
									td='&#38;'
									td='&#x26;'
								tr
									td='<'
									td='&lt;'
									td='&#60;'
									td='&#x3X'
								tr
									td='>'
									td='&gt;'
									td='&#62;'
									td='&#x3E'
								tr
									td='"'
									td='&quot;'
									td='&#34;'
									td='&#x22;'
							.alert.alert-success DIFFERENCES: 
							p='キーワードによる文字参照は、これまでは「Character entity references（文字実体参照）」と呼ばれていましたが、HTML5では「Named character references（名前実体参照）」と呼ばれるようになっています。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')