include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 日時
						.panel-body
							.alert.alert-info 日時
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;time&gt;...&lt;/time&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td datetime／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p='<time>は日時の情報をマークアップし、datetime属性を利用してソフトウェアが認識できる形式で日時を明示するための要素です。たとえば「January 15, 2013」や「2013年1月15日」をマークアップした場合、datetime属性の値は「2013-01-15」と指定します。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/190.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;hgroup&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;h2&gt;ちょっとしたお茶の時間&lt;/h2&gt;
								| &lt;/hgroup&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| ...
								| &lt;/article&gt;	
							p='datetime属性を省略することも可能ですが、その場合は<time>の中身をソフトウェアが認識できる形式で記述する必要があります。'
							pre(class='prettyprint linenums:1')
								| &lt;time&gt;2013-01-15&lt;/time&gt;
							p='なお、microdataを利用すると<time>でマークアップしたのが何の日時なのかを示すことができます。たとえば、下のサンプルではブログ記事の投稿日であることを明示しています。'
							pre(class='prettyprint linenums:1')
								| &lt; article itemscope itemtype="http://schema.org/BlogPosting"&gt; 
								| &lt; header&gt; 
								| &lt; hgroup&gt; 
								| &lt; h1 itemprop="headline"&gt; Short Tea Breaks&lt; /h1&gt; 
								| &lt; h2 itemprop="alternativeHead"&gt; ちょっとしたお茶の時間&lt; /h2&gt; 
								| &lt; /hgroup&gt; 
								| &lt; time itemprop="datePublished" datetime="2013-01-15"&gt; January 15, 2013&lt; /time&gt; 
								| &lt; /header&gt; 
								| ...
								| &lt; /article&gt;
							.alert.alert-warning NOTES:
							p='<time>とdatetime属性を利用すると、「2日前」や「来週の火曜日」といった情報も、ソフトウェアが認識できる日時の情報として示すことができます。'
							pre(class='prettyprint linenums:1')
								| &lt;time datetime="2013-01-13"&gt;２日前&lt;/time&gt;
							pre(class='prettyprint linenums:1')
								| &lt;time datetime="2013-01-22"&gt;来週の火曜日&lt;/time&gt;
							.alert.alert-warning NOTES:
							p HTML5の策定過程では発行日時であることを示すpubdate属性が採用されていましたが、現在は未採用となっています。
							.alert.alert-success IE NOTES: 
							p='IE8以前は<time>に未対応です。'
							.alert.alert-info 日時に記述形式
							p 日時の記述形式はISO8601をベースとし、HTML5においては以下のように規定されています。日付、時間、タイムゾーンの情報は順に組み合わせて記述することが可能です。日付と時間は「T」または半角スペースを入れて記述します。なお、時間は24時間表記で記述します。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;time datetime="2013-01-15T15:52"&gt;
									| 2013年1月15日　午後2時52分
									| &lt;/time&gt;
								figcaption 日付と時間をTで区切って記述したもの。
							figure
								pre(class='prettyprint linenums:1')
									| &gt;time datetime="2013-01-15 15:52"&gt;
									| 2013年1月15日　午後2時52分
									| &gt;/time&gt;
								figcaption 日付と時間を半角スペースで区切って記述したもの。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;time datatime="2013-01 15T14:52+0900"&gt;
									| 2013年1月15日　午後2時52分　-0900(JST)
									| &lt;/time&gt;
								figcaption タイムゾーンを明示したもの。
							table.table
								tr
									th(colspan='2') 情報の種類
									th 記述形式
								tr
									th(rowspan='5') 日付
									td 年
									td 2013
								tr
									td 年月
									td 2013-01
								tr
									td 年月日
									td 2013-01-15
								tr
									td 月日
									td 01-15
								tr
									td 週
									td 2013-W24
								tr
									th(rowspan='2') 時間
									td 時分
									td 15:52
								tr
									td 時分秒
									td 15:52:30
								tr
									th(rowspan='5') タイムゾーン
									td UTC（協定世界時）
									td Z
								tr
									td(rowspan='2') 大西洋標準時（AST）
									td -0400
								tr
									td-04:00
								tr
									td(rowspan='2') 日本標準時（JST）
									td +0900
								tr
									td +09:00
								tr
									th 継続日数
									td 4日間
									td P4D
								tr
									th 継続時間
									td 2時間48分30秒
									td PT2H48M30S
							.alert.alert-warning NOTES: &lt;data&gt;でソフトウェアが認識できる形式で情報を示す
							p='<data>はマークアップした情報をソフトウェアが認識できる形式で明示する要素です。microdataで情報を付加する場合や、JavaScriptでデータを処理する場合などに利用することが考えられており、HTML Living Standardで採用されています。なお、ソフトウェアが認識できる形式で日付や時間を記述する必要がある場合には、<time>を利用します。'
							h4 microdataでの利用
							p='microdataでソフトウェアが認識できる形式で情報を記述する必要がある場合、現在は<meta>を利用することが可能ですが、<data>を利用するとよりわかりやすく記述できるようになります。ソフトウェアが認識できる形式の情報は、value属性を利用して示します。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;meta itemprop="cost" content="99USD"&gt;
									| $99
								figcaption='<meta>は終了タグ</meta>を記述する必要はないため、コンテンツの前後に付加する形で記述することになります。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;data itemprop="cost" value="99USD"&gt;
									| $99
									| &lt;/data&gt;
								figcaption='<data>であればコンテンツをマークアップできるため、よりわかりやすく記述できるようになると考えられています。'
							h4 JavaScriptでの利用
							p='JavaScriptでデータを処理するときに、処理しやすい形式で情報を記述しておくと、<li>内のコンテンツから情報を抽出しなくても、<data>のvalue属性の値を利用して項目の表示順を入れ替えるといった処理ができるようになります。'
							p='なお、JavaScriptの処理に必要な情報は、グローバル属性の1つであるdata-*属性を利用して記述することもできます。'
							pre(class='prettyprint linenums:1')
								| &lt;ul&gt;
								| &lt;li&gt;薄力粉（&lt;data value="300"&gt;300g&lt;/data&gt;）&lt;/li&gt;
								| &lt;li&gt;強力粉（&lt;data value="500"&gt;500g&lt;/data&gt;）&lt;/li&gt;
								| &lt;li&gt;水（&lt;data value="200"&gt;200cc&lt;/data&gt;）&lt;/li&gt;
								| &lt;li&gt;バター（&lt;data value="20"&gt;20g&lt;/data&gt;）&lt;/li&gt;
								| &lt;/ul&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')