include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ボタン
						.panel-body
							.alert.alert-info ボタン
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;button&gt;...&lt;/button&gt;
							table.table
								tr
									td カテゴリー
									td
										| フローコンテンツ／フレージングコンテンツ／インタラクティブコンテンツ／リステッド要素／ラベラブル要素／サブミッタブル要素／フォームアソシエイティッド要素／パルパブルコンテンツタラクティブコンテンツ／ラベラブル要素／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| フレージングコンテンツが記述できる場所
										br
										| （インタラクティブコンテンツを除く）
								tr
									td 構成するボックス
									td - （インラインブロックボックスを構成することが期待される）
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p
								a.btn.btn-default(href='../demo/html/sample1/09/270.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;MAIL ADDRESS SUBMIT&lt;/h1&gt;
								| 
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;button type="submit"&gt;
								| SUBMIT
								| &lt;span&gt;メールアドレスを登録&lt;/span&gt;
								| &lt;/button&gt;
								| &lt;/p&gt;
								| &lt;/form&gt;
							pre(class='prettyprint linenums:1')
								| button	{font-size: 30px;
								| 	font-family: 'Passion One', Verdana, Helvetica, sans-serif;
								| 	color: #8e702f;
								| 	padding: 5px 20px;}
								| 
								| button span	{color: black;}
								| 
								| span	{font-size: 12px;
								| 	vertical-align: middle;}
							p='<button>はボタンを構成する要素です。マークアップしたコンテンツがボタンのラベルとして扱われます。'
							p='ボタンの種類はtype属性の値によって決まります。たとえば、上のサンプルではtype属性を「submit」と指定し、送信ボタンとして機能するようにしています。type属性で指定できる値は以下のようになっており、送信ボタン、リセットボタン、特別な機能を持たないボタンを構成することができます。また、これらのボタンは<input>で構成することも可能です。'
							table.table
								tr
									th type属性の値
									th 構成されるボタン
									th='<input>で構成する場合の記述'
								tr
									td submit
									td 送信ボタン
									td='<input type="submit">'
								tr
									td reset
									td リセットボタン
									td='<input type="reset">'
								tr
									td button
									td 特別な機能を持たないボタン
									td='<input type="button">'
							h4 指定できる属性
							p
								a.btn.btn-default(href='../demo/html/sample1/09/271.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;MAIL ADDRESS SUBMIT&lt;/h1&gt;
								| 
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;button type="submit" name="formtype" value="メール登録フォーム"&gt;
								| SUBMIT
								| &lt;span&gt;メールアドレスを登録&lt;/span&gt;
								| &lt;/button&gt;
								| &lt;/p&gt;
								| &lt;/form&gt;
							p='<button>にname属性とvalue属性を追加して名前と値を指定すると、他のフォームデータといっしょにサーバーに送信することができます。たとえば、上のサンプルでは「formtype = メール登録フォーム」というデータが送信されるようにしています。'
							figure
								pre
									| email = hanako@web.MAIL
									| formtype = メール登録フォーム
								figcaption 送信されるデータ。
							p='このほか、指定できる属性は以下のようになっています。送信ボタンを構成する<button type="submit">の場合には、<form>の設定を変更する属性も指定することが可能です。'
							.row
								.col-sm-12
									table.table
										tr
											th='<button>で指定できる属性'
											th 機能
										tr
											td type
											td ボタンの種類
										tr
											td disabled
											td コントロールの無効化
										tr
											td form
											td='<form>との関連付け'
										tr
											td name
											td コントロール名の指定
										tr
											td value
											td 初期値の指定
										tr
											td autofocus
											td ページロード時にコントロールを選択
								.col-sm-12
									table.table
										tr
											th='<button>で指定できる属性'
											th 機能
										tr
											td formaction
											td 送信先のURL
										tr
											td formenctype
											td 送信データの形式
										tr
											td formmethod
											td 送信方法
										tr
											td formnovalidate
											td 入力データの検証を無効化
										tr
											td formtarget
											td 送信後のページの表示先

		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')