include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| フォーム
						.panel-body
							.alert.alert-info フォーム
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
										| （※）
							p ※ 一部非対応
							pre
								| &lt;form&gt;...&lt;/form&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| フローコンテンツ（&lt;form&gt;を除く）
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td accept-charset／action／autocomplete／enctype／method／name／novalidate／target／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| form {
											| 	display: block;
											| 	unicode-bide: isolate;
											| }
							p
								a.btn.btn-default(href='demo/html/sample1/09/236.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;CONTACT&lt;/h1&gt;
								| &lt;p&gt;ご意見、ご感想、お問い合わせなどがありましたら、こちらのフォームより送信してください。&lt;/p&gt;
								| 
								| &lt;form action="query.php" method="post"&gt;
								| 
								| &lt;p&gt;
								| &lt;label&gt;名前：
								| &lt;input type="text" name="name" size="40"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email" size="40"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;label&gt;コメント：
								| &lt;textarea name="comment" rows="8"&gt;&lt;/textarea&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;input type="submit" value="送信"&gt;
								| &lt;/p&gt;
								| 
								| &lt;/form&gt;
							p='<form>で指定できる属性は以下のようになっています。'
							table.table
								tr
									th='<form>の属性'
									th 機能
									th 指定できる値
								tr
									td accept-charset
									td(colspan='2') 送信データのエンコードの種類
									td 「UTF-8」など
								tr
									td action
									td(colspan='2') 送信先のURL
									td URL
								tr
									td(rowspan='2') autocomplete
									td 有効にする
									td on
								tr
									td 無効にする
									td off
								tr
									td(rowspan='3') enctype
									td(rowspan='3') 送信データの形式
									td URLエンコード（初期値）
									td application/x-www-form-urlencoded
								tr
									td マルチパートデータ
									td multipart/form-data
								tr
									td プレインテキスト
									td text/plain
								tr
									td(rowspan='2') method
									td(rowspan='2') 送信方法
									td HTTP GETメソッドで送信
									td get
								tr
									td HTTP POSTメソッドで送信
									td post
								tr
									td name
									td(colspan='2') フォーム名
									td 任意の名称
								tr
									td novalidate
									td(colspan='2') 入力データの検証を無効化
									td 任意の名称
								tr
									td target
									td(colspan='2') 送信後のページの表示先
									td _blank, _self, _parent, _top, 名前
							.alert.alert-success DIFFERENCES: 
							p='HTML4.01やXHTML1.0で採用されていた<form>のaccept属性はHTML5では廃止され、<input>のaccept属性を利用することが推奨されています。'
							p='フォームは、テキストの入力フィールドや送信ボタンといった「フォームコントロール」と呼ばれるもので構成されています。このとき、フォームコントロール全体をマークアップし、送信先の指定などを行うのが<form>です。'
							p='たとえば、サンプルでは<input>と<textarea>を利用して、「名前」と「メールアドレス」、「コメント」の入力フィールドと送信ボタンを用意し、全体を<form>でマークアップしています。'
							p='<form>では、action属性で入力データの送信先を、method属性で送信方法を指定しています。なお、送信先には入力データの処理を行うスクリプトなどを指定する必要があり、他の属性はスクリプトに合わせて設定します。'
							.alert.alert-info 送信されるデータ
							.alert.alert-info オートコンプリートを無効にする
							.alert.alert-info データの検証を無効にする
							.alert.alert-info='<form>の外にフォームコントロールを用意する'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')