include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| テーブル
						.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							.alert.alert-info テーブル
							pre
								| &lt;table&gt;...&lt;/table&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| 以下の順に記述（オプションは必要に応じて記述）：
										br
										| ・&lt;caption&gt;（オプション／複数記述不可）
										br
										| ・&lt;colgroup&gt;（オプション／複数記述可）
										br
										| ・&lt;thead&gt;（オプション／複数記述不可）
										br
										| ・&lt;tfoot&gt;（オプション／複数記述不可）
										br
										| ・&lt;tbody&gt;（オプション／複数記述可能）
										br
										| ・&lt;tr&gt;（複数記述可能）
										br
										| ・&lt;tfoot&gt;（オプション／複数記述不可）
										br
										| 	※&lt;tfoot&gt;は&lt;table&gt;内に1つのみ記述可
								tr
									td 構成するボックス
									td table
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| table {
											| 	display: table;
											| 	unicode-bidi: isolate;
											| 	border-spacing: 2px;
											| 	border-colla-se: separate;
											| 	border-color: gray;
											| 	border-style: outset;
											| }
							.alert.alert-info テーブルの行
							pre
								| &lt;tr&gt;...&lt;/tr&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| 記述可能な場所 以下のいずれか
										br
										| ・&lt;thead&gt;、&lt;tbody&gt;、&lt;tfoot&gt;の子要素として記述
										br
										| ・&lt;table&gt;の子要素として記述
										br
										| 	※&lt;table&gt;の子要素に&lt;tbody&gt;がないこと。
										br
										| 	※&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;がある場合はこれらに続けて記述すること。 
								tr
									td コンテンツモデル
									td ゼロまたは1つ以上の&lt;th&gt;、&lt;td&gt;
								tr
									td 構成するボックス
									td table-row
								tr
									td 属性
									td alt／cords／shape／href／target／rel／media／hreflang／type／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| tr {
											| 	display: table-row;
											| 	unicode-bidi: isolate;
											| 	vertical-align: inherit;
											| 	border-color: inherit;
											| }
							.alert.alert-info 見出しのセル
							pre
								| &lt;th&gt;...&lt;/th&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;tr&gt;の子要素として記述可能 
								tr
									td コンテンツモデル
									td フローコンテンツ（&lt;header&gt;、&lt;footer&gt;、セクショニングコンテンツ、ヘッダーコンテンツを除く）
								tr
									td 構成するボックス
									td table-cell
								tr
									td 属性
									td colspan／rowspan／headers／scope／abbr／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| th {
											| 	display: table-cell;
											| 	unicode-bidi: isolate;
											| 	padding: 1px;
											| 	vertical-align: inherit;
											| 	font-weight: bold;
											| 	border-color: gray;
											| }
							.alert.alert-info データのセル
							pre
								| &lt;td&gt;...&lt;/td&gt;
							table.table
								tr
									td カテゴリー
									td セクショニングルート
								tr
									td 記述可能な場所
									td
										| &lt;tr&gt;の子要素として記述可能 
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td table-cell
								tr
									td 属性
									td colspan／rowspan／headers／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| td {
											| 	display: table-cell;
											| 	unicode-bidi: isolate;
											| 	padding: 1px;
											| 	vertical-align: inherit;
											| 	border-color: gray;
											| }
							p='<table>はテーブル（表組）形式のデータを示す要素です。<table>内の<tr>で行を、<th>で見出しセルを、<td>でデータセルを構成します。このとき、<tr>の数で行数が、<tr>内のセルの数で列数が決まります。'
							p='サンプルの場合、5行×3列のテーブルを作成し、見出しセルの背景を茶色で、データセルの背景を白色で表示するようにしています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/199.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;table&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;銘柄&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶屋100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ダージリン&lt;/th&gt;
								|     &lt;td&gt;インド&lt;/td&gt;
								|     &lt;td&gt;1200円&lt;/td&gt;
								| &lt;/tr&gt;
								| 
								| &lt;tr&gt;
								|     &lt;th&gt;ジャワ&lt;/th&gt;
								|     &lt;td&gt;インドネシア&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;煎茶&lt;/th&gt;
								|     &lt;td&gt;静岡&lt;/td&gt;
								|     &lt;td&gt;1000円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ほうじ茶&lt;/th&gt;
								|     &lt;td&gt;鹿児島&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/table&gt;
							pre(class='prettyprint linenums:1')
								| table,th,td{
								| 	border:solid 1px #666;
								| }
								| table{
								| 	border-collapse:collapse;
								| 	margin:20px 0 0;
								| }
								| th,td{
								| 	padding:7px 15px;
								| }
								| th{
								| 	background:#d2bc8c;
								| }
								| th:first-child{
								| 	text-align:left;
								| 	pading:7px 60px 7px 15px;
								| }
								| th:nth-of-type(1){
								| 	text-align:center;
								| }
								| th:nth-of-type(2){
								| 	text-align:right;
								| }
							.alert.alert-warning NOTES: 
							p スタイルシートを指定しなかった場合、標準ではセルを区切る罫線も表示されず、わかりにくい表示になってしまいますので注意が必要です。
							.alert.alert-success DIFFERENCES: 
							p HTML4.01やXHTML1.0のような属性を利用してテーブルのデザインを指定することができましたが、HTML5では廃止されています。これらはスタイルシートによる指定に置き換えることが可能です。
							table.table
								tr
									th 要素
									th HTML5で廃止された属性
								tr
									td table
									td align, bgcolor, cellpadding, cellspacing, frame, rules, width
								tr
									td tr
									td align, bgcolor, char, charoff, vertical-align
								tr
									td th
									td align, bgcolor, char, charoff, height, nowrap, valign, width
								tr
									td td
									td align, bgcolor, char, charoff, height, nowrap, valign, width
							.alert.alert-info セルの結合
							p='<th>や<td>のrowspan、colspan属性を利用すると、複数の行や列にまたがったセルを作成することができます。'
							h4 複数の行にまたがったセル
							p='ここでは左端に「茶種」という列を追加し、ダージリンとジャワの列に「紅茶」、煎茶とほうじ茶の行に「緑茶」という見出しをつけるようにしています。'
							p='そのためにはまず、1行目を構成する<tr>内に茶種のセルを追加します。これにより、セルが次の行にもまたがって表示されますので、3行目と5行目にセルを追加する必要はありません。'
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| 
								| &lt;tr&gt;
								|     &lt;th&gt;茶種&lt;/th&gt;
								|     &lt;th&gt;銘柄&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| 
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th rowspan="2"&gt;紅茶&lt;/th&gt;
								|     &lt;th&gt;ダージリン&lt;/th&gt;
								|     &lt;td&gt;インド&lt;/td&gt;
								|     &lt;td&gt;1200円&lt;/td&gt;
								| 
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ジャワ&lt;/th&gt;
								|     &lt;td&gt;インドネシア&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| 
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th rowspan="2"&gt;緑茶&lt;/th&gt;
								|     &lt;th&gt;煎茶&lt;/th&gt;
								|     &lt;td&gt;静岡&lt;/td&gt;
								|     &lt;td&gt;1000円&lt;/td&gt;
								| 
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ほうじ茶&lt;/th&gt;
								|     &lt;td&gt;鹿児島&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| 
								| &lt;/tr&gt;
								| &lt;/table&gt;
							h4 複数の列にまたがったセル
							p='複数の列にまたがったセルを作成する場合にはcolspan属性を使用します。たとえば、「茶種」のセルを1列目と2列目にまたがって表示するためには、2列目の「銘柄」のセルを削除し、下のようにcolspan属性を「2」と指定します。'
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;茶種&lt;/th&gt;
								|     &lt;th&gt;銘柄&lt;/th&gt;
								|     &lt;td&gt;産地&lt;/td&gt;
								|     &lt;td&gt;茶葉100gの価格&lt;/td&gt;
								| &lt;/tr&gt;
								| ...
							.row
								.col-sm-5
								.col-sm-2
									p='↓'
								.col-sm-5
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;tr&gt;
								|     &lt;th colspan="2"&gt;茶種&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| ...
							.alert.alert-info 代替の見出し
							p='<th>のabbr属性を利用すると代替の見出しを用意することができ、本来の見出しとは異なる形式のものが要求されたときに使用します。一般的に見出しを短く省略したものを指定しますが、異なる言い回しなどを指定することも可能です。'
							p='たとえば、一部の音声ブラウザではデータセルの内容に合わせて見出しを読み上げる際に、abbr属性で指定された省略形の見出しを使用するものがあります。'
							pre(class='prettyprint linenums:1')
								&lt;table&gt;
								&lt;tr&gt;
								    &lt;th&gt;銘柄&lt;/th&gt;
								    &lt;th&gt;産地&lt;/th&gt;
								    &lt;th abbr="価格"&gt;茶葉100gの価格&lt;/th&gt;
								&lt;/tr&gt;
								&lt;tr&gt;
								    &lt;th&gt;タージリン&lt;/th&gt;
								    &lt;th&gt;インド&lt;/th&gt;
								    &lt;td&gt;1200円&lt;/td&gt;
								&lt;/tr&gt;
								...
							.alert.alert-success DIFFERENCES: 
							p='HTML4.0やXHTML1.0におけるabbr属性は、音声ブラウザでの利用を前提に、見出しを短く省略した値を指定するものと定義されていました。'
							p='また、abbr属性は<td>で使用することもできましたが、HTML5では使用できなくなっています。さらに、<td>と<th>に見出しのジャンルなどを指定するaxis属性も用意されていましたが、HTML5では廃止されています。'
							.alert.alert-info 見出しとデータの関係を明示する
							p='テーブルの構造が複雑な場合などには、scopeやheaders属性を利用して見だしてとデータの関係を明示することができます。'
							h4 見出し側で示す場合
							p='見出し側で関係を明示する場合、<th>のscope属性を利用します。たとえば、テーブルの構造上、「銘柄」は行と列のどちらかを見出しとも判別することができてしまいます。しかし、scope属性を「col」と指定することにより、列の見出しであることを明示することができます。'
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;tr&gt;
								|     &lt;th scope="col"&gt;銘柄&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;タージリン&lt;/th&gt;
								|     &lt;td&gt;インド&lt;/td&gt;
								|     &lt;td&gt;1200円&lt;/td&gt;
								| &lt;/tr&gt;
								| ...
							p='なお、scope属性で指定できる値は下のようになっています。'
							table.table
								tr
									th scoped属性の値
									th 行や列に対する見出しの位置づけ
								tr
									td row
									td 行に対する見出し
								tr
									td col
									td 列に対する見出し
								tr
									td rowgroup
									td 行のグループに対する見出し
								tr
									td colgroup
									td 列のグループに対する見出し
								tr
									td auto
									td 自動判別
							h4 データ側で示す場合
							p='データ側で関係を明示する場合、まずは<th>にid属性を追加し、見出しにIDを指定します。これで見出しを参照できるようになりますので、<th>と<td>のheaders属性でセルが属する見出しのIDを指定します。半角スペースで区切ることにより、複数のIDを指定することができます。'
							p='たとえば、「ほうじ茶」はheaders属性を「brand」と指定し、「銘柄」に属する項目であることを示しています。また、「1000円」はheaders属性を「tea03 price」と指定し、「煎茶」と「茶葉100gの価格」に属する項目であることを示しています。'
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;tr&gt;
								|     &lt;th id="brand"&gt;銘柄&lt;/th&gt;
								|     &lt;th id="area"&gt;産地&lt;/th&gt;
								|     &lt;th id="price"&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th id="tea01" headers="brand"&gt;ダージリン&lt;/th&gt;
								|     &lt;td headers="tea01 area"&gt;インド&lt;/td&gt;
								|     &lt;td headers="tea01 price"&gt;1200円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th id="tea02" headers="brand"&gt;ジャワ&lt;/th&gt;
								|     &lt;td headers="tea02 area"&gt;インドネシア&lt;/td&gt;
								|     &lt;td headers="tea02 price"&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th id="tea03" headers="brand"&gt;煎茶&lt;/th&gt;
								|     &lt;td headers="tea03 area"&gt;静岡&lt;/td&gt;
								|     &lt;td headers="tea03 price"&gt;1000円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th id="tea04" headers="brand"&gt;ほうじ茶&lt;/th&gt;
								|     &lt;td headers="tea04 area"&gt;鹿児島&lt;/td&gt;
								|     &lt;td headers="tea04 price"&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/table&gt;
							.alert.alert-warning NOTES: 行や列のグループに対する見出しを明示する
							p='テーブルでは<colgroup>や<thead>、<tbody>、<tfoot>を利用して行や列のグループを示すことができます。このときグループ見出しはscope属性を「colgroup」や「rowgroup」と指定して示すことが可能です。'
							pre(class='prettyprint linenums:1')
								| &lt;table&gt;
								| &lt;colgroup&gt;&lt;col&gt;&lt;col&gt;&lt;/colgroup&gt;
								| &lt;colgroup&gt;&lt;col&gt;&lt;col&gt;&lt;/colgroup&gt;
								| &lt;thead&gt;
								| &lt;tr&gt;
								|     &lt;th colspan="2" scope="colgroup"&gt;茶種&lt;/th&gt;
								|     &lt;th&gt;産地&lt;/th&gt;
								|     &lt;th&gt;茶葉100gの価格&lt;/th&gt;
								| &lt;/tr&gt;
								| &lt;/thead&gt;
								| &lt;tbody&gt;
								| &lt;tr&gt;
								|     &lt;th rowspan="2" scope="colgroup"&gt;紅茶&lt;/th&gt;
								|     &lt;th&gt;タージリン&lt;/th&gt;
								|     &lt;td&gt;インド&lt;/td&gt;
								|     &lt;td&gt;1200円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;tr&gt;
								|     &lt;th&gt;ジャワ&lt;/th&gt;
								|     &lt;td&gt;インドネシア&lt;/td&gt;
								|     &lt;td&gt;800円&lt;/td&gt;
								| &lt;/tr&gt;
								| &lt;/tbody&gt;
								| ...
								| &lt;/table&gt;
							.alert.alert-success DIFFERENCES: 
							p='HTML4.01やXHTML1.0では<td>でもscope属性を利用することはできましたが、HTML5では廃止されています。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')