include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;コンテンツの内容をより詳細に明示する
						.panel-body
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							.alert.alert-info 利用できる規格
							pre(class='prettyprint linenums:1')
								| &lt;div itemscope itemtype="http://schema.org/Product"&gt;
								| 
								| &lt;img itemprop="image" src="img/teacup.jpg" alt=""&gt;
								| 
								| &lt;h2 itemprop="name"&gt;ダージリン・ファースとフラッシュ&lt;/h2&gt;
								| 
								| &lt;div itemprop="offers" itemscope itemtype="http://schema.org/Offer"&gt;
								| 価格：&lt;span itemprop="price"&gt;900円&lt;/span&gt;
								| &lt;/div&gt;
								| 
								| &lt;p itemprop="description"&gt;初摘みの茶葉のみで作ったダージリン。フレッシュな香りとさわやかな味わいが特徴です。&lt;/p&gt;
								| 
								| &lt;/div&gt;
							p='HTML5の各要素にはセマンティクスが振られていますが、それだけでは不十分な場合にはボキャブラリー（語彙）を利用して情報を付加し、コンテンツの内容をより詳細に明示していきます。'
							p='情報を付加するために利用できる規格としては、W3Cの「HTML Data Guide」という草案において、現在のところmicrodata、RDFa、microformatsの3つの規格が挙げられています。'
							p='いずれの規格も、HTMLの属性を利用して情報の付加を行います。たとえば、下のサンプルではmicrodataのitemprop属性を利用して、コンテンツの内容が商品の名前や画像、価格、説明であることを明示しています。'
							P='属性で指定できる値は「ボキャブラリー（語彙）」と呼ばれ、コンテンツの内容を明示します。ボキャブラリーはページの制作者が独自に作成することもできますが、共通のボキャブラリーを利用することにより、さまざまなソフトウェアでデータを活用することができるようになります。下のサンプルの場合、schema.orgで定義されたボキャブラリーを利用しています。'
							p='どの規格やボキャブラリーを利用するかは、明示したいコンテンツの内容等に応じて選択します。'
							.alert.alert-warning NOTES: 
							p='「HTML Data Guide」はメタデータに関する規格や活用方法などについてまとめられている草案です。'
							p
								| HTML Data Guide
								br
								a(href='http://www.w3.org/TR/html-data-guide/',target='_blank') http://www.w3.org/TR/html-data-guide/
							.alert.alert-info バリデータ
							p='microdataなどで明示したコンテンツの内容がソフトウェアによってきちんと認識されるかどうかを確認するためには、次のようなバリデータを利用することができます。'
							h4 Google構造化テストテストツール
							p='構造化データテストツールは、Googleが提供しているツールです。チェックしたいページのURLを入力して「プレビュー」をクリックすると、「抽出された構造化データ」の欄にmicrodataなどで明示したコンテンツの内容がリストアップされます。'
							p='また、コンテンツの内容によってはGoogleの検索結果に反映されるものがあり、「プレビュー」の欄でどのように表示されるかを確認することができます。'
							h4 Bingマークアップバリデータ
							p='Bingマークアップバリデータは、Microsoftが提供しているツールです。Bingのウェブマスターツールにサイトを登録することで利用することができます。ページのURLを入力して「検証」をクリックすると、microdataなどで明示したコンテンツの内容がリストアップされます。'
							.alert.alert-warning NOTES: 
							p='microdataの属性を<article>といった「セクショニングコンテンツ」カテゴリーに属する要素に指定した場合、情報が抽出されないという問題が見られます。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')