include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;SVG
						.panel-body
							.alert.alert-info SVG
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p Android 2.3.xは未対応
							pre
								| &lt;svg&gt;...&lt;/svg&gt;
							p
								a.btn.btn-default(href='demo/html/sample1/05/156.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;
								| &lt;svg width="100px" height="42px"&gt;
								| &lt;circle cx="37" cy="33" r="3.5" fill="#231815" /&gt;
								| &lt;circle cx="61.5" cy="33" r="3.5" fill="#231815" /&gt;
								| &lt;path fill="#231815" d="M87.463,42c-4.229-16.264-19.01-28.271-36.598-28.271C33.28,13.729,18.501,25.736,14.271,42h4.75c3.68-14.152,16.542-24.601,31.844-24.601c15.306,0,28.166,10.449,31.848,24.601H87.463z"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="0.229" y1="36.367" x2="10.46" y2="37.828"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="0.229" y1="36.367" x2="10.46" y2="37.828"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="7.366" y1="20.821" x2="16.164" y2="26.24"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="24.327" y1="5.709" x2="29.936" y2="14.389"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="52.094" y1="0.348" x2="50.274" y2="10.521"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="78.185" y1="8.12" x2="71.253" y2="15.783"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="94.521" y1="23.018" x2="84.788" y2="26.488"/&gt;
								| &lt;line fill="none" stroke="#231815" stroke-width="2.9227" x1="100" y1="38.799" x2="89.667" y2="38.732"/&gt;
								| &lt;/svg&gt;
								| 
								| SUN DIARY
								| &lt;/h1&gt;
							p='SVG（Scalable Vector Graphics）はベクタ形式の図形を描画するXMLベースの言語で、文法などについては以下の勧告で規定されています。'
							p
								| Scalable Vector Graphics（SVG）1.1（勧告）
								br
								a(href='http://www.w3.org/TR/SVG/') http://www.w3.org/TR/SVG/
							p='HTML5ではSVGの設定<svg>〜</svg>をHTMLソースの中に記述できるようになっており、「インラインSVG」と呼ばれます。'
							p='たとえば、サンプルではロゴ画像をインラインSVGとして表示するため、<svg>のwidthとheight属性で画像の大きさを100×42ピクセルに設定し、<circle />、<line />、<path />で図形を描画しています。<svg>の中ではXMLのルールに従って記述することが求められるため、<circle />などの空要素の末尾には「/」をつけて記述します。'
							.alert.alert-warning NOTES: 
							p='サンプルでは<circle />で円を、<line />で直線を、<path />で曲線を描画しています。'
							p='なお、Adobe Illustratorといったドロー系のグラフィックソフトを利用すると、SVG形式の画像を手軽に作成することができます。'
							.alert.alert-success IE NOTES: 
							p IE8以前のバージョンはインラインSVGの表示に未対応です。
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')