include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 引用
						div.panel-body
							.alert.alert-info 引用
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;blockquote&gt;...&lt;/blockquote&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングルート／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td cite／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| blockquote {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	margin-top: 1em;
											| 	margin-bottom: 1em;
											| 	margin-left: 40px;
											| 	margin-right: 40px;
											| }
							pre
								| &lt;q&gt;...&lt;/q&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td cite／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| q:before {
											| 	content: open-quote;
											| }
											| q:after {
											| 	content: close-quote;
											| }
							p='<blockquote>と<q>は引用したコンテンツであることを示す要素です。文章のようにまとまったコンテンツを引用する場合は<blockquote>を、短いフレーズを引用する場合は<q>を利用することができます。'
							p='たとえば、サンプルではWikipediaからお茶に関する情報を引用し、それぞれ<blockquote>と<q>でマークアップしています。また、わかりやすくするため、引用したコンテンツは赤字で表示するようにしています。'
							p='<blockquote>でマークアップしたコンテンツは、デフォルトスタイルシートによって左右に余白が挿入され、通常の段落とは区別して表示されます。また、<q>でマークアップしたフレーズは、自動的に引用符で囲んで表示されます。引用符の種類は、ChromeとInternet Explorerではカギ括弧、その他のブラウザではクォーテーションマークとなります。'
							p
								a.btn.btn-default(href='demo/html/sample1/06/163.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;p&gt;リラックスしたり休憩したりするときには、ちょっとしたお茶が欲しくなります。お茶とはいったい何なのでしょうか？&lt;/p&gt;
								| 
								| &lt;blockquote&gt;
								| &lt;p&gt;茶（ちゃ、英語: tea）とは、チャノキの葉や茎を加工して作られる飲み物である。 また、これに加えて、チャノキ以外の植物の部位（葉、茎、果実、花びら、根等）や真菌類・動物に由来する加工物から作られる飲み物にも「茶」もしくは「○○茶」と称するものが数多くあり、広義ではそれらは全て「茶」に分類される。&lt;/p&gt;
								| &lt;/blockquote&gt;
								| 
								| &lt;p&gt;このようにお茶と呼ばれるものはたくさんありますが、緑茶については&lt;q&gt;日本でもっとも良く飲まれている茶である&lt;/q&gt;とされており、最も身近なお茶と言えるでしょう。&lt;/p&gt;
								| 
								| &lt;/article&gt;
							pre(class='prettyprint linenums:1')
								| blockquote, q	{color: red;}
							.alert.alert-warning NOTES:
							p='<q>の前後に自動挿入される引用符の種類は、CSSのquotesプロパティでカスタマイズすることができます。'
							.alert.alert-info 引用元の情報を明確に関連付ける場合
							p='引用元に関する情報は、引用元に含めて<blockquote>や<q>の中に記述するとセマンティクス上では問題となるため、引用文の近くに別に記述することが求められています。たとえば、Wikipediaの『茶』や『緑茶』の項目から引用したことを示す場合、引用元のタイトルを<cite>でマークアップし、下のように記述することができます。'
							p
								a.btn.btn-default(href='demo/html/sample1/06/164-1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;リラックスしたり休憩したりするときには、ちょっとしたお茶が欲しくなります。お茶とはいったい何なのでしょうか？ Wikipediaの『&lt;cite&gt;茶&lt;/cite&gt;』の項目では次のように記されています：&lt;/p&gt;
								| 
								| &lt;blockquote&gt;
								| &lt;p&gt;茶（ちゃ、英語: tea）とは、チャノキの葉や茎を加工して作られる飲み物である。 また、これに加えて、チャノキ以外の植物の部位（葉、茎、果実、花びら、根等）や真菌類・動物に由来する加工物から作られる飲み物にも「茶」もしくは「○○茶」と称するものが数多くあり、広義ではそれらは全て「茶」に分類される。&lt;/p&gt;
								| &lt;/blockquote&gt;
								| 
								| &lt;p&gt;このようにお茶と呼ばれるものはたくさんありますが、緑茶についてはWikipediaの『&lt;cite&gt;緑茶&lt;/cite&gt;』で&lt;q&gt;日本でもっとも良く飲まれている茶である&lt;/q&gt;とされており、最も身近なお茶と言えるでしょう。&lt;/p&gt;
							p
								a.btn.btn-default(href='demo/html/sample1/06/164-2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;リラックスしたり休憩したりするときには、ちょっとしたお茶が欲しくなります。お茶とはいったい何なのでしょうか？&lt;/p&gt;
								| 
								| &lt;blockquote&gt;
								| &lt;p&gt;茶（ちゃ、英語: tea）とは、チャノキの葉や茎を加工して作られる飲み物である。 また、これに加えて、チャノキ以外の植物の部位（葉、茎、果実、花びら、根等）や真菌類・動物に由来する加工物から作られる飲み物にも「茶」もしくは「○○茶」と称するものが数多くあり、広義ではそれらは全て「茶」に分類される。&lt;/p&gt;
								| &lt;/blockquote&gt;
								| &lt;p&gt;―― Wikipediaの『&lt;cite&gt;茶&lt;/cite&gt;』より&lt;/p&gt;
								| 
								| &lt;p&gt;このようにお茶と呼ばれるものはたくさんありますが、緑茶については&lt;q&gt;日本でもっとも良く飲まれている茶である&lt;/q&gt; （Wikipediaの『&lt;cite&gt;緑茶&lt;/cite&gt;』より） とされており、最も身近なお茶と言えるでしょう。&lt;/p&gt;
							h4 引用元の情報を明確に関連付ける場合
							p='<blockquote>で引用したコンテンツの場合、引用元の情報をより明確に関連付けて記述することも可能です。その場合、サンプルのように全体を<figure>でマークアップし、その中の<figcaption>に引用元の情報を記述します。これにより、引用元の情報は、引用したコンテンツに関連付けて扱われるようになります。'
							p
								a.btn.btn-default(href='demo/html/sample1/06/164-3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;リラックスしたり休憩したりするときには、ちょっとしたお茶が欲しくなります。お茶とはいったい何なのでしょうか？&lt;/p&gt;
								| 
								| &lt;figure&gt;
								| &lt;blockquote&gt;
								| &lt;p&gt;茶（ちゃ、英語: tea）とは、チャノキの葉や茎を加工して作られる飲み物である。 また、これに加えて、チャノキ以外の植物の部位（葉、茎、果実、花びら、根等）や真菌類・動物に由来する加工物から作られる飲み物にも「茶」もしくは「○○茶」と称するものが数多くあり、広義ではそれらは全て「茶」に分類される。&lt;/p&gt;
								| &lt;/blockquote&gt;
								| &lt;figcaption&gt;Wikipediaの『&lt;cite&gt;茶&lt;/cite&gt;』より&lt;/figcaption&gt;
								| &lt;/figure&gt;
							.alert.alert-warning NOTES:
							p 引用元の情報を記述した&lt;figcaption&gt;を&lt;blockquote&gt;内に記述することは認められていません。
							h4 引用元がインターネット上の情報の場合
							p 引用元がインターネットの情報の場合、&lt;blockquote&gt;や&lt;q&gt;のcite属性でそのURLを明示することができます。
							p
								a.btn.btn-default(href='demo/html/sample1/06/165.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;リラックスしたり休憩したりするときには、ちょっとしたお茶が欲しくなります。お茶とはいったい何なのでしょうか？&lt;/p&gt;
								| 
								| &lt;figure&gt;
								| &lt;blockquote cite="http://ja.wikipedia.org/wiki/%E8%8C%B6"&gt;
								| &lt;p&gt;茶（ちゃ、英語: tea）とは、チャノキの葉や茎を加工して作られる飲み物である。 また、これに加えて、チャノキ以外の植物の部位（葉、茎、果実、花びら、根等）や真菌類・動物に由来する加工物から作られる飲み物にも「茶」もしくは「○○茶」と称するものが数多くあり、広義ではそれらは全て「茶」に分類される。&lt;/p&gt;
								| &lt;/blockquote&gt;
								| &lt;figcaption&gt;Wikipediaの『&lt;cite&gt;茶&lt;/cite&gt;』より&lt;/figcaption&gt;
								| &lt;/figure&gt;
								| 
								| &lt;p&gt;このようにお茶と呼ばれるものはたくさんありますが、緑茶については&lt;q cite="http://ja.wikipedia.org/wiki/%E7%B7%91%E8%8C%B6"&gt;日本でもっとも良く飲まれている茶である&lt;/q&gt;（Wikipediaの『&lt;cite&gt;緑茶&lt;/cite&gt;』より）とされており、最も身近なお茶と言えるでしょう。&lt;/p&gt;
							.alert.alert-warning NOTES:
							p ブラウザにはcite属性で示した引用元の情報にユーザーがアクセスできるようにすることが求められていますが、現在のところ各ブラウザは未対応です。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')