include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;語句の区別
                        .panel-body
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            .alert.alert-info 字句や慣用句などの区別
                            pre
                                | &lt;i&gt;…&lt;/i&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | i {
                                            |     font-style: italic;
                                            | }
                            .alert.alert-info 注目してほしい語句の区別
                            pre
                                | &lt;b&gt;…&lt;/b&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | b {
                                            |     font-style: bold;
                                            | }
                            .alert.alert-info 不明瞭な語句の区別
                            pre
                                | &lt;u&gt;…&lt;/u&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | u {
                                            |     font-style: underline;
                                            | }
                            p='<i>、<b>、<u>は他と区別したい語句や、慣例的に斜体、太字、下線付き文字で表示する語句のマークアップに使用することができます。重要性や強調・強勢などを示す役割はなく、他に適切な要素がある場合はそちらを利用することが求められています。'
                            p='また、斜体、太字、下線のデザインはスタイルシートを利用して変更することが可能です。<i>でマークアップしたからといって、必ず斜体で表示しなければならないというわけではありません。'
                            .alert.alert-info 不明瞭な語句の区別
                            p='<i>は声や雰囲気の異なる語句や、指向内容、学名、外国語の慣用句などを区別するのに使用します。マークアップした語句はデフォルトスタイルシートによって斜体で表示されます。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/201.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶がありますが、基本的にツバキ科ツバキ属であるチャノキ（学名：&lt;i&gt;Camellia sinensis&lt;/i&gt;）の葉や茎を加工して作られます。&lt;/p&gt;
                            pre(class='prettyprint linenums:1')
                                | i    {color: red;}
                            .alert.alert-info 注目して欲しい語句の区別
                            p='<b>はキーワードや商品名、リード文など、注目して欲しい語句を区別するために使用することができます。マークアップした語句は、デフォルトスタイルシートによって太字で表示されます。ここでは、紅茶の銘柄を<b>でマークアップしています。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/202-1.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;h1&gt;Short Tea Break&lt;/h1&gt;
                                | 
                                | &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。&lt;b&gt;ダージリン&lt;/b&gt;や&lt;b&gt;アッサム&lt;/b&gt;、&lt;b&gt;ジャワ&lt;/b&gt;、&lt;b&gt;ニルギリ&lt;/b&gt;など、たくさんの銘柄があります。&lt;b&gt;アールグレイ&lt;/b&gt;といったフレーバーティーも有名です。&lt;/p&gt;
                            pre(class='prettyprint linenums:1')
                                | b    {color: red;}
                            .alert.alert-info 不明瞭な語句の区別
                            p='<u>はそのままでは他との区別が難しく、不明瞭になってしまう中国語の固有名詞やスペルミスなどを示すのに使用することができます。マークアップした語句は、デフォルトスタイルシートによって下線付き文字で表示されます。'
                            p='なお、Webページにおける下線付き文字はリンクを表すものなため、<u>でマークアップした語句はデザインを変えるなどしてリンクを区別できるようにすることが求められています。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/202-2.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
                                | 
                                | &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。タージリンやアッサム、&lt;u&gt;jyわ&lt;/u&gt;、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
                            pre(class='prettyprint linenums:1')
                                | u    {color: red;}
                            .alert.alert-success DIFFERENCES: 
                            p='HTML4.01やXHTML1.0では、<i>は斜体、<b>は太字、<u>は下線付き文字で表示を行うための要素でした。'
                            .alert.alert-warning NOTES: 会話のマークアップ
                            p='HTMLには会話をマークアップするための要素は用意されていません。そのため、会話を記述するときには次のように<p>でマークアップして記述することが推奨されています。また、話者の名前をデザインして表示する必要がある場合、<span>または<b>でマークアップすることが推奨されています。'
                            p='会話のほか、議事録やチャットの記録、脚本のセリフ、インスタントメッセージのログなど、他者のとのやりとりが成立している情報のマークアップに使用することができます。'
                            figure
                                pre(class='prettyprint linenums:1')
                                    | &lt;h1&gt;Short Conversation&lt;/h1&gt;
                                    | 
                                    | &lt;p&gt;花子： 来週の火曜日にお茶会があるので来てくださいね。&lt;/p&gt;
                                    | &lt;p&gt;太郎： 何時からですか？&lt;/p&gt;
                                    | &lt;p&gt;花子： ３時からです。&lt;/p&gt;
                                    | &lt;p&gt;太郎： おやつの時間ですね。&lt;/p&gt;
                                    | &lt;p&gt;花子： おいしいお菓子もたくさん用意して待っています。&lt;/p&gt;
                                figure='会話を<p>えマークアップしたもの。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/203.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | &lt;h1&gt;Short Conversation&lt;/h1&gt;
                                    | 
                                    | &lt;p&gt;&lt;b&gt;花子&lt;/b&gt;： 来週の火曜日にお茶会があるので来てくださいね。&lt;/p&gt;
                                    | &lt;p&gt;&lt;b&gt;太郎&lt;/b&gt;： 何時からですか？&lt;/p&gt;
                                    | &lt;p&gt;&lt;b&gt;花子&lt;/b&gt;： ３時からです。&lt;/p&gt;
                                    | &lt;p&gt;&lt;b&gt;太郎&lt;/b&gt;： おやつの時間ですね。&lt;/p&gt;
                                    | &lt;p&gt;&lt;b&gt;花子&lt;/b&gt;： おいしいお菓子もたくさん用意して待っています。&lt;/p&gt;
                                figure='話者を<b>でマークアップしたもの。'
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')