include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;画像
						.panel-body
							.alert.alert-info 画像
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;img&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／エンベッディッドコンテンツ／インタラクティブコンテンツ（usemap属性を指定した場合）／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| エンベッディッドコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td - （置換要素として扱われることが期待される）
								tr
									td 属性
									td alt／arc／crossorigin／usemap／ismap／width／height／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p ※ 置換要素の構成するボックスはインラインブロックボックスと同じように扱われます。
							p='<img>は画像を示す要素です。src属性で画像ファイルのURLを、alt属性で代替テキストを示します。代替テキストは画像の内容を語句や文章で表したもので、画像から直接内容を抽出することができないソフトウェアや、画像表示をオフにした閲覧環境などで使用されます。そのため、画像を代替テキストに置き換えてもページの内容が変わらないようにすることが求められます。'
							p='たとえば、サンプルではサイト名をロゴ画像で、メインコンテンツをお茶とケーキの写真で、Twitterなどへのリンクをアイコン画像で表示し、alt属性で代替テキストを示しています。'
							p
								a.btn.btn-default(href='../demo/html/sample1/05/130.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;header&gt;
								| &lt;.id="header_inner"&gt;
								| &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
								| ...
								| &lt;/.gt;
								| &lt;/header&gt;
								| 
								| 
								| &lt;.id="main"&gt;
								| 
								| &lt;article&gt;
								| &lt;hgroup&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;h2&gt;ちょっとしたお茶の時間&lt;/h2&gt;
								| &lt;/hgroup&gt;
								| 
								| &lt;img src="img/tea.jpg" alt="テーブルに紅茶とケーキのセットをサーブしました。ケーキはパウンドケーキにチーズケーキ、チョコレートケーキにアイスクリームを添えて、紅茶は白いティーポットに入れてお出ししています。"&gt;
								| 
								| &lt;/article&gt;
								| 
								| &lt;aside&gt;
								| FOLLOW & SUBSCRIBE:
								| &lt;ul id="iconmenu"&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;/.gt;
							p='代替テキストは必ず用意することが求められていますが、画像が補足的なもので、前後に関連した内容を記述している場合や、画像が装飾的なものであることを示したい場合には、alt属性を空の値にすることができます。'
							p='たとえば、下のサンプルではサイト名をロゴ画像と文字の組み合わせで表示しています。この場合、ロゴ画像と文字の両方が「SUN DIARY」というサイト名を表していますので、ロゴ画像は補足的なものとしてalt属性の値を空にしています。また、本文中の写真は装飾目的で表示したものなため、こちらもalt属性の値を空にしています。'
							p
								a.btn.btn-default(href='../demo/html/sample1/05/131.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;header&gt;
								| &lt;.id="header_inner"&gt;
								| &lt;h1&gt;&lt;img src="img/logo-sun.png" alt=""&gt;SUN DIARY&lt;/h1&gt;
								| ...
								| &lt;/.gt;
								| &lt;/header&gt;
								| 
								| &lt;.id="main"&gt;
								| 
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| ...
							p='この他、<img>では次のような属性を利用することが可能です。'
							table.table
								tr
									th='<img>の属性'
									th 機能
								tr
									td alt
									td 代替テキストを指定。
								tr
									td src
									td 画像のURLを指定。
								tr
									td crossorigin
									td CORSに関する設定を指定。
								tr
									td usemap
									td イメージマップの設定を指定。
								tr
									td ismap
									td サーバーサイドイメージマップとして利用。
								tr
									td width
									td 画像の横幅を指定（単位：ピクセル）。
								tr
									td height
									td 画像の高さを指定（単位：ピクセル）。
							.alert.alert-success DIFFERENCES: 
							p='HTML4.01やXHTML1.0で定義されていたlongdesc、name、align、hspace、vspace属性はHTML5では廃止されています。'
							p='longdesc属性は画像について詳しく説明したページのURLを示すものでしたが、<a>によるリンクに置き換えることが推奨されています。name属性はid属性に置き換えることが可能です。また、その他の属性についてはスタイルシートの設定に置き換えるようにします。'
							.alert.alert-success IE NOTES: alt属性そのものを省略できるケース
							p='ライブカメラの映像から自動キャプチャした画像や、第三者がアップロードした画像のように、内容がわからない画像の場合はalt属性を省略することが認められています。ただし、こうしたケースにおいても、下のように<figure>と<figcaption>でキャプションをつけるなど、わかる範囲で画像に関する情報を示すことが求められています。'
							pre(class='prettyprint linenums:1')
								| &lt;figure&gt;
								| &lt;img src="img/20130115-00101.jpg"&gt;
								| &lt;figcaption&gt;
								| ライブカメラから見た風景（2013年1月15日）
								| &lt;/figcaptin&gt;
								| &lt;/figure&gt;
							.alert.alert-success IE NOTES: 代替テキストの書き方
							p='代替テキストの書き方については、W3Cの「HTML5: Techniques for providing useful text alternatives」という草案でもさまざまな事例が提示されており、参考にすることができます。'
							p
								| HTML5: Tequniques for providing useful text alternatives
								br
								a(href='http://www.w3.org/TR/html-alt-techniques/',target='_blank') http://www.w3.org/TR/html-alt-techniques/
							.alert.alert-success IE NOTES: widthとheight属性
							p='ブラウザは、画像データの読み込みが終わっていない場合でもWebページの表示を行います。このとき、widthとheigt属性で画像の横幅と高さを示しておくと、画像のスペースを確保してページが表示されます。'
							figure
								pre(class='prettyprint linenums:1')
									| &lt;img src="img/tea.jpg" alt=""&gt;
								figcaption widthとheight属性を指定していない場合：
							figure
								pre(class='prettyprint linenums:1')
									| &lt;img src="img/tea.jpg" alt="" width="640" height="327"&gt;
								figcaption widthとheight属性を指定している場合：
							.alert.alert-success IE NOTES: サーバーサイドイメージマップ
							p='画像をサーバーサイドイメージマップとして利用するためには、画像にリンクを設定し、ismap属性を指定します。これにより、画像をクリックするとリンク先にクリック位置の座標を送信することができるようになります。'
							p='たとえば、下のようにリンク先を「http://sun.web/map/」と指定した場合、画像をクリックすると「http://sun.web/map/?x座標.y座標」という形のURLへアクセスが発生します。そのため、リンク先には座標情報を取得し、サーバーサイドイメージマップの処理を行うスクリプトを用意しておく必要があります。'
							pre(class='prettyprint linenums:1')
								| &lt;a href="http://sun.web/map/"&gt;
								| &lt;img src="img/tea.jpg" alt="テーブルに紅茶とケーキのセットをサーブしました。ケーキはパウンドケーキにチーズケーキ、チョコレートケーキにアイスクリームを添えて、紅白は白いティーポットに入れてお出ししています。" ismap&gt;
								| &lt;/p&gt;
							.alert.alert-success IE NOTES: crossorigin属性
							p='corossorigin属性はCross Origin Resource Sharing（CROS）に関する設定を行うもので、下のような値を指定することができます。'
							p='Webブラウザは同一生成元ポリシー（Same Origin Policy）に従っており、クライアントサイドで処理されるWebアプリケーションなどのアクティブコンテンツは、アクティブコンテンツをダウンロードしたサーバーにしかアクセスすることができません。しかし、CORSを利用することにより、他のサーバーへもアクセスすることが可能になります。CORSについてはW3Cの「Cross-Origin Resource Sharing」で規定されていますので、詳しくは下記のサイトを参照してください。'
							p
								| Cross Origin Resource Shareing
								br
								a(href='http://www.w3.org/TR/cors/',target='_blank') http://www.w3.org/TR/cors/
							table.table
								tr
									th crossorigin属性
									th 機能
								tr
									td anonymous
									td CORSリクエストに認証情報を使用しない。
								tr
									td use-credentials
									td CORSリクエストに認証情報を使用する。
							.alert.alert-success IE NOTES: srcset属性
							P='<img>のsrcset属性は、HTML Living Standardで採用された属性です。W3CのHTML5やHTML5.1には採用されていませんが、「The srcset attribute」というEditor's Draftで提案されています。'
							p
								| The srcset attribute
								br
								a(href='http://dev.w3.org/html5/srcset/',target='_blank') http://dev.w3.org/html5/srcset/
							p='srcset属性を利用すると、複数の画像候補を用意し、デバイスごとに最適な画像を表示するように設定することができます。たとえば、下のように指定すると、densityが1.5のデバイスではtea-mid.jpgが、densityが2のデバイスではtea-hir.jpgが、densityが2でビューポートの横幅が320ピクセルの場合はtea-hir-320.jpgが表示されることになっています。'
							pre(class='prettyprint linenums:1')
								| &lt;img src="img/tea.jpg" alt="" srcset="img/tea-mid.jpg 1.5x, img/tea-hir.jpg 2x, img/tea-hir-320.jpg 320w 2x"&gt;
							p='なお、現在のところ各ブラウザは未対応となっています。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')