extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;資料
                    .panel-body
                        .alert.alert-info モバイル市場調査
                        pre.
                            Our Mobile Planet
                            http://www.thinkwithgoogle.com/mobileplanet/ja/

                            総務省　情報通信統計データベース
                            http://www.soumu.go.jp/johotsusintokei/

                            インプレスR&amp;D 市場調査ニュースリリース
                            http://www.impressrd.jp/

                            D2C 市場調査ニュースリリース
                            http://www.d2c.co.jp/news/
                        hr
                        .alert.alert-info Global Stats
                        - year = (new Date()).getFullYear();
                        - month = (new Date()).getMonth() + 1;
                        - month = ('0' + month).slice(-2);
                        h4 Operating System
                        pre.
                            日本
                            http://gs.statcounter.com/#os-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#os-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 Browser
                        pre.
                            日本
                            http://gs.statcounter.com/#browser-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#browser-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 Browser Version
                        pre.
                            日本
                            http://gs.statcounter.com/#browser_version-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#browser_version-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 <mark>Mobile OS</mark>
                        pre.
                            日本
                            http://gs.statcounter.com/#mobile_os-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#mobile_os-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 <mark>Mobile Browser</mark>
                        pre.
                            日本
                            http://gs.statcounter.com/#mobile_browser-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#mobile_browser-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 Mobile Vender
                        pre.
                            日本
                            http://gs.statcounter.com/#mobile_vendor-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#mobile_vendor-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 Mobile vs. Desktop
                        pre.
                            日本
                            http://gs.statcounter.com/#mobile_vs_desktop-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#mobile_vs_desktop-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 Screen Resolution
                        pre.
                            日本
                            http://gs.statcounter.com/#resolution-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#resolution-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        h4 <mark>Mobile Screen Resolution</mark>
                        pre.
                            日本
                            http://gs.statcounter.com/#mobile_resolution-JP-monthly-#{year}#{month}-#{year}#{month}-bar
                            世界
                            http://gs.statcounter.com/#mobile_resolution-ww-monthly-#{year}#{month}-#{year}#{month}-bar
                        hr
                        h4 スマートフォンUIフレームワーク
                        pre.
                            iUI
                            https://code.google.com/p/iui/

                            iScroll
                            http://cubiq.org/iscroll

                            jQuery Mobile
                            http://jquerymobile.com/

                            jQT
                            http://jqtjs.com/

                            Sencha Touch
                            http://www.sencha.com/products/touch

                            Wink Toolkit
                            http://www.winktoolkit.org/

                            Lungo
                            http://www.lungo.tapquo.com/

                            App-Framework
                            http://app-framework-software.intel.com/

                        pre.
                            スマートフォ向けJavaScriptライブラリ

                            quo.js
                            http://quojs.tapquo.com/
                            
                            Hammber.js
                            http://eightmedia.github.io/hammer.js/
                            
                            Zoery
                            https://github.com/StanAngeloff/zoey

                            jAction
                            http://jaction.info/

                            touchSlider
                            http://www.mobilizetoday.com/freebies/touchslider
                            
                            Respoinsive Table
                            http://www.zurb.com/playground/responsive-tables

                            glossy.js
                            http://www.netzgesta.de/glossy/

                            Zepto.js（jQeuryのセレクター機能のみ）
                            http://zeptojs.com/

                            jqMini（jQuery Mobileの画面遷移イベントのみ）
                            https://github.com/creatorish/jqMini

                            flickGal
                            http://stakam.net/jquery/flickgal/

                            flickGal jQueryプラグイン
                            stakamura
                            http://stakam.net/jquery/

                            flipsnap.js
                            http://pxgrid.github.com/js-flipsnap/

                            touchSlider
                            http://www.mobilizetoday.com/freebies/touchslider/
                        hr
                        pre
                            :code
                                ショートカットアイコン
                                ====================
                                114x114が万能
                                iOSテカリあり
                                <link rel="apple-touch-icon" href="images/siteicon.png">
                                iOSテカリなし
                                <link rel="apple-touch-icon-precomposed" href="images/siteicon.png">

                                サイズ別
                                <link rel="apple-touch-icon" href="images/siteicon.png">
                                <link rel="apple-touch-icon" size="72x72" href="images/siteicon.png">
                                <link rel="apple-touch-icon" size="114x114" href="images/siteicon.png">
                                iphone 3G 57x57
                                iphone 4 114x114
                                iPad 72x72
                                iPad Retina 144x144



                                スタートアップイメージ　（iOSのみ）
                                =============================
                                320x360が万能
                                iphone4、5では640x920も可

                                <link rel="apple-touch-startup-image" href="images/startup.png">


                                スタンドアローンモード（iOSのみ）
                                ===========================
                                アプリと同じように起動しアドレスバーが出ない。
                                ただし、aタグはブラウザが立ち上がるので、リンクはajax処理が必要


                                <meta name="apple-mobile-web-app-capable" content="yes">


                                アドレスバー消し（Safari、Android標準ブラウザ、Opera）
                                ===========================================
                                window.onload = function(){
                                     window.scrollTo(0,1);
                                };


                                ランドスケープモードでのテキストサイズ拡大を防ぐ（iOSのみ）
                                ================================================
                                body{
                                -webkit-text-size-adjust:none;
                                }

                                Android2.3未満、iOS5未満でposition:fixedが効かない
                                ========================================
                                iScrollを使う
                                http://cubiq.org/iscroll

                                Android3未満、iOS5未満でth,tdにposition:relativeが効かない
                                =================================
                                th/tdの子要素にdivを用意しdivにposition:relative

                                Androidでfont-weight:boldが効かない
                                ============================
                                テキストシャドウを使う
                                text-shadow:0 0 1px #000

                                Androidで背面要素がタップできてしまう
                                ==============================
                                クリックできなくする
                                $('E').click(function(){
                                return false;
                                });


                                iOSで200万px以上の画像が圧縮されてぼける
                                =================================
                                画像を2枚に分けて対応


                                一部のAndroid端末でinput要素にフォーカスするとlandscape用のCSSを読み込んでしまう
                                =================================
                                JavaSCriptでフォーカスしたときlandscape用のCSSを無効にする
                                <link rel="stylesheet" media="all and (orientation:portrait)" href="style.css">
                                <link rel="stylesheet" media="all and (orientation:landscape)" href="style.css">