extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;Nib リファレンス
					.panel-body
						.alert.alert-info 使い方
						p='Node.js アプリケーション内で使う方法もある様ですが、今回は .styl ファイルにインポートして stylus コマンドで .css ファイルを出力します。'
						p='1. test.styl ファイルにインポート'
						p='@import \'nib/vendor の様に必要なライブラリだけインポートすることも可能です。'
						pre
							| @import 'nib'
							| 
							| div
							|   border-radius 5px;
						p='2. stylus コマンドで .css ファイルを出力'
						p='-I（--include）オプションでライブラリへのパスを渡します。'
						pre
							| $ stylus test.styl -I path/to/nib/lib
						p Windows
						pre
							:code
								stylus test.styl -I C:\Users\ユーザ名\AppData\Roaming\npm\node_modules\nib\lib
						p nibのパスを環境変数に登録しておくと便利です。
						pre
							:code
								setx nib C:\Users\ユーザ名\AppData\Roaming\npm\node_modules\nib\lib
						p 環境変数にnibのパスを登録すると以下のように省略できます。
						pre
							:code
								stylus test.styl -I %nib%
						p='3. 以下のような text.css ファイルが出力されます'
						pre
							| div {
							|   -webkit-border-radius: 5px;
							|   -moz-border-radius: 5px;
							|   border-radius: 5px;
							| }
						.alert.alert-info グラデーション
						p='linear-gradient で背景色をグラデーションにします。node-canvas をインストールしていれば非対応のブラウザ用に png 画像を data url で出力することも可能です。'
						p='1. test.styl'
						pre
							| @import 'nib'
							| 
							| body
							|   background linear-gradient(top, white, black)
							| 
							| div
							|   background linear-gradient(600px (bottom left), white, red, blue, black)
							|   // 画像生成する場合は大きさを指定する
							|   // background: linear-gradient(大きさ 始点, 色)
						p='2. -u（--use）オプションを使って出力'
						p='画像生成する場合は --include ではなく --use オプションでモジュールへのパスを渡します。'
						pre
							| $ stylus test.styl -u path/to/nib/lib/nib
						p='3. 以下の様な text.css ファイルが出力されます'
						pre
							| body {
							|   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #000));
							|   background: -webkit-linear-gradient(top, #fff 0%, #000 100%);
							|   background: -moz-linear-gradient(top, #fff 0%, #000 100%);
							|   background: linear-gradient(top, #fff 0%, #000 100%);
							| }
							| 
							| div {
							|   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAJYCAIAAAAsaRvIAAAABmJLR0QA/wD/AP+gvaeTAAAAY0lEQVRIidWSMQrAMAwDz/r/lxt3MCQlU4ZQ5EEgIzhuMAAQqqDV9/y5uXh0cHTx6ODo4tHB0cVjbkAKUmJIDMWn7/fp5sLo4OjCuMjnIUioH5MqEavv9+nmwujg6MK4yyczX6ymoZXbwpB6AAAAAElFTkSuQmCC');
							|   background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #fff), color-stop(0.25, #f00), color-stop(0.5, #00f), color-stop(1, #000));
							|   background: -webkit-linear-gradient(bottom left, #fff 0%, #f00 25%, #00f 50%, #000 100%);
							|   background: -moz-linear-gradient(bottom left, #fff 0%, #f00 25%, #00f 50%, #000 100%);
							|   background: linear-gradient(bottom left, #fff 0%, #f00 25%, #00f 50%, #000 100%);
							| }
						.alert.alert-info clearfix
						p='clearfix 用のスタイルも簡単です。'
						p='.styl'
						pre
							| .clearfix
							|   clearfix()
						p='出力した .css'
						pre
							| .clearfix {
							|   zoom: 1;
							| }
							| .clearfix:before,
							| .clearfix:after {
							|   content: "";
							|   display: table;
							| }
							| .clearfix:after {
							|   clear: both;
							| }
						.alert.alert-info ボタン
						p='minimal, smooth, download, bold, pill といった、リンク・ボタンのスタイル用 mixin が用意されています。どんなものかは Extend Sylus with a Nib - TJ Holowaychuk - Components や Screenr - tjholowaychuk: Stylus - “nib” extensions library を参照して下さい。'