include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Emmet（旧Zen Coding）の使い方
						.panel-body
							h4 公式サイト
							p
								a(href='http://emmet.io/',target='_blank') http://emmet.io/
							hr
							h4 公式ドキュメント
							p 
								a(href='http://docs.emmet.io/',target='_blank') http://docs.emmet.io/
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_emmett', target='_blank') Emmet/Zen-coding入門
							hr
							h4 非公式Emmet/ZenCoding
							pre
								| 秀丸マクロ
								| http://exoego.net/archives/zencoding-in-hidemaru
								| 
								| Edge Code拡張
								| https://github.com/emmetio/emmet/downloads
								| 
								| Vidual Studio 2012プラグイン
								| http://visualstudiogallery.msdn.microsoft.com/175f4e5a-bcc4-4931-b3e6-164cb1e60277
							hr
							pre
								| ショートカットキー
								| 
								| Expand Abbreviation
								| Sublime Text （Tab）
								| 
								| Wrap with Abbreviation
								| Sublime Text （Ctrl + Alt + Enter）（control + option + return）
								| 
								| 
								| 省略形の展開
								| 
								| body
								| 
								| 
								| クラス属性の展開
								| 
								| p.honbun
								| 
								| 
								| 複数のクラスの展開
								| 
								| article.news.left
								| 
								| 
								| ID属性の展開
								| 
								| section#about
								| 
								| 
								| 属性の展開
								| 
								| table[border]
								| 
								| 
								| 属性値の展開
								| 
								| abbr[title=zen coding]
								| 
								| 
								| 親子関係の展開
								| 
								| article&lt;p
								| 
								| 
								| 1つ上の階層に戻る
								| &gt;
								| 2つ上の階層に戻る
								| &gt;&gt;
								| 
								| 
								| 兄弟関係の展開
								| 
								| dt+dd
								| 
								| 
								| 要素内テキスト
								| {}
								| 
								| 
								| 可能性の高い子要素の展開
								| 
								| ul+
								| table+
								| dl+
								| 
								| 
								| 同じ要素の複数展開
								| 
								| p*3
								| 
								| 
								| グループの同時展開
								| 
								| (div&lt;p)*3
								| 
								| 連番の見出しの同時展開
								| 
								| h$*3
								| 
								| 連番の属性の同時展開
								| p#topic-$*3
								| 
								| 
								| 2桁の連番の同時展開
								| 
								| p#topic-$$*3
								| 
								| 
								| 基本構造の展開
								| 
								| html:5
								| 
								| 
								| エスケープして展開
								| 
								| html:5|e
								| 
								| 
								| 2重にエスケープして展開
								| 
								| html:5|e|e
								| 
								| 
								| IDにコメントを追加して展開
								| 
								| section#news|c
								| 
								| 
								| タグで包む
								| 
								| ul&lt;li*&lt;a
								| 
								| 
								| cssの展開
								| 
								| bgc
								| 
								| cssの値を同時に展開
								| d:b
								| 
								| :の後にスペースを空けて展開
								| 
								| fl:l|fc
								| 
								| 
								| cssの特殊構文
								| @i
								| 

							p='C:\\Users\\3608-00\\AppData\\Roaming\\Sublime Text 2\\Packages\\Emmet\\emmet\\snippet.json'
							pre(class='prettyprint linenums:1')
								| {
								|      "variables": {
								|           "lang": "<mark>ja</mark>",
								|           "locale": "<mark>ja-JP</mark>",
								|           "charset": "UTF-8",
								|           "indentation": "\t",
								|           "newline": "\n"
								|      },
								|     
								| ...
								|     
								|      "html": {
								|           "filters": "html",
								|           "profile": "html",
								|           "snippets": {
								|                "!!!":    "&lt;!<mark>DOCTYPE</mark> html&gt;",
								|                "!!!4t":  "&lt;!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\" \"http://www.w3.org/TR/html4/loose.dtd\"&gt;",
								|                "!!!4s":  "&lt;!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\"&gt;",
								|                "!!!xt":  "&lt;!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"&gt;",
								|                "!!!xs":  "&lt;!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"&gt;",
								|                "!!!xxs": "&lt;!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.1//EN\" \"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd\"&gt;",
								| 
								|                "c": "&lt;!-- |${child} --&gt;",
								|                "cc:ie6": "&lt;!--[if lte IE 6]&gt;\n\t${child}|\n&lt;![endif]--&gt;",
								|                "cc:ie": "&lt;!--[if IE]&gt;\n\t${child}|\n&lt;![endif]--&gt;",
								|                "cc:noie": "&lt;!--[if !IE]&gt;&lt;!--&gt;\n\t${child}|\n&lt;!--&lt;![endif]--&gt;"
								|           },
								|          
								| ...
								| }
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')