include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Jade Languageリファレンス
						div.panel-body
							div.alert.alert-info doctype
							p DOCTYPEを追加するには、「doctype」に続けてオプションに「html」を記述してコンパイルします。略すと「!!!」」と記述できます。
							div.row
								div.col-sm-6
									pre doctype html
								div.col-sm-6
									pre='<!DOCTYPE html>'
								div.col-sm-6
									pre !!!
								div.col-sm-6
									pre='<!DOCTYPE html>'
							p よく使われるdoctypeの短縮形です。
							table.table
								tr
									td xml
									td='<?xml version="1.0" encoding="utf-8" ?>'
								tr
									td transitional
									td='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'
								tr
									td strict
									td='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
								tr
									td frameset
									td='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">'
								tr
									td 1.1
									td='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">'
								tr
									td basic
									td='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">'
								tr
									td mobile
									td='<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">'
							p 独自のdoctypeの記述できます。
							div.row
								div.col-sm-6
									pre='doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"'
								div.col-sm-6
									pre='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN">'
							hr
							div.alert.alert-info Tags
							p 行の最初のテキストはhtmlタグを表します。また、htmlのツリー構造を作るには、インデントを加えたタグをネストさせます。
							div.row
								div.col-sm-6
									pre
										| ul
										| 	li
										| 	li
										| 	li
								div.col-sm-6
									pre
										| &lt;ul&gt;
										| 	&lt;li&gt;&lt;/li&gt;
										| 	&lt;li&gt;&lt;/li&gt;
										| 	&lt;li&gt;&lt;/li&gt;
										| &lt;/ul&gt;
							p jadeは終了タグを持たないタグを判別できます。
							div.row
								div.col-sm-6
									pre
										| img
								div.col-sm-6
									pre
										| &lt;img&gt;
							hr
							div.alert.alert-info Block Expansion
							div.alert.alert-info Attributes
							div.alert.alert-info Boolean Attributes
							div.alert.alert-info Class Attributes
							div.alert.alert-info Class Literal
							div.alert.alert-info ID Literal
							div.alert.alert-info Plain Text
							div.alert.alert-info Piped Text
							div.alert.alert-info Inline in a Tag
							div.alert.alert-info Block in a Tag
							div.alert.alert-info Code
							div.alert.alert-info Unbuffered Code
							div.alert.alert-info Buffered Code
							div.alert.alert-info Unescaped Buffered Code
							div.alert.alert-info Comments
							div.alert.alert-info Block Comments
							div.alert.alert-info Conditionals
							div.alert.alert-info Iteration
							div.alert.alert-info Case
							div.alert.alert-info Block Expansion
							div.alert.alert-info Filters
							div.alert.alert-info Mixins
							div.alert.alert-info Mixin Attributes
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')