extends ../../layout

block link
	link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../../css/style.css',rel='stylesheet',media='screen')
	link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;GENNYMOTION資料
					.panel-body
						p
							| GENNYMOTION 公式サイト
							br
							a(href='http://www.genymotion.com/',target='_blank')
								| http://www.genymotion.com/
						hr
						h4 windows
						p='VirtualBoxを起ち上げて、「ファイル-> 環境設定->ネットワーク->ホストオンリーネットワーク」を開きます。'
						p='「VirtualBox Host-Only Ethernet Adapter #2」をダブルクリックします。'
						p='「アダプター」を以下のように設定します。'
						dl
							dt IPv4 アドレス
							dd 192.168.57.1
							dt IPv4 ネットマスク
							dd 255.255.255.0
							dt IPv6 アドレス
							dd 空
							dt IPv6 ネットマスク長
							dd 空
						p='続いて「DHCPサーバー」を以下のように設定します。'
						dl
							dt サーバーアドレス
							dd 192.168.57.100
							dt サーバーマスク
							dd 255.255.255.0
							dt アドレス上限
							dd 192.168.57.100
							dt サーバー下限
							dd 192.168.57.254
						p='「OK」ボタンを押します。'
						p 作成したAndroidの仮想マシンを選択した状態で、設定ボタンを押します。
						p='「ネットワーク->アダプタ1」を選んだ状態で、割り当てに「ホストオンリーアダプター」、名前に先ほど作成した「VirtualBox Host-Only Ethernet Adapter #2」を選択し「OK」ボタンを押します。'

